HVAC Backup 2/flows/Account_Data_Mapping_Data_Loader.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Billing_Street_without_double_Quote</name>
        <label>Assign Billing Street without double Quote</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cleaned_Text_Billing_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Commercial_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group</name>
        <label>Assign Group</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAMO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_record_type_commercial</name>
        <label>Assign record type commercial</label>
        <locationX>446</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Commercial_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_type_Residential</name>
        <label>Assign Record type Residential</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Residential_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Group</name>
        <label>Assign Group</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Government</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Group</name>
        <label>Assign Group</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NON NAMO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_BE_Type</name>
        <label>Check BE Type</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_record_type_commercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Residential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BE_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_type_Residential</targetReference>
            </connector>
            <label>Residential</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Group</name>
        <label>Check Group</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group_Backend__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group</targetReference>
            </connector>
            <label>NAMO</label>
        </rules>
        <rules>
            <name>Goverment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group_Backend__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Group</targetReference>
            </connector>
            <label>Goverment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cleaned_Text_Billing_Street</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.BillingStreet}, &apos;&quot;&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Account Data Mapping(Data Loader) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Data Mapping(Data Loader)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Commercial_Record_Type</name>
        <label>Get  Commercial Record Type</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Residential_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial_Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Residential_Record_Type</name>
        <label>Get  Residential Record Type</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BE_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential_Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Billing_Street_without_double_Quote</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
