HVAC Backup 2/flows/Account_Customer_Details_Address.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_send_SMS</name>
        <label>send SMS</label>
        <locationX>1084</locationX>
        <locationY>1406</locationY>
        <actionName>InvocableSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_OTPValidationScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>phoneNumbers</name>
            <value>
                <elementReference>ContactNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Account Update Residential</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InvocableSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_send_SMS</name>
        <label>send SMS</label>
        <locationX>2140</locationX>
        <locationY>2978</locationY>
        <actionName>InvocableSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_OTPValidationScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>phoneNumbers</name>
            <value>
                <elementReference>ContactNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Account Update Residential</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InvocableSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_send_SMS</name>
        <label>send SMS</label>
        <locationX>3724</locationX>
        <locationY>1406</locationY>
        <actionName>InvocableSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_3_of_OTPValidationScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>phoneNumbers</name>
            <value>
                <elementReference>ContactNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Account Update Residential</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InvocableSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailOTPForAssetAddressUpdate</name>
        <label>EmailOTPForAssetAddressUpdate</label>
        <locationX>2008</locationX>
        <locationY>2678</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_Update_Account_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recordId.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>OTP to verify asset address updates.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForAssetAddressUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailOTPForContactUpdate</name>
        <label>EmailOTPForContactUpdate</label>
        <locationX>3592</locationX>
        <locationY>1106</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_3_of_Update_Account_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recordId.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>OTP to verify contact update.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForContactUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailOTPForCustomerAddressUpdate</name>
        <label>EmailOTPForCustomerAddressUpdate</label>
        <locationX>952</locationX>
        <locationY>1106</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Account_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recordId.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>OTP to verify address update.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForCustomerAddressUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailOTPForCustomerDetailsUpdate</name>
        <label>EmailOTPForCustomerDetailsUpdate</label>
        <locationX>72</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Account_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recordId.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>OTP to verify details update.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForCustomerDetailsUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GetOtp</name>
        <label>GetOtp</label>
        <locationX>204</locationX>
        <locationY>674</locationY>
        <actionName>OtpServiceClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Exist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>OtpServiceClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetOtp_for_asset_address</name>
        <label>GetOtp for asset address</label>
        <locationX>2140</locationX>
        <locationY>2462</locationY>
        <actionName>OtpServiceClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_Email_Exist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>OtpServiceClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetOtp_for_contact_update</name>
        <label>GetOtp for contact update</label>
        <locationX>3724</locationX>
        <locationY>890</locationY>
        <actionName>OtpServiceClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_3_of_Email_Exist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>OtpServiceClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetOtp_for_customer_address</name>
        <label>GetOtp for customer address</label>
        <locationX>1084</locationX>
        <locationY>890</locationY>
        <actionName>OtpServiceClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Email_Exist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>OtpServiceClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>send_SMS</name>
        <label>send SMS</label>
        <locationX>204</locationX>
        <locationY>1190</locationY>
        <actionName>InvocableSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OTPValidationScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>phoneNumbers</name>
            <value>
                <elementReference>ContactNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Account Update Residential</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InvocableSendSMS</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asset_Ids</name>
        <label>Asset Ids</label>
        <locationX>2228</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>AssetsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_loop_over_selected_asset.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_loop_over_selected_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Number</name>
        <label>Assign Contact Number</label>
        <locationX>2140</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ContactNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Details_Address_updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAssetsToVariable</name>
        <label>AssignAssetsToVariable</label>
        <locationX>2228</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>assetsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_selected_asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_selected_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdatedValues</name>
        <label>AssignUpdatedValues</label>
        <locationX>2228</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.Sector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.Shipping_Sector__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.Shipping_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactSelection.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.Sub_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.Shipping_Sublocality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_selected_asset.House_Flat_BlockNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.Shipping_House_Flat_BlockNo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAssetsToVariable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddressUpdate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255);&quot;&gt;Address Update&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Address Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>AssetAddresses</name>
        <choiceText>Asset Addresses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asset Addresses</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactDetails</name>
        <choiceText>Contact Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerBillingAddress</name>
        <choiceText>Customer Shipping Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Shipping Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerDetailUpdate</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Customer Detail Update&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Detail Update</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Address_Present</name>
        <label>Address Present?</label>
        <locationX>1348</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CustomerBillingAddressInput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>autolaunchLWC.pincode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOtp_for_customer_address</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Category_VIP</name>
        <label>Category VIP</label>
        <locationX>3460</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Owned_By_Me__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_is_KAM</name>
        <label>Check if user is KAM</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>GetOtp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KAM_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BSL KAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BSL SDE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BSL SDH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccountDetails</targetReference>
            </connector>
            <label>KAM User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Email_Exist</name>
        <label>Email Exist ?</label>
        <locationX>1084</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Account_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOTPForCustomerAddressUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Email_Exist</name>
        <label>Email Exist ?</label>
        <locationX>2140</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Account_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOTPForAssetAddressUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Email_Exist</name>
        <label>Email Exist ?</label>
        <locationX>3724</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Update_Account_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOTPForContactUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Details_Address_updates</name>
        <label>Customer Details/ Address updates</label>
        <locationX>2140</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerDetailUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerDetailsCaptureScreen</targetReference>
            </connector>
            <label>Customer Details</label>
        </rules>
        <rules>
            <name>Address_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddressUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddressScreen</targetReference>
            </connector>
            <label>Address update</label>
        </rules>
        <rules>
            <name>Contact_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactDetails</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Category_VIP</targetReference>
            </connector>
            <label>Contact update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Exist</name>
        <label>Email Exist ?</label>
        <locationX>204</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Account_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOTPForCustomerDetailsUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Otp</name>
        <label>Otp?</label>
        <locationX>204</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>OTP_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_OTP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetOtp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccountDetails</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>otp_decision_for_asset_address</name>
        <label>otp decision for asset address</label>
        <locationX>2140</locationX>
        <locationY>3194</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_OTP_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Match</defaultConnectorLabel>
        <rules>
            <name>Matchxx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_OTP_to_verify_Assets_address_updates</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetOtp_for_asset_address</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_asset</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>otp_decision_for_contact_update</name>
        <label>otp decision for contact update</label>
        <locationX>3724</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_OTP_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Match</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_OTP_to_verify_contact_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetOtp_for_contact_update</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>otp_decision_for_customer_address</name>
        <label>otp decision for customer address</label>
        <locationX>1084</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_OTP_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Match</defaultConnectorLabel>
        <rules>
            <name>Matchx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_OTP_to_verify_customer_billing_address_updates</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetOtp_for_customer_address</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCustomerAddress</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_address_to_update</name>
        <label>which address to update</label>
        <locationX>2140</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerBillingAddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerBillingAddressInput</targetReference>
            </connector>
            <label>Customer Billing Address</label>
        </rules>
        <rules>
            <name>Asset_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssetAddresses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Record_Type</targetReference>
            </connector>
            <label>Asset Address</label>
        </rules>
    </decisions>
    <description>OTP bypass for KAM user, bypassed email for residential customer</description>
    <dynamicChoiceSets>
        <name>BillingStateCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingStateCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingCountryCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SectorChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Sector__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>contactName</name>
        <dataType>String</dataType>
        <expression>{!First_Name} + &apos; &apos; + {!Last_Name}</expression>
    </formulas>
    <formulas>
        <name>OTPMatchOrMismatch</name>
        <dataType>String</dataType>
        <expression>IF(NOT( ISBLANK({!Enter_OTP})) &amp;&amp; {!Enter_OTP} == {!GetOtp}, &apos;OTP Match. Please click on verify to proceed.&apos;, &apos; Enter valid OTP.&apos;)</expression>
    </formulas>
    <formulas>
        <name>OTPMatchOrMismatchCustomerAddress</name>
        <dataType>String</dataType>
        <expression>IF(NOT( ISBLANK({!Enter_OTP_to_verify_customer_billing_address_updates})) &amp;&amp; {!Enter_OTP_to_verify_customer_billing_address_updates} == {!GetOtp_for_customer_address} , &apos;OTP Match. Please click on verify to proceed.&apos;, &apos; Enter valid OTP.&apos;)</expression>
    </formulas>
    <formulas>
        <name>OTPMatchOrMismatchForAssetUpdates</name>
        <dataType>String</dataType>
        <expression>IF(NOT( ISBLANK({!Enter_OTP_to_verify_Assets_address_updates})) &amp;&amp; {!Enter_OTP_to_verify_Assets_address_updates} == {!GetOtp_for_asset_address} , &apos;OTP Match. Please click on verify to proceed.&apos;, &apos; Enter valid OTP.&apos;)</expression>
    </formulas>
    <interviewLabel>Account : Customer Details/ Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : Customer Details/ Address</label>
    <loops>
        <name>Copy_1_of_loop_over_selected_asset</name>
        <label>loop over selected asset</label>
        <locationX>2140</locationX>
        <locationY>1646</locationY>
        <collectionReference>RelatedAsset.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Component_and_Subcomponent_assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_selected_asset</name>
        <label>loop over selected asset</label>
        <locationX>2140</locationX>
        <locationY>2054</locationY>
        <collectionReference>get_Component_and_Subcomponent_assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignUpdatedValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOtp_for_asset_address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset_Record_Type</name>
        <label>Get Asset Record Type</label>
        <locationX>2140</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Component_and_Subcomponent_assets</name>
        <label>get Asset, Component and Subcomponent assets</label>
        <locationX>2140</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_selected_asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RootAssetId</field>
            <operator>In</operator>
            <value>
                <elementReference>AssetsIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>2140</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contactDataTable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountSelection.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>1964</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Asset</name>
        <label>Get Related Asset</label>
        <locationX>2140</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedAssetx</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>3724</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Data_Table_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Residential_Account_Record_Type</name>
        <label>Get Residential Account Record Type</label>
        <locationX>2140</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Residential_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential_Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Residential_Accounts</name>
        <label>Get Residential Accounts</label>
        <locationX>2140</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>accountsDataTable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Residential_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Pincode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Account_variable</name>
        <label>Update Account variable</label>
        <locationX>1084</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Copy_1_of_send_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Update_OTP__c</field>
            <value>
                <elementReference>GetOtp_for_customer_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Change__c</field>
            <value>
                <stringValue>change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Account_Details_Address__c</field>
            <value>
                <stringValue>address details</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Account_variable</name>
        <label>Update Account variable</label>
        <locationX>2140</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Copy_2_of_send_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Update_OTP__c</field>
            <value>
                <elementReference>GetOtp_for_asset_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Change__c</field>
            <value>
                <stringValue>change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Account_Details_Address__c</field>
            <value>
                <stringValue>asset address</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Account_variable</name>
        <label>Update Account variable</label>
        <locationX>3724</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Copy_3_of_send_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Update_OTP__c</field>
            <value>
                <elementReference>GetOtp_for_contact_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Change__c</field>
            <value>
                <stringValue>update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Account_Details_Address__c</field>
            <value>
                <stringValue>contact details</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>3460</locationX>
        <locationY>1838</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShowContacts.firstSelectedRow.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShowContacts.firstSelectedRow.Phone</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>contactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_variable</name>
        <label>Update Account variable</label>
        <locationX>204</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>send_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Update_OTP__c</field>
            <value>
                <elementReference>GetOtp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Change__c</field>
            <value>
                <stringValue>change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Account_Details_Address__c</field>
            <value>
                <stringValue>customer details</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_asset</name>
        <label>Update asset</label>
        <locationX>1876</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>AssetAddressSuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>assetsToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>3460</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShowContacts.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>2072</locationY>
        <connector>
            <targetReference>CustomerDetailSuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>SecondaryPhoneNo.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>SecondaryPhoneNo.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountDetails</name>
        <label>UpdateAccountDetails</label>
        <locationX>50</locationX>
        <locationY>1856</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Phone_No__c</field>
            <value>
                <elementReference>SecondaryPhoneNo.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCustomerAddress</name>
        <label>UpdateCustomerAddress</label>
        <locationX>820</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>CustomerAddressSuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>autolaunchLWC.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>autolaunchLWC.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>autolaunchLWC.pincode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>autolaunchLWC.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>autolaunchLWC.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_House_Flat_BlockNo__c</field>
            <value>
                <elementReference>autolaunchLWC.flat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Locality__c</field>
            <value>
                <elementReference>autolaunchLWC.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Sector__c</field>
            <value>
                <elementReference>autolaunchLWC.sector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Sublocality__c</field>
            <value>
                <elementReference>autolaunchLWC.sublocality</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>accountsDataTable</name>
        <label>accountsDataTable</label>
        <locationX>2140</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>AccountSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Residential_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3904&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ShippingPostalCode&quot;,&quot;guid&quot;:&quot;column-8fc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Pincode&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Shipping Zip/Postal Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ShippingStreet&quot;,&quot;guid&quot;:&quot;column-b767&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Shipping Street&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddressScreen</name>
        <label>AddressScreen</label>
        <locationX>2140</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>which_address_to_update</targetReference>
        </connector>
        <fields>
            <name>AddressChoice</name>
            <choiceReferences>AssetAddresses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AddressChoice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AssetAddressSuccessScreen</name>
        <label>AssetAddressSuccessScreen</label>
        <locationX>1876</locationX>
        <locationY>3410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The address of the selected assets has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>contactDataTable</name>
        <label>contactDataTable</label>
        <locationX>2140</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_loop_over_selected_asset</targetReference>
        </connector>
        <fields>
            <name>contactSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a0af&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-9138&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Pincode&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Primary Phone No.&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-49d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_OTP_error_screen</name>
        <label>OTP error screen</label>
        <locationX>2404</locationX>
        <locationY>3302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_OTPValidationScreen</targetReference>
        </connector>
        <fields>
            <name>OTPErrorScreeenforassetAddress</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;OTP is not valid. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_OTP_error_screen</name>
        <label>Copy 1 of OTP error screen</label>
        <locationX>1348</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_OTPValidationScreen</targetReference>
        </connector>
        <fields>
            <name>OTPErrorScreeenforcustomerAddress</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;OTP is not valid. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_OTPValidationScreen</name>
        <label>OTPValidationScreen</label>
        <locationX>1084</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>otp_decision_for_customer_address</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_OTPValidationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_OTPValidationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_OTPValidationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_OTP_to_verify_customer_billing_address_updates</name>
                    <dataType>String</dataType>
                    <fieldText>Enter OTP to verify customer billing address updates.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ResentOTPAddress</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Resend OTP</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>ResentOTPAutoLaunchAddress.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>ResentOTPAutoLaunchAddress.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_OTPValidationScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Verify</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_OTP_error_screen</name>
        <label>OTP error screen</label>
        <locationX>3988</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_3_of_OTPValidationScreen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_OTPErrorScreeenforassetAddress</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;OTP is not valid. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_OTPValidationScreen</name>
        <label>OTPValidationScreen</label>
        <locationX>2140</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>otp_decision_for_asset_address</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_OTPValidationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_OTPValidationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_OTPValidationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_OTP_to_verify_Assets_address_updates</name>
                    <dataType>String</dataType>
                    <fieldText>Enter OTP to verify Assets address updates.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ResendOTPAssetAddress</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Resend OTP</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>ResentOTPAutoLaunchAssetAddress.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>ResentOTPAutoLaunchAssetAddress.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_OTPValidationScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Verify</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_OTPValidationScreen</name>
        <label>OTPValidationScreen</label>
        <locationX>3724</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>otp_decision_for_contact_update</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_OTPValidationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_OTPValidationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_OTPValidationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_OTP_to_verify_contact_update</name>
                    <dataType>String</dataType>
                    <fieldText>Enter OTP to verify contact update</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ResendOTPContact</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Resend OTP</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>ResentOTPAutoLaunchContact.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>ResentOTPAutoLaunchContact.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_OTPValidationScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Verify</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CustomerAddressSuccessScreen</name>
        <label>CustomerAddressSuccessScreen</label>
        <locationX>820</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The shipping address of the customer has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CustomerBillingAddressInput</name>
        <label>CustomerBillingAddressInput</label>
        <locationX>1348</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Present</targetReference>
        </connector>
        <fields>
            <name>addressMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; Please save the address then click on    next.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomerBillingAddressInput_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CustomerBillingAddressInput_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>autolaunchLWC</name>
                    <extensionName>c:autolaunchAddress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>calledFromFlow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>recordId.ShippingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>recordId.ShippingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flat</name>
                        <value>
                            <elementReference>recordId.Shipping_House_Flat_BlockNo__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>locality</name>
                        <value>
                            <elementReference>recordId.Shipping_Locality__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pincode</name>
                        <value>
                            <elementReference>recordId.ShippingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sector</name>
                        <value>
                            <elementReference>recordId.Shipping_Sector__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>recordId.ShippingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublocality</name>
                        <value>
                            <elementReference>recordId.Shipping_Sublocality__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>state</name>
                        <value>
                            <elementReference>recordId.ShippingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CustomerDetailsCaptureScreen</name>
        <label>CustomerDetailsCaptureScreen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_user_is_KAM</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[\d]{10,10}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SecondaryPhoneNo</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Phone No.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Secondary_Phone_No__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[\d]{10,10}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Email__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Verify</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CustomerDetailSuccessScreen</name>
        <label>CustomerDetailSuccessScreen</label>
        <locationX>50</locationX>
        <locationY>2180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Customer Details are updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>3196</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Only Account Owner can edit the VIP contacts.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>556</locationX>
        <locationY>1964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 23, 23);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTP_error_screen</name>
        <label>OTP error screen</label>
        <locationX>292</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>OTPValidationScreen</targetReference>
        </connector>
        <fields>
            <name>OTPErrorScreeen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;OTP is not valid. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OTPValidationScreen</name>
        <label>OTPValidationScreen</label>
        <locationX>204</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Otp</targetReference>
        </connector>
        <fields>
            <name>OTPValidationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OTPValidationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OTPValidationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_OTP</name>
                    <dataType>String</dataType>
                    <fieldText>Enter OTP to verify updates.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ResendOTP</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Resend OTP</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>ResentOTPAutoLaunch.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>ResentOTPAutoLaunch.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OTPValidationScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Verify</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RelatedAssetx</name>
        <label>RelatedAsset</label>
        <locationX>2140</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Screen</targetReference>
        </connector>
        <fields>
            <name>RelatedAsset</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Assets to update address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Asset</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f7ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Address&quot;,&quot;guid&quot;:&quot;column-79ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Address&quot;,&quot;type&quot;:&quot;customAddress&quot;},{&quot;apiName&quot;:&quot;Sector__c&quot;,&quot;guid&quot;:&quot;column-8bc6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Sector&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-d095&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RelatedAssetx_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RelatedAssetx_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Screen</name>
        <label>Search Screen</label>
        <locationX>2140</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Residential_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Search_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Search_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Search_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Search Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Search_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Search_Pincode</name>
                    <dataType>String</dataType>
                    <fieldText>Search Pincode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectScreen</name>
        <label>SelectScreen</label>
        <locationX>2140</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Contact_Number</targetReference>
        </connector>
        <fields>
            <name>Select</name>
            <choiceReferences>CustomerDetailUpdate</choiceReferences>
            <choiceReferences>AddressUpdate</choiceReferences>
            <choiceReferences>ContactDetails</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Contact</name>
        <label>Show Contact</label>
        <locationX>3724</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetOtp_for_contact_update</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShowContacts.firstSelectedRow.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShowContacts.firstSelectedRow.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ShowContacts.firstSelectedRow.Phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ShowContacts.firstSelectedRow.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Data_Table_Screen</name>
        <label>Show Data Table Screen</label>
        <locationX>3724</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Show_Contact</targetReference>
        </connector>
        <fields>
            <name>ShowContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-2f44&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-01bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-4267&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-237b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Primary Phone No.&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2014</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyForAssetAddressUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear User,&lt;/p&gt;&lt;p&gt;To verify the address update for your asset, please enter the following One-Time Password (OTP): &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetOtp_for_asset_address}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;If you did not request this code or have any questions, please contact our support team.&lt;/p&gt;&lt;p&gt;Thank you for choosing our service.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Blue Star Ltd.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyForContactUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear User,&lt;/p&gt;&lt;p&gt;To verify the contact update for your Account, please enter the following One-Time Password (OTP): {!GetOtp_for_contact_update}&lt;/p&gt;&lt;p&gt;If you did not request this code or have any questions, please contact our support team.&lt;/p&gt;&lt;p&gt;Thank you for choosing our service.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Blue Star Ltd.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyForCustomerAddressUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear User,&lt;/p&gt;&lt;p&gt;To verify the address update for your Account, please enter the following One-Time Password (OTP): {!GetOtp_for_customer_address}&lt;/p&gt;&lt;p&gt;If you did not request this code or have any questions, please contact our support team.&lt;/p&gt;&lt;p&gt;Thank you for choosing our service.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Blue Star Ltd.Dear User,&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyForCustomerDetailsUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear User,&lt;/p&gt;&lt;p&gt;To verify the details update for your Account, please enter the following One-Time Password (OTP): {!GetOtp}&lt;/p&gt;&lt;p&gt;If you did not request this code or have any questions, please contact our support team.&lt;/p&gt;&lt;p&gt;Thank you for choosing our service.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Blue Star Ltd.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AddressrecordTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>AddressToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>AssetsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ContactNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
