HVAC Backup 2/flows/Add_Content_Document_From_Work_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_New_Content_Document_Link</name>
        <label>Assign New Content Document Link</label>
        <locationX>572</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink1.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink1.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink1.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_the_List</name>
        <label>Assign to the List</label>
        <locationX>572</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>CDLIST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Content_Document_Link</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_File_Name</name>
        <label>Check File Name</label>
        <locationX>704</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Content_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDU_ODU_Assets_Files__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Over_Content_Document_Link.ContentDocument.Title</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Content_Document_Link</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_size</name>
        <label>Check size</label>
        <locationX>484</locationX>
        <locationY>984</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CDLIST</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Links</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add Content Document From Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Content Document From Work Order</label>
    <loops>
        <name>Loop_Over_Content_Document_Link</name>
        <label>Loop Over Content Document Link</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_File_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_size</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Links</name>
        <label>Create Links</label>
        <locationX>352</locationX>
        <locationY>1092</locationY>
        <inputReference>CDLIST</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Ticket__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IDU_ODU_Assets_Files__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Content_Document_Link</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CDLIST</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLink1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
