HVAC Backup 2/flows/Add_Attendance_Autolaunched_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Add Attendance Autolaunched Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Attendance Autolaunched Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attendance</name>
        <label>Create Attendance</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputReference>Assign_Attendance</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Attendance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Assign_Attendance</name>
        <label>Assign Attendance</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Create_Attendance</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Attendance__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Contact__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Selected_Technicians[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Attendance__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Logged_Time__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>DateTime</formulaDataType>
                    <formulaExpression>NOW()</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Selected_Technicians</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
