HVAC Backup 2/flows/Advance_Approval_Submit_Screen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_submitForApproval</name>
        <label>Copy 1 of submitForApproval</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <actionName>SubmitApprovalsCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Approval_Comment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SubmitApprovalsCtrl</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>submitForApproval</name>
        <label>submitForApproval</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>SubmitApprovalsCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Submitted_Discount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SubmitApprovalsCtrl</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Auto_Approved</name>
        <label>Auto Approved</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Discount_Changed_and_Contract_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesx</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Discount_L__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Discount_L__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Contract_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EFM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_discount_message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Eligibility</name>
        <label>Checking Eligibility</label>
        <locationX>1502</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Cost_sheet_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Opportunity2__r.Cost_sheet_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_for_Approvals</targetReference>
            </connector>
            <label>Eligible for Approval</label>
        </rules>
        <rules>
            <name>Eligible_But_no_cost_sheet_uploaded</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Cost_sheet_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Opportunity2__r.Cost_sheet_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.EGM_Percent_Formula__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Submitted_Discount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.Discount_L__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cost_sheet_Message</targetReference>
            </connector>
            <label>Eligible But no cost sheet uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_for_Approvals</name>
        <label>Checking for Approvals</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_status_as_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_Of_the_Approval_EGM_Or_Discount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.EGM_Percent_Formula__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Submitted_Discount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.Discount_L__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_EnterComments</targetReference>
            </connector>
            <label>Any Of the Approval EGM Or Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discount_Changed_and_Contract_Type</name>
        <label>Discount Changed and Contract Type</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Change_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Discount_Change_Of_Non_EFM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Submitted_Discount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.Discount_L__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Contract_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EFM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnterComments</targetReference>
            </connector>
            <label>Discount Change Of Non EFM</label>
        </rules>
        <rules>
            <name>Contract_Type_EFM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EFM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_Eligibility</targetReference>
            </connector>
            <label>Contract Type EFM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submission_Required</name>
        <label>Submission Required</label>
        <locationX>1535</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Discount_Approval_in_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Discounting_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Discounting_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Discounting_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Advance Approval Submit Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advance Approval Submit Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>1535</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submission_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Current_User</name>
        <label>Copy 1 of Update Current User</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Copy_1_of_submitForApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SubmittedUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Comment</name>
        <label>Update Approval Comment</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Copy_1_of_Successfull_Submission_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Submission_Comments__c</field>
            <value>
                <elementReference>Copy_1_of_Enter_Comments</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_User</name>
        <label>Update Current User</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>submitForApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SubmittedUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_status_as_Approved</name>
        <label>Update Quote status as Approved</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_No_Change_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_Discount</name>
        <label>Update Submitted Discount</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Successfull_Submission_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Submission_Comments__c</field>
            <value>
                <elementReference>Enter_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_Discount__c</field>
            <value>
                <elementReference>Get_Quote.Discount_L__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_EnterComments</name>
        <label>Copy 1 of EnterComments</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_Current_User</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_EnterComments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_EnterComments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Enter_Comments</name>
                    <dataType>String</dataType>
                    <fieldText>Enter Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_EnterComments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Message</name>
        <label>Copy 1 of Error Message</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_No_Change_Screen</name>
        <label>Copy 1 of No Change Screen</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ChangeDiscountMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 137, 20);&quot;&gt;EGM% is not eligible for Approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Successfull_Submission_Message</name>
        <label>Copy 1 of Successfull Submission Message</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 137, 20);&quot;&gt;Successfully submitted for approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cost_sheet_Message</name>
        <label>Cost sheet Message</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_ChangeDiscountMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 137, 20);&quot;&gt;Before Submitting for Approval please add the Cost sheet on either CPQ Quote or Opportunity.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Discount_Approval_in_Progress</name>
        <label>Discount Approval in Progress</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApprovalMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(54, 140, 7);&quot;&gt;The quote is already in approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EnterComments</name>
        <label>EnterComments</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Current_User</targetReference>
        </connector>
        <fields>
            <name>EnterComments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EnterComments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_Comments</name>
                    <dataType>String</dataType>
                    <fieldText>Enter Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EnterComments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Change_Screen</name>
        <label>No Change Screen</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChangeDiscountMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 137, 20);&quot;&gt;Change the discount then submit.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_discount_message</name>
        <label>No discount message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoDiscountMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 137, 20);&quot;&gt;No discount is applied.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successfull_Submission_Message</name>
        <label>Successfull Submission Message</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 137, 20);&quot;&gt;Successfully submitted for approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
