HVAC Backup 2/flows/Approval_for_Change_in_download_Value.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_approval_to_AIDH</name>
        <label>Send approval to AIDH</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Copy_1_of_mess</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Total_Downloading_Value_Approval_AIDH</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_approval_to_RM</name>
        <label>Send approval to RM</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>mess</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>textMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Total_Download_Value_Approval_RM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_new_Dwn_value</name>
        <label>Set new Dwn value</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>loop_for_setting_new_download_value.Revised_CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addnewChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_for_setting_new_download_value.Update_Download_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_setting_new_download_value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_setting_new_download_value</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yess</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_AIDH</name>
        <label>Check AIDH</label>
        <locationX>2030</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_mess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract_Record.BSL_AIDH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_approval_to_AIDH</targetReference>
            </connector>
            <label>Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_CBO</name>
        <label>check CBO</label>
        <locationX>1304</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>update_quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CBO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BSL CBO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Related_Contract_Line_Items</targetReference>
            </connector>
            <label>CBO</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_already_in_Approval</name>
        <label>check if already in Approval</label>
        <locationX>1023</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Download_Value_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Approval</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 Or 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract_Record.Downloading_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract_Record.Discounting_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract_Record.Discounting_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with AIDH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract_Record.Discounting_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with AM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract_Record.Discounting_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with RM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessDV</targetReference>
            </connector>
            <label>Yes In Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_man_power</name>
        <label>check if man power</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Set_new_Dwn_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesManPower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_setting_new_download_value.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTRACT_MANPOWER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_setting_new_download_value</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Profile</name>
        <label>check Profile</label>
        <locationX>1988</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>User_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BSL_SME</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BSL SME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BSL Developer Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BSL CBO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Contract_Record</targetReference>
            </connector>
            <label>BSL SME</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_quote_exist</name>
        <label>check quote exist</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesqli</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>quoteItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quoteItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_new</targetReference>
            </connector>
            <label>yesqli</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RM</name>
        <label>Check RM</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_mess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract_Record.BSL_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_approval_to_RM</targetReference>
            </connector>
            <label>Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_revise</name>
        <label>Decision for revise</label>
        <locationX>1997</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yess_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_revise_download_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yess</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_CBO</targetReference>
            </connector>
            <label>Yess selected</label>
        </rules>
        <rules>
            <name>NoSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_revise_download_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_not_applicable_status</targetReference>
            </connector>
            <label>No Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>get_Contract_line_item_is_not_null</name>
        <label>get Contract line item is not null</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Related_Contract_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_setting_new_download_value</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_percent_is_less_than_3</name>
        <label>if percent is less than 3</label>
        <locationX>1766</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Check_AIDH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Download_Value_Percent</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RM</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>addnewChange</name>
        <dataType>Number</dataType>
        <expression>{!loop_for_setting_new_download_value.CP__c}+{!Download_Value_Percent}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Approval for Change in download Value {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Approval for Change in download Value</label>
    <loops>
        <name>loop_for_setting_new_download_value</name>
        <label>loop for setting new download value</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <collectionReference>get_Related_Contract_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_man_power</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_quote_exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Related_Contract_Line_Items</name>
        <label>get Related Quote Line Items</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Contract_line_item_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Contract_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract_Record</name>
        <label>Get Quote Record</label>
        <locationX>1023</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_already_in_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_new</name>
        <label>Update new</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <targetReference>errorscreen</targetReference>
        </faultConnector>
        <inputReference>quoteItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_not_applicable_status</name>
        <label>update not applicable status</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Downloading_Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_quote</name>
        <label>update quote</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>if_percent_is_less_than_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Requested_Downloading__c</field>
            <value>
                <elementReference>Download_Value_Percent</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_mess</name>
        <label>Copy 1 of Copy 1 of Copy 1 of mess</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_displayMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;RM is not Present on opportunity please add AIDH&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_mess</name>
        <label>Copy 1 of Copy 1 of mess</label>
        <locationX>2162</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_displayMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;AIDH is not Present on opportunity please add AIDH&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_mess</name>
        <label>Copy 1 of mess</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_displayMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(27, 218, 33);&quot;&gt;Approval submitted to AIDH .&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Download_Value_Update</name>
        <label>Download Value Update</label>
        <locationX>1997</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_for_revise</targetReference>
        </connector>
        <fields>
            <name>Download_Value_Update_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Download_Value_Update_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_revise_download_Value</name>
                    <choiceReferences>Yess</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you want to revise download value</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Download_Value_Percent</name>
                    <dataType>Number</dataType>
                    <fieldText>Revised Download Value Percent(%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_want_to_revise_download_Value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yess</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Download_Value_Update_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorscreen</name>
        <label>errorscreen</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ermessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 39, 39);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>mess</name>
        <label>mess</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(27, 218, 33);&quot;&gt;Approval submitted to RM .&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MessDV</name>
        <label>MessDV</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageDV</name>
            <fieldText>&lt;p&gt;The Quote is already in Approval for Download Value&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Check</name>
        <label>User Check</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProfileCheck</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(222, 25, 25);&quot;&gt;You Don&apos;t have required permission to revise Downloading Value. Only BSL SME can initiate this action.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1862</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Download Value is revised for the service Contract the new CP % has to be increased by {!Download_Value_Percent}%.</text>
    </textTemplates>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>contractItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>quoteItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
