HVAC Backup 2/flows/Asset_Policy_Compressive_Date_update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_end_date</name>
        <label>Assign end date</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>EndDateVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Of_ascending_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Of_ascending_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>q</description>
        <name>Assignment_of_End_date</name>
        <label>Assignment of End date</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Enddatecollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_asset_Policies.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_asset_Policies</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>ToGetMaxDate</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>ToGetMaxDate</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Enddatecollection</collectionReference>
        <connector>
            <targetReference>Loop_Of_ascending_values</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Loop_Of_ascending_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Variable_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndDateVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_end_date</targetReference>
            </connector>
            <label>check Variable is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Asset_component_end_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndDateVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Asset.Comprehensive_Warranty_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_compressive_Warranty_end_date</targetReference>
            </connector>
            <label>check Asset component end Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asset Policy Compressive Date update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Policy Compressive Date update</label>
    <loops>
        <name>Loop_Of_ascending_values</name>
        <label>Loop Of ascending values</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>Enddatecollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_asset_Policies</name>
        <label>Loop On asset Policies</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>get_asset_Policies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_of_End_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ToGetMaxDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_asset_Policies</name>
        <label>get asset Policies</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_asset_Policies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_compressive_Warranty_end_date</name>
        <label>Update compressive Warranty end date</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comprehensive_Warranty_End_Date__c</field>
            <value>
                <elementReference>EndDateVar</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_asset_Policies</targetReference>
        </connector>
        <object>AssetWarranty</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enddatecollection</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndDateVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
