HVAC Backup 2/flows/Asset_Policy_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>2162</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>FinalStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DaysAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_asset_policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_start_end</name>
        <label>assign start?end</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>FinalStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateMonthsMinusOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_asset_policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_start_end</name>
        <label>Copy 1 of assign start?end</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>FinalStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateYearsMinusOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_asset_policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_start_End</name>
        <label>Copy 1 of Copy 1 of start/End</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FinalStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_asset.InstallDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stdend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_warranty_term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_start_End</name>
        <label>Copy 1 of start/End</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FinalStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_asset.Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_warranty_term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>start_End</name>
        <label>start/End</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FinalStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stdStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stdEndDateCPSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_warranty_term</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Promotional_Warranty</name>
        <choiceText>Promotional Warranty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promotional Warranty</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard_Warranty</name>
        <choiceText>Standard Warranty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Warranty</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_division</name>
        <label>check division</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_start_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPSD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_asset.Product2.Product_Family__r.Service_Department_No__r.Division__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>install_and_invoice</targetReference>
            </connector>
            <label>CPSD</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_wty_term_selected</name>
        <label>check if wty term selected</label>
        <locationX>2030</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wtyTermYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wtyTable.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>wtyTable.firstSelectedRow.WarrantyUnitOfTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Months</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_start_end</targetReference>
            </connector>
            <label>wtyTermYes</label>
        </rules>
        <rules>
            <name>Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wtyTable.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>wtyTable.firstSelectedRow.WarrantyUnitOfTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Years</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_start_end</targetReference>
            </connector>
            <label>Year</label>
        </rules>
        <rules>
            <name>Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wtyTable.firstSelectedRow.WarrantyUnitOfTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign</targetReference>
            </connector>
            <label>Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_term</name>
        <label>check term</label>
        <locationX>2624</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Mess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wtyTable.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_if_wty_term_selected</targetReference>
            </connector>
            <label>term</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_type</name>
        <label>check type</label>
        <locationX>1815</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>get_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Warranty_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_Warranty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_division</targetReference>
            </connector>
            <label>standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_warranty_term_exist</name>
        <label>check warranty term exist</label>
        <locationX>3053</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_warranty_Terms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_List</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>install_and_invoice</name>
        <label>install and invoice</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_start_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EXIST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_asset.InstallDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_asset.Invoice_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>start_End</targetReference>
            </connector>
            <label>EXIST</label>
        </rules>
        <rules>
            <name>Install</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_asset.InstallDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_asset.Invoice_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Copy_1_of_start_End</targetReference>
            </connector>
            <label>Install</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysAdd</name>
        <dataType>Date</dataType>
        <expression>{!startDate}+{!wtyTable.firstSelectedRow.WarrantyDuration}</expression>
    </formulas>
    <formulas>
        <name>EndDateAfterMonths</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!get_asset.InstallDate}+1) + FLOOR((MONTH({!get_asset.InstallDate}+1) + {!wtyTable.firstSelectedRow.WarrantyDuration} - 1) / 12),
    MOD(MONTH({!get_asset.InstallDate}+1) + {!wtyTable.firstSelectedRow.WarrantyDuration} - 1, 12) + 1,
    DAY({!get_asset.InstallDate}+1)
)</expression>
    </formulas>
    <formulas>
        <name>EndDateAfterYears</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!get_asset.InstallDate}+1) + {!wtyTable.firstSelectedRow.WarrantyDuration},
    MONTH({!get_asset.InstallDate}+1),
    DAY({!get_asset.InstallDate}+1)
)</expression>
    </formulas>
    <formulas>
        <name>EndDateMonthsMinusOne</name>
        <dataType>Date</dataType>
        <expression>{!EndDateAfterMonths} - 1</expression>
    </formulas>
    <formulas>
        <name>EndDateYearsMinusOne</name>
        <dataType>Date</dataType>
        <expression>{!EndDateAfterYears} - 1</expression>
    </formulas>
    <formulas>
        <name>invoiceEnd</name>
        <dataType>Date</dataType>
        <expression>(ADDMONTHS({!get_asset.Invoice_Date__c},15) )-1</expression>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>{!get_asset.InstallDate}</expression>
    </formulas>
    <formulas>
        <name>stdend</name>
        <dataType>Date</dataType>
        <expression>(ADDMONTHS({!get_asset.InstallDate},12) - 1)</expression>
    </formulas>
    <formulas>
        <name>stdEndDateCPSD</name>
        <dataType>Date</dataType>
        <expression>IF (  ADDMONTHS({!get_asset.InstallDate},12) &gt; ADDMONTHS({!get_asset.Invoice_Date__c},15),(ADDMONTHS({!get_asset.Invoice_Date__c},15))-1,(ADDMONTHS({!get_asset.InstallDate},12))-1)</expression>
    </formulas>
    <formulas>
        <name>stdStart</name>
        <dataType>Date</dataType>
        <expression>IF({!get_asset.InstallDate}&gt;{!get_asset.Invoice_Date__c},{!get_asset.InstallDate},{!get_asset.Invoice_Date__c})</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Asset Policy Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Policy Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_create_asset_policy</name>
        <label>Copy 1 of create asset policy</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Copy_1_of_update_asset_date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>get_asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>FinalEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>FinalStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarrantyTermId</field>
            <value>
                <elementReference>get_warranty_term.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_asset_policy</name>
        <label>create asset policy</label>
        <locationX>2030</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>update_asset_date</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>get_asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>FinalEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>FinalStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarrantyTermId</field>
            <value>
                <elementReference>wtyTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarrantyType</field>
            <value>
                <elementReference>wtyTable.firstSelectedRow.WarrantyType</elementReference>
            </value>
        </inputAssignments>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_asset</name>
        <label>get asset</label>
        <locationX>1815</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attach_Asset_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record_type</name>
        <label>get record type</label>
        <locationX>3053</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_warranty_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promotional_Warranty</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WarrantyTerm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_warranty_term</name>
        <label>get warranty term</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_create_asset_policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WarrantyTermName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BSL-1YR-WTY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WarrantyTerm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_warranty_Terms</name>
        <label>get warranty Terms</label>
        <locationX>3053</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_warranty_term_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WarrantyTerm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_asset_date</name>
        <label>Copy 1 of update asset date</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>succe</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Standard_Warranty_End_Date__c</field>
            <value>
                <elementReference>FinalEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard_Warranty_Start_Date__c</field>
            <value>
                <elementReference>FinalStart</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_asset_date</name>
        <label>update asset date</label>
        <locationX>2030</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>succe</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Promotional_Warranty_End_Date__c</field>
            <value>
                <elementReference>FinalEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotional_Warranty_Start_Date__c</field>
            <value>
                <elementReference>FinalStart</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Attach_Asset_Policy</name>
        <label>Attach Asset Policy</label>
        <locationX>1815</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_type</targetReference>
        </connector>
        <fields>
            <name>Attach_Asset_Policy_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attach_Asset_Policy_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Warranty_Type</name>
                    <choiceReferences>Standard_Warranty</choiceReferences>
                    <choiceReferences>Promotional_Warranty</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Warranty Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Attach_Asset_Policy_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errors</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mess</name>
        <label>Mess</label>
        <locationX>3218</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please select atleast one Warranty Term&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>succe</name>
        <label>Success</label>
        <locationX>1815</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>wtysuccess</name>
            <fieldText>&lt;p&gt;Asset Policy is Created Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warranty_List</name>
        <label>Warranty List</label>
        <locationX>2624</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_term</targetReference>
        </connector>
        <fields>
            <name>wtyTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>WarrantyTerm</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Warranty List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_warranty_Terms</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;WarrantyTermName&quot;,&quot;guid&quot;:&quot;column-0c0a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Warranty Term Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;WarrantyDuration&quot;,&quot;guid&quot;:&quot;column-e103&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Warranty Duration&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;WarrantyUnitOfTime&quot;,&quot;guid&quot;:&quot;column-3719&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Warranty Unit Of Time&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-a30f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-81ef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1689</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
