HVAC Backup 2/flows/Asset_NAMO_Division_Update_on_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>CPSD_count_increment</name>
        <label>CPSD count increment</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CPSDasset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPSDformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Division_Wise_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UPSD_count_increment</name>
        <label>UPSD count increment</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UPSDasset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPSDformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Division_Wise_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDivision</name>
        <label>CheckDivision</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Count_Division_Wise_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CPSD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Division_Wise_Asset.Serviceable_Division__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPSD_count_increment</targetReference>
            </connector>
            <label>CPSD</label>
        </rules>
        <rules>
            <name>UPSD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Serviceable_Division__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRBG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Serviceable_Division__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPSD_count_increment</targetReference>
            </connector>
            <label>UPSD</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAMO_Account_Tagged</name>
        <label>NAMO Account Tagged</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAMO_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_All_Account_Asset</targetReference>
            </connector>
            <label>NAMO Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountDivFormula</name>
        <dataType>String</dataType>
        <expression>IF({!CPSDasset} &gt;{!UPSDasset}, &apos;NAMO CPSD&apos;, &apos;NAMO UPSD&apos;)</expression>
    </formulas>
    <formulas>
        <name>CPSDformula</name>
        <dataType>Number</dataType>
        <expression>{!CPSDasset} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UPSDformula</name>
        <dataType>Number</dataType>
        <expression>{!UPSDasset} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Asset - NAMO Division Update on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset - NAMO Division Update on Account</label>
    <loops>
        <name>Count_Division_Wise_Asset</name>
        <label>Count Division Wise Asset</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Fetch_All_Account_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckDivision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_NAMO_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_All_Account_Asset</name>
        <label>Fetch All Account Asset</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Division_Wise_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NAMO_Account</name>
        <label>Update NAMO Account</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>NAMO_Division_main__c</field>
            <value>
                <elementReference>accountDivFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NAMO_Account_Tagged</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CPSDasset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UPSDasset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
