HVAC Backup 2/flows/Assign_WO_and_Case_Data_Upload.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_the_Case</name>
        <label>Assign the Case</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Case_record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_the_WO</name>
        <label>Assign the WO</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_WO_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Case_record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Ticket_no_starts_with_X</name>
        <label>If Ticket no starts with X</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_the_WO_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ticket_no_Backend_DU__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Case</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assign WO and Case Data Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign WO and Case Data Upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_Case_record</name>
        <label>Get the Case record</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Ticket_no_starts_with_X</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BE_Ticket_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ticket_no_Backend_DU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_WO_record</name>
        <label>Get the WO record</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ticket_Number_Read_Only__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ticket_no_Backend_DU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Case_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ticket_no_Backend_DU__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
