HVAC Backup 2/flows/Audit_Audit_Item_Selection.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_notification_to_cp</name>
        <label>send notification to cp</label>
        <locationX>158</locationX>
        <locationY>4130</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>msg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>receipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AddToList</name>
        <label>AddToList</label>
        <locationX>902</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>Product_Items_to_be_Created</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_selected_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_not_selected</name>
        <label>assign not selected</label>
        <locationX>916</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>notselectedId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_ALL_Audit_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_ALL_Audit_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_receipient</name>
        <label>assign receipient</label>
        <locationX>158</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>receipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_notification_to_cp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_selected</name>
        <label>assign selected</label>
        <locationX>652</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>selectedId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_selected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AuditItemsToUpdate</name>
        <label>AuditItemsToUpdate</label>
        <locationX>652</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Audit_Items_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_ALL_Audit_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_ALL_Audit_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_AddToList</name>
        <label>Copy 2 of AddToList</label>
        <locationX>862</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Product_Items_to_be_Created</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_product_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_product_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductItemRecordAssignment</name>
        <label>ProductItemRecordAssignment</label>
        <locationX>902</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>ProductItem.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_selected_records.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductItem.QuantityOnHand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_selected_records.Expected_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductItem.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductItem.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Audit_Product_Ids</name>
        <label>Store Audit Product Ids</label>
        <locationX>652</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Audit_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_ALL_Audit_Items.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAuditValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Product_Ids</name>
        <label>Store Product Ids</label>
        <locationX>138</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Product_Item_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Fetched_Product_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Fetched_Product_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_the_quantity</name>
        <label>update the quantity</label>
        <locationX>862</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>loop_over_product_Items.QuantityOnHand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_selected_records.Expected_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_AddToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateAuditValues</name>
        <label>UpdateAuditValues</label>
        <locationX>652</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_ALL_Audit_Items.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AuditItemsToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_not_selected_is_not_null</name>
        <label>check if not selected is not null</label>
        <locationX>564</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>check_if_selected_item_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>notselectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_not_select_to_rejected</targetReference>
            </connector>
            <label>not select</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_selected_item_exist</name>
        <label>check if selected item exist</label>
        <locationX>564</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Audit_Items_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_product_items</targetReference>
            </connector>
            <label>item selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>784</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>assign_not_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Over_ALL_Audit_Items.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Audit_Product_Ids</targetReference>
            </connector>
            <label>check selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>matched_item</name>
        <label>matched item</label>
        <locationX>994</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>loop_over_product_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_over_product_Items.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_over_selected_records.Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_quantity</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Quantity_Update_in_Warehouse</name>
        <label>Need Quantity Update in Warehouse?</label>
        <locationX>510</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>loop_over_product_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need</defaultConnectorLabel>
        <rules>
            <name>No_Need</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_over_selected_records.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_over_selected_records.Expected_Qty__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_selected_records</targetReference>
            </connector>
            <label>No Need</label>
        </rules>
    </decisions>
    <decisions>
        <name>product_item_already_exist</name>
        <label>product item already exist?</label>
        <locationX>706</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>ProductItemRecordAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Item_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_over_selected_records.Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Quantity_Update_in_Warehouse</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Items_Null</name>
        <label>Product Items Null?</label>
        <locationX>158</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>loop_over_selected_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_product_items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Fetched_Product_Items</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Audit - Audit Item Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Audit - Audit Item Selection</label>
    <loops>
        <name>Loop_Over_ALL_Audit_Items</name>
        <label>Loop Over ALL Audit Items</label>
        <locationX>564</locationX>
        <locationY>650</locationY>
        <collectionReference>get_Audit_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_if_not_selected_is_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Fetched_Product_Items</name>
        <label>Loop Over Fetched Product Items</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <collectionReference>get_product_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_over_selected_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_product_Items</name>
        <label>loop over product Items</label>
        <locationX>774</locationX>
        <locationY>2738</locationY>
        <collectionReference>get_product_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>matched_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_over_selected_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_selected</name>
        <label>loop over selected</label>
        <locationX>564</locationX>
        <locationY>350</locationY>
        <collectionReference>Audit_Product_Item_List.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_ALL_Audit_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_selected_records</name>
        <label>loop over selected records</label>
        <locationX>158</locationX>
        <locationY>2414</locationY>
        <collectionReference>Audit_Product_Item_List.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>product_item_already_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Audit_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateProductItem</name>
        <label>CreateProductItem</label>
        <locationX>158</locationX>
        <locationY>3698</locationY>
        <connector>
            <targetReference>update_qudit_inventory</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_msg</targetReference>
        </faultConnector>
        <inputReference>Product_Items_to_be_Created</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Audit_Items</name>
        <label>get Audit Items</label>
        <locationX>564</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Audit_Product_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Audit_Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Audit_Product_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_custom_notification</name>
        <label>get custom notification</label>
        <locationX>158</locationX>
        <locationY>3914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_receipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Audit Inventory Approved for CP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_product_items</name>
        <label>get product items</label>
        <locationX>158</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Items_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Audit_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Audit_Items</name>
        <label>Update Audit Items</label>
        <locationX>158</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>CreateProductItem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_msg</targetReference>
        </faultConnector>
        <inputReference>Audit_Items_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_not_select_to_rejected</name>
        <label>update not select to rejected</label>
        <locationX>300</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>check_if_selected_item_exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>notselectedId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Audit_Product_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_qudit_inventory</name>
        <label>update qudit inventory</label>
        <locationX>158</locationX>
        <locationY>3806</locationY>
        <connector>
            <targetReference>get_custom_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Audit_Inventory__c</object>
    </recordUpdates>
    <screens>
        <name>Audit_Product_Items</name>
        <label>Audit Product Items</label>
        <locationX>564</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_over_selected</targetReference>
        </connector>
        <fields>
            <name>Audit_Product_Item_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Audit_Product_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_Audit_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-534b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Audit Product Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product__c&quot;,&quot;guid&quot;:&quot;column-b13b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-5dd0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Expected_Qty__c&quot;,&quot;guid&quot;:&quot;column-ff8a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Expected Qty&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Approval_Status__c&quot;,&quot;guid&quot;:&quot;column-63f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Approval Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Approve Selected</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_msg</name>
        <label>Copy 1 of msg</label>
        <locationX>706</locationX>
        <locationY>3698</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>msg</name>
        <label>msg</label>
        <locationX>158</locationX>
        <locationY>4238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Successfully Approved!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>438</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Audit_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Audit Inventory Request {!recordId.Name} has been updated by SDE. Please Check Line Items Quantity</text>
    </textTemplates>
    <textTemplates>
        <name>title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Audit Request Completed</text>
    </textTemplates>
    <variables>
        <name>Audit_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>audit_item_id</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Audit_Product_Item__c</objectType>
    </variables>
    <variables>
        <name>Audit_Items_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Audit_Product_Item__c</objectType>
    </variables>
    <variables>
        <name>notselectedId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product_Item_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Product_Items_to_be_Created</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>ProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>receipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Audit_Inventory__c</objectType>
    </variables>
    <variables>
        <name>selectedId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
