HVAC Backup 2/flows/Capture_NIC_Changed_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Created_OR_Updated</name>
        <label>Check Created OR Updated</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Obligation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Obligation0</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Obligation</name>
        <label>Check Obligation</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_NIC_Updated_Time_On_Account1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Changed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Obligation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NIC_Updated_Time_On_Account</targetReference>
            </connector>
            <label>Is Changed True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Obligation0</name>
        <label>Check Obligation</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Account_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_NIC_Updated_Time_On_Account</targetReference>
            </connector>
            <label>NIC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Active</name>
        <label>Is Account Active?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Status_As_Active_Update_Last_Activity_Time</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Capture NIC Changed Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture NIC Changed Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_NIC_Updated_Time_On_Account</name>
        <label>Copy 1 of Update NIC Updated Time On Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NIC_Changed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Status_As_Active_Update_Last_Activity_Time</name>
        <label>Update Account Status As Active &amp; Update Last Activity Time</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NIC_Updated_Time_On_Account</name>
        <label>Update NIC Updated Time On Account</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NIC_Changed_Date__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NIC_Updated_Time_On_Account1</name>
        <label>Update NIC Updated Time On Account</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NIC_Changed_Date__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Created_OR_Updated</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 3) AND 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Comprehensive_Warranty_End_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
