HVAC Backup 2/flows/Capture_Approve_Reject_Approval_Staus_Non_Salesforce_User.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approval_to_AIH</name>
        <label>Send Approval to AIH</label>
        <locationX>5946</locationX>
        <locationY>1763</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Update_Awaiting_Approval_From_AIH_AIDH_Status_on_Return_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Return_Order_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>FGR_Approval_AIH</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Approval_Request_to_RM</name>
        <label>Send Email Approval Request  to RM</label>
        <locationX>1964</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Awaiting_Approval_From_RM_Status_on_Return_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRecipient_RM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Label.Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Return_Order_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Recipient</name>
        <label>Add Recipient</label>
        <locationX>6930</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varRecipient_RM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Sales_RM_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CFS_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Condition</name>
        <label>Check Approval Condition</label>
        <locationX>1964</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X52_43_42_Non_NAMO</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Damage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transit Damage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Service_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>52</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Service_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>43</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Service_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>42</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Invoice_Ageing</targetReference>
            </connector>
            <label>52/43/42-Non NAMO</label>
        </rules>
        <rules>
            <name>X33_35_Non_NAMO</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Damage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transit Damage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>35</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_Invoice_Ageing</targetReference>
            </connector>
            <label>33/35-Non NAMO</label>
        </rules>
        <rules>
            <name>X33_30_NAMO_Room_Ac</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Product_Family__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AC - Room Air Conditioner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>30</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Defect_Type</targetReference>
            </connector>
            <label>33/30- NAMO-Room Ac</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approve_Reject_Asset_Warranty</name>
        <label>Check  Approve/Reject Asset Warranty</label>
        <locationX>9290</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Approve</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HtmlBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TextBody</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approved_status_on_Asset_Warranty</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Copy_1_of_Reject</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HtmlBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TextBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rejected_Status_On_Asset_Warranty</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approve_Reject_FGR</name>
        <label>Check  Approve/Reject FGR</label>
        <locationX>6930</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HtmlBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TextBody</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Return_Order_Status</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Reject</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HtmlBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TextBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rejected_Status_On_Return_Order</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Defect_Type</name>
        <label>Check Defect Type</label>
        <locationX>2558</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Check_Invoice_Ageing1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Transit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Damage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Transit Damage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Invoice_Ageing</targetReference>
            </connector>
            <label>Non Transit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_Ageing</name>
        <label>Check Invoice Ageing</label>
        <locationX>2118</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_120_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>0-120 Days</label>
        </rules>
        <rules>
            <name>X121_180_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Approval_Request_to_RM</targetReference>
            </connector>
            <label>121-180 Days</label>
        </rules>
        <rules>
            <name>X180_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Approval_Request_to_RM</targetReference>
            </connector>
            <label>&gt;180 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_Ageing1</name>
        <label>Check Invoice Ageing</label>
        <locationX>2998</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>0-30 Days</label>
        </rules>
        <rules>
            <name>X31_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Approval_Request_to_RM</targetReference>
            </connector>
            <label>31-60 Days</label>
        </rules>
        <rules>
            <name>X61_180_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Approval_Request_to_RM</targetReference>
            </connector>
            <label>&gt;60 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object_Name</name>
        <label>Check Object Name</label>
        <locationX>8374</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Recipient</targetReference>
            </connector>
            <label>Return Order</label>
        </rules>
        <rules>
            <name>Asset_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Warranty_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Approve_Reject_Asset_Warranty</targetReference>
            </connector>
            <label>Asset Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Return_Order_Status</name>
        <label>Check Return Order Status</label>
        <locationX>5099</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Awaiting_From_AM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Approval From AM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Approval_Condition</targetReference>
            </connector>
            <label>Awaiting From AM</label>
        </rules>
        <rules>
            <name>Awaiting_From_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Approval From RM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Approval_Condition</targetReference>
            </connector>
            <label>Awaiting From RM</label>
        </rules>
        <rules>
            <name>Awaiting_Approval_From_AIH_AIDH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Approval From AIH/AIDH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>Awaiting Approval From AIH/AIDH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Approval_Condition</name>
        <label>Check Approval Condition</label>
        <locationX>5946</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_52_43_42_Non_NAMO</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Damage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transit Damage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Account.Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Service_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>52</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Service_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>43</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Service_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>42</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Check_Invoice_Ageing</targetReference>
            </connector>
            <label>52/43/42-Non NAMO</label>
        </rules>
        <rules>
            <name>Copy_1_of_33_35_Non_NAMO</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Damage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transit Damage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>35</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Account.Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NON NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Check_Invoice_Ageing</targetReference>
            </connector>
            <label>33/35-Non NAMO</label>
        </rules>
        <rules>
            <name>Copy_1_of_33_30_NAMO_Room_Ac</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Product_Family__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AC - Room Air Conditioner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Asset.Sales_Department_L__r.Department_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>30</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Work_Order__r.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Defect_Type</targetReference>
            </connector>
            <label>33/30- NAMO-Room Ac</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Defect_Type</name>
        <label>Check Defect Type</label>
        <locationX>6606</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Copy_6_of_Check_Invoice_Ageing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transit</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Non_Transit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Damage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Transit Damage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Check_Invoice_Ageing</targetReference>
            </connector>
            <label>Non Transit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Invoice_Ageing</name>
        <label>Check Invoice Ageing</label>
        <locationX>358</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_0_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>0-30 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_31_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Approval_Request_to_RM</targetReference>
            </connector>
            <label>31-60 Days</label>
        </rules>
        <rules>
            <name>X60_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Approval_Request_to_RM</targetReference>
            </connector>
            <label>&gt; 60 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Invoice_Ageing</name>
        <label>Check Invoice Ageing</label>
        <locationX>1238</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_0_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>0-30 Days</label>
        </rules>
        <rules>
            <name>Copy_2_of_31_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Approval_Request_to_RM</targetReference>
            </connector>
            <label>31-60 Days</label>
        </rules>
        <rules>
            <name>X61_90_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Approval_Request_to_RM</targetReference>
            </connector>
            <label>&gt;61 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Check_Invoice_Ageing</name>
        <label>Check Invoice Ageing</label>
        <locationX>4186</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_0_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <label>0-30 Days</label>
        </rules>
        <rules>
            <name>Copy_3_of_31_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>31-60 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_60_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_to_AIH</targetReference>
            </connector>
            <label>&gt; 60 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Check_Invoice_Ageing</name>
        <label>Check Invoice Ageing</label>
        <locationX>5154</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_0_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <label>0-30 Days</label>
        </rules>
        <rules>
            <name>Copy_4_of_31_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>31-60 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_61_90_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_to_AIH</targetReference>
            </connector>
            <label>&gt;60 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_5_of_Check_Invoice_Ageing</name>
        <label>Check Invoice Ageing</label>
        <locationX>6122</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_0_120_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <label>0-120 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_121_180_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>121-180 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_180_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_to_AIH</targetReference>
            </connector>
            <label>&gt;180 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_Check_Invoice_Ageing</name>
        <label>Check Invoice Ageing</label>
        <locationX>7090</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_0_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <label>0-30 Days</label>
        </rules>
        <rules>
            <name>Copy_5_of_31_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Approved_Status_On_Return_Order</targetReference>
            </connector>
            <label>31-60 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_61_180_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Record.Invoice_Ageing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_to_AIH</targetReference>
            </connector>
            <label>60 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Capture Approve/Reject Approval Staus (Non Salesforce User) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Approve/Reject Approval Staus (Non Salesforce User)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Warranty_Record</name>
        <label>Get Asset Warranty Record</label>
        <locationX>8374</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Object_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CFS_Queue</name>
        <label>Get CFS Queue</label>
        <locationX>6930</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approve_Reject_FGR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CFS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Record</name>
        <label>Get Return Order Record</label>
        <locationX>8374</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Warranty_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Damage_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approved_status_on_Asset_Warranty</name>
        <label>Update Approved status on Asset Warranty</label>
        <locationX>9026</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>AssetWarranty</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approved_Status_On_Return_Order</name>
        <label>Update Approved Status On Return Order</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaptureApprovalSentDatTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CFS_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Awaiting_Approval_From_AIH_AIDH_Status_on_Return_Order</name>
        <label>Update Awaiting Approval From AIH/AIDH Status on Return Order</label>
        <locationX>5946</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Approval From AIH/AIDH</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Awaiting_Approval_From_RM_Status_on_Return_Order</name>
        <label>Update Awaiting Approval From RM Status on Return Order</label>
        <locationX>1964</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Approval From RM</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rejected_Status_On_Asset_Warranty</name>
        <label>Update Rejected Status On Asset Warranty</label>
        <locationX>9290</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>AssetWarranty</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rejected_Status_On_Return_Order</name>
        <label>Update Rejected Status On Return Order</label>
        <locationX>8498</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaptureApprovalSentDatTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>$Record.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <start>
        <locationX>8248</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Return_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Return_Order_Record.FGR_Number__c} is pending for your approval</text>
    </textTemplates>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Approver,&lt;/p&gt;&lt;p&gt;We wanted to inform you that an FGR (Finished Goods Return) request with the reference number &lt;strong style=&quot;color: rgb(38, 37, 40); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;strong&gt;{!Get_Return_Order_Record.FGR_Number__c}&lt;/strong&gt; is currently pending for your approval.&lt;/p&gt;&lt;p&gt;Please review below details of the FGR and take appropriate action to either Approve or Reject it. Your timely response is appreciated to ensure the smooth processing of this request.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;FGR Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 37, 40);&quot;&gt;FGR Number : &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Return_Order_Record.FGR_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 37, 40);&quot;&gt;Defect Type : {!Get_Return_Order_Record.Damage_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(38, 37, 40);&quot;&gt;FGR Reason : {!Get_Return_Order_Record.FGR_Reason__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reply Formate:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Approve&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;Status: Approve&lt;/p&gt;&lt;p&gt;&amp;nbsp;Comment: add a comment&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reject&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;Status: Reject&lt;/p&gt;&lt;p&gt;Comment: add a comment&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 19, 27);&quot;&gt;Note:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(253, 7, 7);&quot;&gt; Comment is mandatory if you reject the request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;BlueStar Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varRecipient_RM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
