HVAC Backup 2/flows/Case_Escalation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>createchildWO</name>
        <label>createchildWO</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>CreateChildWorkOrderEscalation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>getparent_work_Item.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateChildWorkOrderEscalation</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Current_User_Profile_ID</name>
        <label>Assign Current User Profile ID</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>currentUserProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>correction_action</name>
        <label>correction action</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>correctionAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Responsibility1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionStatus1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEscalationDetails</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>abc</name>
        <choiceText>abc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>abc</stringValue>
        </value>
    </choices>
    <choices>
        <name>BSL_team_response_poor</name>
        <choiceText>BSL team response poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BSL team response poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Call_center_Operations_Quality_poor</name>
        <choiceText>Call center Operations Quality poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call center Operations Quality poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Channels_resolution_delay</name>
        <choiceText>Channels resolution delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Channels resolution delay </stringValue>
        </value>
    </choices>
    <choices>
        <name>Channels_resolution_poor</name>
        <choiceText>Channels resolution poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Channels resolution poor </stringValue>
        </value>
    </choices>
    <choices>
        <name>Channels_response_delay_poor</name>
        <choiceText>Channels response delay/poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Channels response delay/poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate</name>
        <choiceText>Corporate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_site_safety_access_issues</name>
        <choiceText>Customer site safety/ access issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer site safety/ access issues </stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Terms_of_Payment_issues</name>
        <choiceText>Customer Terms of Payment issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Terms of Payment issues </stringValue>
        </value>
    </choices>
    <choices>
        <name>Disatisfied</name>
        <choiceText>Disatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissatisfied</name>
        <choiceText>Dissatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Divisional</name>
        <choiceText>Divisional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Divisional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Excess_Service_Charges</name>
        <choiceText>Excess Service Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excess Service Charges </stringValue>
        </value>
    </choices>
    <choices>
        <name>Excess_Service_Charges_Spares_pricing_issue_Normal_Service_request</name>
        <choiceText>Excess Service Charges                    ⬜ Spares pricing issue            ⬜ Normal Service request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excess Service Charges                    ⬜ Spares pricing issue            ⬜ Normal Service request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fake_call_closure</name>
        <choiceText>Fake call closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fake call closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Installation_Commissioning_issue</name>
        <choiceText>Installation/ Commissioning issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Installation/ Commissioning issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal_Service</name>
        <choiceText>Normal Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Obligation_Dispute</name>
        <choiceText>Obligation Dispute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Obligation Dispute</stringValue>
        </value>
    </choices>
    <choices>
        <name>Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others_Please_specify</name>
        <choiceText>Others…. Please specify:</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others…. Please specify: </stringValue>
        </value>
    </choices>
    <choices>
        <name>Part_not_available</name>
        <choiceText>Part not available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Part not available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Part_supply_delay</name>
        <choiceText>Part supply delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Part supply delay </stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_not_available</name>
        <choiceText>Product not available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product not available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Quality_poor</name>
        <choiceText>Product Quality poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Product Quality poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Supply_delay</name>
        <choiceText>Product Supply delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Supply delay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repeat_break_downs</name>
        <choiceText>Repeat break downs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repeat break downs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfied</name>
        <choiceText>Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spares_pricing_issue</name>
        <choiceText>Spares pricing issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spares pricing issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technician_behavior_poor</name>
        <choiceText>Technician behavior poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technician behavior poor </stringValue>
        </value>
    </choices>
    <choices>
        <name>Technician_skill_knowledge_poor</name>
        <choiceText>Technician skill/ knowledge poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technician skill/ knowledge poor </stringValue>
        </value>
    </choices>
    <decisions>
        <name>if_work_order_exist</name>
        <label>if work order exist</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Display_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getparent_work_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createchildWO</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RCA</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Problem_Root_Cause_s_identification_bas__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case Escalation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Escalation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_case_record</name>
        <label>get case record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_User_Profile_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Role</name>
        <label>get Role</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_user_profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$UserRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user_profile</name>
        <label>get user profile</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getparent_work_Item</name>
        <label>getparent work Item</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_work_order_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentWorkOrderId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateEscalationDetails</name>
        <label>updateEscalationDetails</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>getparent_work_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Plan__c</field>
            <value>
                <elementReference>correctionAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Status__c</field>
            <value>
                <elementReference>ActionStatus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_issue__c</field>
            <value>
                <elementReference>Actual_issue_Need_to_be_filled_by_SDE_SDH_at_the_time_of_filling_RCA_and_Correct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corrective_Action__c</field>
            <value>
                <elementReference>correctionAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Interactions_Details_Resoluti__c</field>
            <value>
                <elementReference>Customer_Interactions_Details_Resolution_offered_at_L_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Satisfaction__c</field>
            <value>
                <elementReference>Customer_Satisfaction_Level_After_Corrective_Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Escalation_to_L_2__c</field>
            <value>
                <elementReference>Date_of_Escalation_to_L_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Escalation_to_L_3__c</field>
            <value>
                <elementReference>Date_of_Escalation_to_L_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Escalation_to_L_4__c</field>
            <value>
                <elementReference>Date_of_Escalation_to_L_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escape_Point__c</field>
            <value>
                <elementReference>Escape_Point</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Escalation_Status__c</field>
            <value>
                <elementReference>Final_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Complaint_Date__c</field>
            <value>
                <elementReference>First_Complaint_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identified_Root_Cause_s__c</field>
            <value>
                <elementReference>Identify_Root_cause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immediate_Actions_Taken__c</field>
            <value>
                <elementReference>Immediate_Action_Taken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_and_verification_of_Corre__c</field>
            <value>
                <elementReference>Implementation_and_verification_of_Corrective_action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interaction_Detail_at_L4__c</field>
            <value>
                <elementReference>Customer_Interactions_Details_Resolution_offered_at_L_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interaction_Details_at_L3__c</field>
            <value>
                <elementReference>Customer_Interactions_Details_Resolution_offered_at_L_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interactions_Details_L2__c</field>
            <value>
                <elementReference>Customer_Interactions_Details_Resolution_offered_at_L_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Problem_Root_Cause_s_identification_bas__c</field>
            <value>
                <elementReference>problem_root_cuase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recovery_Dealer_ESA_SA_Name_who_has_reso__c</field>
            <value>
                <elementReference>Recovery_Dealer_ESA_SA_Name_who_has_resolved_the_escalation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsibility__c</field>
            <value>
                <elementReference>Responsibility1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revision_of_System_document__c</field>
            <value>
                <elementReference>Revision_of_System_document_if_any</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause_if_Others__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Date__c</field>
            <value>
                <elementReference>dat1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Date__c</field>
            <value>
                <elementReference>Verification_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_comments__c</field>
            <value>
                <elementReference>Verification_comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_Closed_by_Name_as_per_logi__c</field>
            <value>
                <elementReference>Verified_Closed_by_Name_as_per_login</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_by_CSQA_Escalation_Manager_Nam__c</field>
            <value>
                <elementReference>Verified_by_CSQA_Escalation_Manager_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verify_Corrective_Action__c</field>
            <value>
                <elementReference>Implementation_and_verification_of_Corrective_action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WHY_1__c</field>
            <value>
                <elementReference>Why_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WHY_2__c</field>
            <value>
                <elementReference>Why_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WHY_3__c</field>
            <value>
                <elementReference>Why_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WHY_4__c</field>
            <value>
                <elementReference>Why_4</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_message</name>
        <label>Display message</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Displaymessage</name>
            <fieldText>&lt;p&gt;Escalation Details are captured successfully. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TagChannelPartner</name>
            <extensionName>c:createWorkOrder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Escalation_Form</name>
        <label>Escalation Form</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>correction_action</targetReference>
        </connector>
        <fields>
            <name>Customer_Details</name>
            <fieldText>Customer Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTicketDetails</name>
                    <fieldText>&lt;p&gt;Customer Name &amp;amp; Address: {!get_case_record.Account.Name}&lt;/p&gt;&lt;p&gt;{!get_case_record.Address__City__s}&lt;/p&gt;&lt;p&gt;{!get_case_record.Address__StateCode__s}&lt;/p&gt;&lt;p&gt;{!get_case_record.Address__CountryCode__s}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;State: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!get_case_record.Address__StateCode__s}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Escalation Date: {!get_case_record.Escalation_Date__c} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product Installed (Model): {!get_case_record.Model__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Installation date: {!get_case_record.Asset.InstallDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Problematic Dealer/ ESA/ SA Name&lt;/p&gt;&lt;p&gt;(against whom the escalation is mentioned):&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Division: {!get_case_record.Servicable_Division__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dept: {!get_case_record.Service_Division__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Branch: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!get_case_record.Branch__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Problem Description:{!get_case_record.Problem_Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display2</name>
                    <fieldText>&lt;p&gt;Site Contact Person Name:  {!get_case_record.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Site Contact Person Number: {!get_case_record.Contact_Phone__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Escalation Type: {!get_case_record.Escalation_Type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Call Ticket Number :  {!get_case_record.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product Family: {!get_case_record.Product_Family__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Recovery_Dealer_ESA_SA_Name_who_has_resolved_the_escalation</name>
                    <dataType>String</dataType>
                    <fieldText>Recovery Dealer/ ESA/ SA Name (who has resolved the escalation): - to be filled by SDE/ SDH at the time of filling the form (mandatory)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>get_Role.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SDE_CRBG</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>get_Role.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SDE_CPSD</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>get_Role.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SDE</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>get_Role.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SDH</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>toAMRecovery_Dealer_ESA_SA_Name_who_has_resolved_the_escalation</name>
                    <fieldText>&lt;p&gt;Recovery Dealer/ ESA/ SA Name (who has resolved the escalation): - {!get_case_record.Recovery_Dealer_ESA_SA_Name_who_has_reso__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>get_Role.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>get_Role.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AM_CPSD</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>get_Role.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AM_CRBG</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>otherData</name>
                    <fieldText>&lt;p&gt;Escalation Closure Date: {!get_case_record.Escalation_Closure_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Escalation Analysis Date: {!get_case_record.Escalation_Analysis_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Obligation: {!get_case_record.Obligation__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Actual_issue_Need_to_be_filled_by_SDE_SDH_at_the_time_of_filling_RCA_and_Correct</name>
            <fieldText>Actual issue: (Need to be filled by SDE / SDH) at the time of filling RCA and Corrective action form. (mandatory)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AM</name>
            <fieldText>&lt;p&gt;Actual issue: (Need to be filled by SDE / SDH) at the time of filling RCA and Corrective action form. (mandatory):- {!get_case_record.Actual_issue__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CRBG</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Basic_Escalation_Details</name>
            <fieldText>Basic Escalation Details (Need to be filled by SDE/SDH)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Basic_Escalation_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Complaint_date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.First_Complaint_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>First Complaint date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Escalation_to_L_2</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Date_of_Escalation_to_L_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Escalation to L 2 :</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Escalation_to_L_3</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Date_of_Escalation_to_L_3__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Escalation to L 3 :</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Escalation_to_L_4</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Date_of_Escalation_to_L_4__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Escalation to L 4 :</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Basic_Escalation_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Interactions_Details_Resolution_offered_at_L_1</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Customer_Interactions_Details_Resoluti__c}</stringValue>
                    </defaultValue>
                    <fieldText>Customer Interactions Details / Resolution offered at L 1 :</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Customer_Interactions_Details_Resolution_offered_at_L_2</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Interactions_Details_L2__c}</stringValue>
                    </defaultValue>
                    <fieldText>Customer Interactions Details / Resolution offered at L 2 :</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Customer_Interactions_Details_Resolution_offered_at_L_3</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Interaction_Details_at_L3__c}</stringValue>
                    </defaultValue>
                    <fieldText>Customer Interactions Details / Resolution offered at L 3 :</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Customer_Interactions_Details_Resolution_offered_at_L_4</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Interaction_Detail_at_L4__c}</stringValue>
                    </defaultValue>
                    <fieldText>Customer Interactions Details / Resolution offered at L 4 :</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_user_profile.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Basic_Escalation_Details_read_only</name>
            <fieldText>Basic Escalation Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Basic_Escalation_Details_read_only_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display3</name>
                    <fieldText>&lt;p&gt;First Complaint Date:  {!get_case_record.First_Complaint_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date of Escalation L2:&lt;/p&gt;&lt;p&gt;{!get_case_record.Date_of_Escalation_to_L_2__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date of Escalation L3:&lt;/p&gt;&lt;p&gt;{!get_case_record.Date_of_Escalation_to_L_3__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date of Escalation L4: {!get_case_record.Date_of_Escalation_to_L_4__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Basic_Escalation_Details_read_only_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display4</name>
                    <fieldText>&lt;p&gt;Customer Interaction Details/Resolution offered at L1:  {!get_case_record.Customer_Interactions_Details_Resoluti__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer Interaction Details/Resolution offered at L2: {!get_case_record.Interactions_Details_L2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer Interaction Details/Resolution offered at L3: {!get_case_record.Interaction_Details_at_L3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer Interaction Details/Resolution offered at L4: {!get_case_record.Interaction_Detail_at_L4__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL AM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Status_Details_Need_to_be_filled_by_SDE_SDH</name>
            <fieldText>Status Details (Need to be filled by SDE/ SDH)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Status_Details_Need_to_be_filled_by_SDE_SDH_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Finalstatus</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 11pt;&quot;&gt;Final status :&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Status_Details_Need_to_be_filled_by_SDE_SDH_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Final_Status</name>
                    <choiceReferences>Open</choiceReferences>
                    <choiceReferences>Closed</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Final_Escalation_Status__c</elementReference>
                    </defaultValue>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Status_Details_Need_to_be_filled_by_SDE_SDH_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerSatisfaction</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 11pt;&quot;&gt;Customer Satisfaction Level After Corrective Action :&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Status_Details_Need_to_be_filled_by_SDE_SDH_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Satisfaction_Level_After_Corrective_Action</name>
                    <choiceReferences>Satisfied</choiceReferences>
                    <choiceReferences>Dissatisfied</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Status_Details_Need_to_be_filled_by_AM</name>
            <fieldText>Status Details (Need to be filled by SDE/ SDH)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Status_Details_Need_to_be_filled_by_AM_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinalStatusAm</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt; font-family: Verdana, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Final status:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Status_Details_Need_to_be_filled_by_AM_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinalStatusAms</name>
                    <fieldText>&lt;p&gt;{!get_case_record.Final_Escalation_Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Status_Details_Need_to_be_filled_by_AM_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerSatisfactionAM</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Verdana, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Customer Satisfaction Level After Corrective Action :&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Status_Details_Need_to_be_filled_by_AM_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Satisfaction_Level_After_Corrective_ActionAM</name>
                    <fieldText>&lt;p&gt;{!get_case_record.Customer_Satisfaction__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Status_Details_Need_to_be_Filled_by_SDE</name>
            <fieldText>WHY-WHY Analysis Why it was escalated: (Need to be filled by SDE/ SDH)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Status_Details_Need_to_be_Filled_by_SDE_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Why_1</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.WHY_1__c}</stringValue>
                    </defaultValue>
                    <fieldText>Why 1:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Why_2</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.WHY_2__c}</stringValue>
                    </defaultValue>
                    <fieldText>Why 2:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Why_3</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.WHY_3__c}</stringValue>
                    </defaultValue>
                    <fieldText>Why 3:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Why_4</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.WHY_4__c}</stringValue>
                    </defaultValue>
                    <fieldText>Why 4:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Why_5</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.WHY_5__c}</stringValue>
                    </defaultValue>
                    <fieldText>Why 5:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WHY_WHY_Analysis_AM</name>
            <fieldText>WHY-WHY Analysis Why it was escalated: (Need to be filled by SDE/ SDH).</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WHY_WHY_Analysis_AM_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Details_Need_to_be_Filled_by_RMAM</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 81, 54);&quot;&gt;*&lt;/span&gt;Why 1:  {!get_case_record.WHY_1__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 81, 54);&quot;&gt;*&lt;/span&gt;Why 2: {!get_case_record.WHY_2__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 81, 54);&quot;&gt;*&lt;/span&gt;Why 3: {!get_case_record.WHY_3__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Why 4: {!get_case_record.WHY_4__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Why 5: {!get_case_record.WHY_5__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL AM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Corrective_Action_Prevention</name>
            <fieldText>Problem Root Cause(s) identification based on Why-Why analysis. (Need to be ticked by SDE/ SDH)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corrective_Action_Prevention_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>problem_root_cuase</name>
                    <choiceReferences>RCA</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Problem_Root_Cause_s_identification_bas__c</elementReference>
                    </defaultValue>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>If_Others_Please_Specify</name>
                    <dataType>String</dataType>
                    <fieldText>If Others Please Specify</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>problem_root_cuase</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Others_Please_specify</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProblemRootCausedentificationbasedonWhyWhyanalysisAM</name>
            <fieldText>Problem Root Cause(s) identification based on Why-Why analysis. (Need to be ticked by SDE/ SDH)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ProblemRootCausedentificationbasedonWhyWhyanalysisAM_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>rootcauseam</name>
                    <fieldText>&lt;p&gt;Problem Root Cause(s) identification based on Why-Why analysis:&lt;/p&gt;&lt;p&gt;{!get_case_record.Problem_Root_Cause_s_identification_bas__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>currentUserProfileName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BSL AM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>currentUserProfileName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BSL RM</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CRBG</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Root_Cause_s_Immediate_Action_Need_to_be_filled_by_SDE_SDH</name>
            <fieldText>Root Cause(s) / Immediate Action (Need to be filled by SDE/ SDH)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Root_Cause_s_Immediate_Action_Need_to_be_filled_by_SDE_SDH_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Identify_Root_cause</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Identified_Root_Cause_s__c}</stringValue>
                    </defaultValue>
                    <fieldText>Identified Root Cause(s):</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Escape_Point</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Escape_Point__c}</stringValue>
                    </defaultValue>
                    <fieldText>Escape Point:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Immediate_Action_Taken</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Immediate_Actions_Taken__c}</stringValue>
                    </defaultValue>
                    <fieldText>Immediate Actions Taken:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL SDH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Root_Cause_s_Immediate_Action_Need_to_be_filled_by_AM</name>
            <fieldText>Root Cause(s) / Immediate Action (Need to be filled by SDE/ SDH)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Root_Cause_s_Immediate_Action_Need_to_be_filled_by_AM_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RootmmediateActionAM</name>
                    <fieldText>&lt;p&gt;Identified Root Cause(s): {!get_case_record.Identified_Root_Cause_s__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Escape Point: {!get_case_record.Escape_Point__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Immediate Actions Taken: {!get_case_record.Immediate_Actions_Taken__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>currentUserProfileName</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>currentUserProfileName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BSL AM</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CRBG</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Corrective_Action_Prevention_of_re_occurrence_Need_to</name>
            <fieldText>Corrective Action (Prevention of re occurrence) (Need to be filled by AM, Option to be available to RM also to add if any corrective actions. Add rows/remove rows option to be available to the user)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corrective_Action_Prevention_of_re_occurrence_Need_to_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionPlan</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Verdana, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Action Plan&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>rec1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Action_Plan__c</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>rec5</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>rec9</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corrective_Action_Prevention_of_re_occurrence_Need_to_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Responsibility</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Verdana, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Responsibility (Who)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>rec2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Responsibility__c</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>rec6</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>rec10</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corrective_Action_Prevention_of_re_occurrence_Need_to_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Schedule</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Verdana, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Schedule (When)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dat1</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Schedule_Date__c</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>date2</name>
                    <dataType>Date</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>date3</name>
                    <dataType>Date</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corrective_Action_Prevention_of_re_occurrence_Need_to_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionStatus</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Verdana, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Action Status&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>rec4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Action_Status__c</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>rec8</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>rec12</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL RM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Implementation_and_Corrective_Actions_Need_to_be_Filled_By_SDE</name>
            <fieldText>Implementation of Effectiveness Verification (Need to be filled by AM)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Implementation_and_Corrective_Actions_Need_to_be_Filled_By_SDE_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Implementation_and_verification_of_Corrective_action</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Implementation_and_verification_of_Corre__c}</stringValue>
                    </defaultValue>
                    <fieldText>Implementation and verification of Corrective action :</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Revision_of_System_document_if_any</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Revision_of_System_document__c</elementReference>
                    </defaultValue>
                    <fieldText>Revision of System document if any :</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Implementation_and_Corrective_Actions_Need_to_be_Filled_By_SDE_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verified_Closed_by_Name_as_per_login</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Verified_Closed_by_Name_as_per_logi__c}</stringValue>
                    </defaultValue>
                    <fieldText>Verified &amp; Closed by (Name): as per login</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>VerificationDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Verification Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AM_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL AM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BSL RM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Implementation_of_Effectiveness_Verification_Need_to_be_filled_by_AM</name>
            <fieldText>Implementation of Effectiveness Verification (Need to be filled by AM)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Implementation_of_Effectiveness_Verification_Need_to_be_filled_by_AM_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ImplementationandverificationDetailsToAM</name>
                    <fieldText>&lt;p&gt;Implementation and verification of Corrective action:&lt;/p&gt;&lt;p&gt;{!get_case_record.Implementation_and_verification_of_Corre__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Revision of System document if any: {!get_case_record.Revision_of_System_document__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Implementation_of_Effectiveness_Verification_Need_to_be_filled_by_AM_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ImplementationandverificationDetailsToAM2</name>
                    <fieldText>&lt;p&gt;Verified &amp;amp; Closed by (Name): as per login:&lt;/p&gt;&lt;p&gt;{!get_case_record.Verified_Closed_by_Name_as_per_logi__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Verification Date: date of verification comments: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!get_case_record.Verification_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CRBG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE_CPSD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Role.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SDH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Process_compliance_verification_on</name>
            <fieldText>Process compliance verification on sampling basis</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Process_compliance_verification_on_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verification_comments</name>
                    <defaultValue>
                        <stringValue>{!get_case_record.Verification_comments__c}</stringValue>
                    </defaultValue>
                    <fieldText>Verification comments:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Verified_by_CSQA_Escalation_Manager_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Verified_by_CSQA_Escalation_Manager_Nam__c</elementReference>
                    </defaultValue>
                    <fieldText>Verified by CSQA/ Escalation Manager(Name):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Process_compliance_verification_on_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verification_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>get_case_record.Verification_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Verification Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_case_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionStatus1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>correctionAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Responsibility1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Schedule1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SDErole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
