HVAC Backup 2/flows/Complete_Service_Ticket.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Failure_Details_Upload_Or_Not</name>
        <label>Check Failure Details Upload Or Not</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Failure_Details_Mandatory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_service_Ticket.DefectText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_service_Ticket.SymptomText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_service_Ticket.ActionText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_sub_Status</targetReference>
            </connector>
            <label>Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Field_Work_Type</name>
        <label>Check Field Work Type</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Capture_Field_Work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_service_Ticket.Field_Work_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_ST</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Asset_Present</name>
        <label>Check If Asset Present?</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Asset_Mandatory_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_service_Ticket.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_service_Ticket.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stock Defective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Is_File_Upload</targetReference>
            </connector>
            <label>Asset Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_File_Upload</name>
        <label>Check Is File Upload?</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>File_Upload_Mandatory_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_service_Ticket.Is_File_Upload__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Work_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_sub_Status</name>
        <label>Check sub Status</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>get_work_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_For_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_service_Ticket.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WaitingForCustomerScreen</targetReference>
            </connector>
            <label>Waiting For Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Type</name>
        <label>Check  Work Type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_sub_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Breakdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_service_Ticket.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Breakdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Failure_Details_Upload_Or_Not</targetReference>
            </connector>
            <label>Breakdown</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_work_types</name>
        <label>check work type</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>mess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_check_work_types</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_work_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Field_Work_Type</targetReference>
            </connector>
            <label>Outcome 1 of check work type</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FieldWorkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Field_Work_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Complete Service Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Service Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_service_Ticket</name>
        <label>Get service Ticket</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Asset_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_work_type</name>
        <label>get work type</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_work_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Field_Work_type</name>
        <label>Update Field Work type</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Complete_ST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_service_Ticket.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Field_Work_Type__c</field>
            <value>
                <elementReference>Field_Work_Type</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Asset_Mandatory_Screen</name>
        <label>Asset Mandatory Screen</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_FileUploadErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Please Register Asset before completing the service ticket.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Field_Work</name>
        <label>Capture Field Work</label>
        <locationX>490</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Field_Work_type</targetReference>
        </connector>
        <fields>
            <name>Capture_Field_Work_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Field_Work_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Field_Work_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Please capture field work type.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Field_Work_Type</name>
                    <choiceReferences>FieldWorkType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Field Work Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Field_Work_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_ST</name>
        <label>Complete ST</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OTPValidation</name>
            <extensionName>c:otpValidationForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure_Details_Mandatory</name>
        <label>Failure Details Mandatory</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>failureDetailsErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Please capture failure details before completing the service ticket.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Mandatory_Screen</name>
        <label>File Upload Mandatory Screen</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FileUploadErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Please upload the file before completing the service ticket.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>mess</name>
        <label>mess</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>workStep</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 14, 14);&quot;&gt;Ticket cannot be marked as Completed as Work Steps are not Completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WaitingForCustomerScreen</name>
        <label>WaitingForCustomerScreen</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>waithingForCustomerErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(247, 12, 12);&quot;&gt;You can&apos;t complete a service ticket when the sub status is waiting for customer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_service_Ticket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
