HVAC Backup 2/flows/CP_and_Branch_Mapping_CPQ_Flow_Data_Upload.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_the_value_of_Branch</name>
        <label>Assign the value of Branch</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Branch_Details.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_the_value_of_CP</name>
        <label>Assign the value of CP</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CP_Details.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_CP_code_starts_with_L</name>
        <label>If CP code starts with L</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_the_Branch_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CP_Code_Backend_Data_upload__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CP_Details</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CP and Branch Mapping Flow Data Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP and Branch Mapping CPQ Flow Data Upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CP_Details</name>
        <label>Get CP Details</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_value_of_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Code_Backend_Data_upload__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Branch_Details</name>
        <label>Get the Branch Details</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_value_of_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Code_Backend_Data_upload__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_CP_code_starts_with_L</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP_Code_Backend_Data_upload__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
