HVAC Backup 2/flows/Create_PMS_Event_After_Approval_for_NAMO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>162</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>asstSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PMS_event_to_collection</name>
        <label>Assign PMS event to collection</label>
        <locationX>534</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>PMSCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PMSIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PMS_Event_Instance</name>
        <label>PMS Event Instance</label>
        <locationX>534</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>PMSIns.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Draft_PMS_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMSIns.PMS_Completion_SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayPlusThirtyFive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMSIns.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_service_contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMSIns.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_CLI.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMSIns.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMSIns.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PMSIns.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PMS_event_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>chec_exceuted</name>
        <label>chec exceuted</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Loop_through_CLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesExe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_get_pms_if_exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through</targetReference>
            </connector>
            <label>YesExe</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_executed_pms_already_present</name>
        <label>check if executed pms already present</label>
        <locationX>402</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>PMS_Event_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_check_if_executed_pms_already_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asstSet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_through.Asset__c</elementReference>
                </rightValue>
            </conditions>
            <label>Outcome 1 of check if executed pms already present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_exist</name>
        <label>check if exist</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_get_pms_if_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PMSExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_pms_if_exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete</targetReference>
            </connector>
            <label>PMSExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PMS_Event_Created</name>
        <label>Check if PMS Event Created</label>
        <locationX>182</locationX>
        <locationY>2147</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesPMSIns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMSCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_records</targetReference>
            </connector>
            <label>yesPMSIns</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentSubject</name>
        <dataType>String</dataType>
        <expression>&quot;PMS Work Order Number 1 for &quot;+{!Loop_through_CLI.Asset.Asset_Names__c}+&quot; covered under &quot;+{!$Record.Name}+&quot;scheduled on&quot;+ Text( {!PMSIns.Start_Date__c})</expression>
    </formulas>
    <formulas>
        <name>todayPlusThirtyFive</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 35</expression>
    </formulas>
    <formulas>
        <name>todays</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create PMS Event After Approval for NAMO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PMS Event After Approval for NAMO Draft Contract</label>
    <loops>
        <name>loop_through</name>
        <label>loop through</label>
        <locationX>74</locationX>
        <locationY>1163</locationY>
        <collectionReference>Copy_1_of_get_pms_if_exist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_CLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_CLI</name>
        <label>Loop through CLI</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <collectionReference>get_related_contract_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_executed_pms_already_present</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_PMS_Event_Created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_records</name>
        <label>create records</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>update_pms_flag_back_to_false</targetReference>
        </connector>
        <inputReference>PMSCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete</name>
        <label>delete</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_get_pms_if_exist</targetReference>
        </connector>
        <inputReference>get_pms_if_exist</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_get_pms_if_exist</name>
        <label>Copy 1 of get pms if exist</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chec_exceuted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_service_contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Executed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PMS_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_pms_if_exist</name>
        <label>get pms if exist</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_service_contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Executed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PMS_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_contract_Line_Items</name>
        <label>get related contract Line Items</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_pms_if_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_service_contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_service_contract</name>
        <label>get service contract</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_related_contract_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_pms_flag_back_to_false</name>
        <label>update pms flag back to false</label>
        <locationX>50</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>Create_PMS__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_service_contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_PMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_PMS__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>asstSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PMSCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMS_Event__c</objectType>
    </variables>
    <variables>
        <name>PMSIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMS_Event__c</objectType>
    </variables>
</Flow>
