HVAC Backup 2/flows/Create_Commercial_Contact_Update_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_AM_Approval_for_Account_Update</name>
        <label>Get AM Approval for Account Update</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Update_Request_Records</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>RequestMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_For_Commercial_Details</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Contact_update_for_approval</name>
        <label>Send Contact update for approval</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Contact_Update_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approve_Contact_Details_Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Commercial_Details</name>
        <choiceText>Commercial Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact_Details</name>
        <choiceText>Contact Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Details</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_its_Commercial_or_Contact_Update</name>
        <label>Check if its Commercial or Contact Update</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_type_of_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Commercial_Details</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commercial_Details2</targetReference>
            </connector>
            <label>Commercial update</label>
        </rules>
        <rules>
            <name>Contact_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_type_of_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact_Details</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_contacts</targetReference>
            </connector>
            <label>Contact update</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ContactFirstName</name>
        <dataType>String</dataType>
        <expression>{!ContactTable.firstSelectedRow.Name}</expression>
    </formulas>
    <formulas>
        <name>ContactName</name>
        <dataType>String</dataType>
        <expression>{!ContactTable.firstSelectedRow.Name}</expression>
    </formulas>
    <formulas>
        <name>GST_Validation</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Copy_1_of_New_GST_Number},&quot;[a-zA-Z0-9]{15}&quot;)</expression>
    </formulas>
    <interviewLabel>Create Commercial/Contact Update Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Commercial/Contact Update Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Update_Request</name>
        <label>Create Contact Update Request</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Send_Contact_update_for_approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Get_Account_Details.Area_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>ContactTable.firstSelectedRow.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Email__c</field>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Phone__c</field>
            <value>
                <elementReference>Copy_1_of_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Role__c</field>
            <value>
                <elementReference>ContactRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Email__c</field>
            <value>
                <elementReference>ContactTable.firstSelectedRow.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Phone__c</field>
            <value>
                <elementReference>ContactTable.firstSelectedRow.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Role__c</field>
            <value>
                <elementReference>ContactTable.firstSelectedRow.Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Contact_Update_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Copy_1_of_Remarks2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Update_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_Request_Records</name>
        <label>Create Update Request</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_AM_Approval_for_Account_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Get_Account_Details.Area_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_GST_Number__c</field>
            <value>
                <elementReference>Copy_1_of_New_GST_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_PAN_Number__c</field>
            <value>
                <elementReference>Copy_1_of_New_PAN_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_TAN_Number__c</field>
            <value>
                <elementReference>Copy_1_of_New_TAN_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Account_Name__c</field>
            <value>
                <elementReference>Get_Account_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_GST_Number__c</field>
            <value>
                <elementReference>Get_Account_Details.GST_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_PAN_Number__c</field>
            <value>
                <elementReference>Get_Account_Details.PAN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_TAN_Number__c</field>
            <value>
                <elementReference>Get_Account_Details.TAN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_commercial_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Update_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_commercial_record_type</name>
        <label>Get commercial record type</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Update_Request_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Update_Request__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial_Account_Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Update_record_type</name>
        <label>Get Contact Update record type</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Update_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Update_Request__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact_Account_Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_contacts</name>
        <label>Get related contacts</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <screens>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_its_Commercial_or_Contact_Update</targetReference>
        </connector>
        <fields>
            <name>Select_the_type_of_update</name>
            <choiceReferences>Commercial_Details</choiceReferences>
            <choiceReferences>Contact_Details</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the type of update</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Commercial_Details2</name>
        <label>Commercial Details</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_commercial_record_type</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Details.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_New_GST_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Details.GST_Number__c</elementReference>
            </defaultValue>
            <fieldText>GST Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;GST is invalid.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!GST_Validation}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_New_PAN_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Details.PAN_Number__c</elementReference>
            </defaultValue>
            <fieldText>PAN Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;PAN is invalid.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Copy_1_of_New_PAN_Number},&quot;[a-zA-Z0-9]{10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_New_TAN_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Details.TAN_Number__c</elementReference>
            </defaultValue>
            <fieldText>TAN Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;TAN is invalid.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Copy_1_of_New_TAN_Number},&quot;[a-zA-Z0-9]{10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Remarks2</name>
            <dataType>String</dataType>
            <fieldText>Remarks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Details2</name>
        <label>Contact Details</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Update_record_type</targetReference>
        </connector>
        <fields>
            <name>contactFullName</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!ContactTable.firstSelectedRow.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactTable.firstSelectedRow.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactTable.firstSelectedRow.Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^([0-9]{10})</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactRole</name>
            <choiceReferences>Role</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactTable.firstSelectedRow.Role__c</elementReference>
            </defaultValue>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Remarks2</name>
            <dataType>String</dataType>
            <fieldText>Remarks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Selection</name>
        <label>Contact Selection</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Details2</targetReference>
        </connector>
        <fields>
            <name>ContactTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List of Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ContactList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-952c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-64ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-8fe9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Primary Phone No.&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RequestMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please approve the account update at the earliest.</text>
    </textTemplates>
    <variables>
        <description>Related contacts of the account</description>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores the record Id from the page</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
