HVAC Backup 2/flows/CSAT_Question_Display_On_WO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Case_Id</name>
        <label>Assign Case Id</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Id_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Id0</name>
        <label>Assign Case Id</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ST.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Id_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Question</name>
        <label>Assign Last Question</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CSATLastQuestion0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Question</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Question</name>
        <label>Total Question</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>TotalQuestions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Survey_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Question</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Id_Exist</name>
        <label>Case Id Exist</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Invitation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Question</name>
        <label>Check Last Question</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Question</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Question.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalQuestions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Question</targetReference>
            </connector>
            <label>Last Question</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ST_or_Case</name>
        <label>Check ST or Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_ST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ST</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Id</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CSAT Question Display On WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSAT Question Display On WO</label>
    <loops>
        <name>Loop_Over_Question</name>
        <label>Loop Over Question</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Survey_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Last_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Answer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Answer</name>
        <label>Get Answer</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Question</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey_Invitation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Invitation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Survey_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CSATLastQuestion0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ST</name>
        <label>Get ST</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Id0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation</name>
        <label>Get Survey Invitation</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey_Invitation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Questions</name>
        <label>Get Survey Questions</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Question</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Invitation.Survey__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Survey_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Question</name>
        <label>Display Question</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Last_CSAT_Question</name>
            <fieldText>CSAT Question</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Last_CSAT_Question_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayMsg3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayMsg</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Last Question : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayMsg0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!CSATLastQuestion0.Question__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayMsg1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Feedback Comment : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayMsg2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_Answer.Answer_Comment__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_ST_or_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CSATLastQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CSATLastQuestion0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Question__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
