HVAC Backup 2/flows/Debit_note_approval_process_RMR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>check_if</name>
        <label>check if status is changed</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>status_Awaiting_Sde</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Debit_Note_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Approval From SDE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_approval_record</targetReference>
            </connector>
            <label>status Awaiting Sde</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>todaydate</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Debit note approval process RMR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Debit note approval process RMR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_approval_record</name>
        <label>get approval record</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_approval_process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_approval_process</name>
        <label>update approval process</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>update_Status_to_AM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_approval_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActorId</field>
            <value>
                <elementReference>$Record.ServiceAMApprover__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalActorId</field>
            <value>
                <elementReference>$Record.ServiceAMApprover__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProcessInstanceWorkitem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_start_date</name>
        <label>Update start date</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>Approval_Process_start_date__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Status_to_AM</name>
        <label>update Status to AM</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Approval_Process_start_date__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debit_Note_Approval_Status__c</field>
            <value>
                <stringValue>Awaiting Approval From AM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReAssign_to_AM__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_start_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Debit_Note_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval From SDE</stringValue>
            </value>
        </filters>
        <object>Transaction_Note__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Sde_approval_path</name>
            <connector>
                <targetReference>check_if</targetReference>
            </connector>
            <label>Sde approval path</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Approval_Process_start_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>processInstanceId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
</Flow>
