HVAC Backup 2/flows/Depreciation_Value_on_Asset_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>TakeInvoice</name>
        <label>TakeInvoice</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>YearDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Department_is_52_or_43</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>YearAssignment</name>
        <label>YearAssignment</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>YearDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installationDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Department_is_52_or_43</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Department_is_43_or_53</name>
        <label>Check Department is 43 or 53</label>
        <locationX>974</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Check_Department_is_53_or_58</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_CR_Water_Dispenser_Air_Cooler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DepartmentNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>43</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalculateYearDiff</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Depreciation_Value_43_Record</targetReference>
            </connector>
            <label>If CR / Water Dispenser / Air Cooler</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Department_is_52_or_43</name>
        <label>Check Department is 52 or 43</label>
        <locationX>512</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Check_Department_is_43_or_53</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AC_WC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DepartmentNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>52</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Calculate_Depreciation_Value_52_Record</targetReference>
            </connector>
            <label>If AC/WC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Department_is_53_or_58</name>
        <label>Check Department is 53 or 58</label>
        <locationX>1370</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Get_Calculate_Depreciation_Value_58_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DepartmentNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>53</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalculateYearDiff</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Calculate_Depreciation_Value_53_Record</targetReference>
            </connector>
            <label>If 53</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Install_Date_And_Division</name>
        <label>Check Install Date And Division</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_Invoice_Date_And_Division</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Install_Date_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>installationDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetDivision</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CPSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YearAssignment</targetReference>
            </connector>
            <label>If Install Date Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_Date_And_Division</name>
        <label>Check Invoice Date And Division</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Invoice_Date_Is_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetDivision</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CPSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TakeInvoice</targetReference>
            </connector>
            <label>If Invoice Date Is Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Input</name>
        <label>Check User Input</label>
        <locationX>512</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Calculate_Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_Input_Is_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnterValueToCalculate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DepreciationValue2</targetReference>
            </connector>
            <label>If User Input Is Not NULL</label>
        </rules>
    </decisions>
    <description>In this flow we are calculating Depreciation Value of an asset.</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateYearDiff</name>
        <dataType>Number</dataType>
        <expression>ABS(IF(
    MONTH(TODAY()) &lt; MONTH({!YearDate}) ||
    (MONTH(TODAY()) = MONTH({!YearDate}) &amp;&amp; DAY(TODAY()) &lt; DAY({!YearDate})),
    YEAR(TODAY()) - YEAR({!YearDate}) - 1,
    YEAR(TODAY()) - YEAR({!YearDate})
))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ValueFormula</name>
        <dataType>Number</dataType>
        <expression>{!EnterValueToCalculate} - ({!EnterValueToCalculate} * ({!DepreciationPercentage} / 100))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Depreciation Value on Asset Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Depreciation Value on Asset Flow New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Calculate_Depreciation_Value_43_Record</name>
        <label>Calculate Depreciation Value 43 Record</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Depreciation_Percentage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Year__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CalculateYearDiff</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Year__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CalculateYearDiff</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetDivision</elementReference>
            </value>
        </filters>
        <object>Calculate_Depreciation_Value_43__mdt</object>
        <outputAssignments>
            <assignToReference>DepreciationPercentage</assignToReference>
            <field>Depreciation_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Division</assignToReference>
            <field>Division__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Record</name>
        <label>Get Asset Record</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Department_Name</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order_Record.Work_Order__r.Asset.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>AssetDivision</assignToReference>
            <field>Asset_Division__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installationDate</assignToReference>
            <field>InstallDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceDate</assignToReference>
            <field>Invoice_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductFamily</assignToReference>
            <field>Product_Family__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Calculate_Depreciation_Value_52_Record</name>
        <label>Get Calculate Depreciation Value 52 Record</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Depreciation_Percentage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Year__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CalculateYearDiff</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Year__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CalculateYearDiff</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetDivision</elementReference>
            </value>
        </filters>
        <object>Calculate_Depreciation_Value_AC_WC__mdt</object>
        <outputAssignments>
            <assignToReference>DepreciationPercentage</assignToReference>
            <field>Depreciation_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Division</assignToReference>
            <field>Division__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Calculate_Depreciation_Value_53_Record</name>
        <label>Get Calculate Depreciation Value 53 Record</label>
        <locationX>1106</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Depreciation_Percentage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Year__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CalculateYearDiff</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Year__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CalculateYearDiff</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetDivision</elementReference>
            </value>
        </filters>
        <object>Calculate_Depreciation_Value_53__mdt</object>
        <outputAssignments>
            <assignToReference>DepreciationPercentage</assignToReference>
            <field>Depreciation_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Division</assignToReference>
            <field>Division__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Calculate_Depreciation_Value_58_Record</name>
        <label>Get Calculate Depreciation Value 58 Record</label>
        <locationX>1634</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Depreciation_Percentage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Year__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CalculateYearDiff</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Year__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CalculateYearDiff</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetDivision</elementReference>
            </value>
        </filters>
        <object>Calculate_Depreciation_Value_58__mdt</object>
        <outputAssignments>
            <assignToReference>DepreciationPercentage</assignToReference>
            <field>Depreciation_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Division</assignToReference>
            <field>Division__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Department_Name</name>
        <label>Get Department Name</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Department_Number</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductFamily</elementReference>
            </value>
        </filters>
        <object>Product_Family__c</object>
        <outputAssignments>
            <assignToReference>ServiceDepartmentId</assignToReference>
            <field>Service_Department_No__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Department_Number</name>
        <label>Get Department Number</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Install_Date_And_Division</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceDepartmentId</elementReference>
            </value>
        </filters>
        <object>Department__c</object>
        <outputAssignments>
            <assignToReference>DepartmentNumber</assignToReference>
            <field>Department_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Record</name>
        <label>Get Return Order Record</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Calculate_Error_Message_Screen</name>
        <label>Calculate Error Message Screen</label>
        <locationX>644</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Please enter a value to get calculated  Depreciation Value.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Depreciation_Percentage</name>
        <label>Depreciation Percentage</label>
        <locationX>512</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_User_Input</targetReference>
        </connector>
        <fields>
            <name>ShowDepreciationValue</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Depreciation&lt;/strong&gt; &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px;&quot;&gt;Percentage:-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;{!DepreciationPercentage}%&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Division}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EnterValueToCalculate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>userInputNumber</elementReference>
            </defaultValue>
            <fieldText>Enter Value To Calculate Depreciation Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Calculate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DepreciationValue2</name>
        <label>Depreciation Value</label>
        <locationX>380</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>exactValue</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Depreciation Value:-&lt;/strong&gt;&lt;strong style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!ValueFormula}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayresult</name>
            <fieldText>&lt;p&gt;Not Applicable / Cannot calculate the depreciation percentage for this asset, &lt;strong&gt;{!varAssetName}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 42, 42);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Return_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DepartmentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DepreciationPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DepreciationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>installationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>installdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceDepartmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userInputNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>year</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YearDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YearDifference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
