HVAC Backup 2/flows/FGR_Return_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Navigate_To_FGR</name>
        <label>Copy 1 of Navigate To FGR</label>
        <locationX>1936</locationX>
        <locationY>10064</locationY>
        <actionName>c:NavigateToNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>Create_Return_Order_For_Location_Dealer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_FGR_Created_Notification_to_SDE</name>
        <label>Send FGR Created Notification to SDE</label>
        <locationX>2090</locationX>
        <locationY>8072</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>FetchedFromSAP0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varSDE_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>SDE Input and Approval Pending for FGR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationSDE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Create_Return_Order_For_Location_Dealer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_FGR_Created_Notification_to_SDH</name>
        <label>Send FGR Created Notification to SDH</label>
        <locationX>2354</locationX>
        <locationY>8180</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>FetchedFromSAP0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varSDH_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>SDH Input and Approval Pending for FGR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationSDE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Create_Return_Order_For_Location_Dealer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CRBG_Approval</name>
        <label>CRBG Approval</label>
        <locationX>1282</locationX>
        <locationY>6548</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Update_Approval_Sent_WO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Work_Order_Data.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>SubmissionComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varRecipient_AIBH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>FGR_CRBG_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_FGR</name>
        <label>Navigate To FGR</label>
        <locationX>1672</locationX>
        <locationY>10064</locationY>
        <actionName>c:NavigateToNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>Create_Return_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_FGR_Created_Notification_to_SDE</name>
        <label>Send FGR Created Notification to SDE</label>
        <locationX>1122</locationX>
        <locationY>8072</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>FetchedFromSAP0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varSDE_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>SDE Input and Approval Pending for FGR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationSDE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Create_Return_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FGR_Created_Notification_to_SDH</name>
        <label>Send FGR Created Notification to SDH</label>
        <locationX>1386</locationX>
        <locationY>8180</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>FetchedFromSAP0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varSDH_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>SDH Input and Approval Pending for FGR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationSDE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Create_Return_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_ContentDocumeIds</name>
        <label>Add ContentDocumeIds</label>
        <locationX>1804</locationX>
        <locationY>7424</locationY>
        <assignmentItems>
            <assignToReference>varContentDocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceFile.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SerialFile.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UploadFile.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SDE_to_List</name>
        <label>Add SDE to List</label>
        <locationX>1122</locationX>
        <locationY>7964</locationY>
        <assignmentItems>
            <assignToReference>varSDE_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SDE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_FGR_Created_Notification_to_SDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SDH</name>
        <label>Add SDH</label>
        <locationX>2745</locationX>
        <locationY>5600</locationY>
        <assignmentItems>
            <assignToReference>SDH_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Case.SDH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDHActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Case.SDH__r.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Division</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SDH_and_AIBH_Ids</name>
        <label>Add AIBH Ids</label>
        <locationX>2877</locationX>
        <locationY>5384</locationY>
        <assignmentItems>
            <assignToReference>varRecipient_AIBH</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AIBH</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SDH0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SDH_to_List</name>
        <label>Add SDH to List</label>
        <locationX>1386</locationX>
        <locationY>8072</locationY>
        <assignmentItems>
            <assignToReference>varSDH_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SDH_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_FGR_Created_Notification_to_SDH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IDU_Serial_Number</name>
        <label>Assign IDU Serial Number</label>
        <locationX>2292</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IDUSerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Components.SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDE</name>
        <label>Assign SDE</label>
        <locationX>2468</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>SDE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Branch_Department_Record.Service_SDE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDEActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Branch_Department_Record.Service_SDE__r.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FGR_Record_With_Status_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SDE_From_CP_Account</name>
        <label>Assign SDE From CP Account</label>
        <locationX>1940</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>SDE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Data.CP__r.SDE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDEActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Data.CP__r.SDE__r.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FGR_Record_With_Status_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_serial_Number_List</name>
        <label>Assign to serial Number List</label>
        <locationX>2424</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SerialNumberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Components.SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IDU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_serial_number_list</name>
        <label>Assign asset serial number list</label>
        <locationX>1595</locationX>
        <locationY>5060</locationY>
        <assignmentItems>
            <assignToReference>SerialNumberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Asset.SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SerialNumberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SAPSerialNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Duplicate_FGR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContentDocLink_Collection</name>
        <label>ContentDocLink Collection</label>
        <locationX>2024</locationX>
        <locationY>9656</locationY>
        <assignmentItems>
            <assignToReference>varContentDocLinkCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContentDocLink_Instance_Custtomer</name>
        <label>ContentDocLink Instance(Custtomer)</label>
        <locationX>1892</locationX>
        <locationY>9464</locationY>
        <assignmentItems>
            <assignToReference>ContentDocLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Return_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContentDocLink_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContentDocLink_Instance_Dealar</name>
        <label>ContentDocLink Instance(Dealar)</label>
        <locationX>2156</locationX>
        <locationY>9464</locationY>
        <assignmentItems>
            <assignToReference>ContentDocLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Return_Order_For_Location_Dealer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContentDocLink_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_SDE_to_List</name>
        <label>Copy 1 of Add SDE to List</label>
        <locationX>2090</locationX>
        <locationY>7964</locationY>
        <assignmentItems>
            <assignToReference>varSDE_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SDE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_FGR_Created_Notification_to_SDE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_SDH_and_AIBH_Ids</name>
        <label>Add SDH</label>
        <locationX>3009</locationX>
        <locationY>5600</locationY>
        <assignmentItems>
            <assignToReference>SDH_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Branch_Department_Record.Service_SDH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDHActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Branch_Department_Record.Service_SDH__r.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Division</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_SDH_to_List</name>
        <label>Copy 1 of Add SDH to List</label>
        <locationX>2354</locationX>
        <locationY>8072</locationY>
        <assignmentItems>
            <assignToReference>varSDH_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SDH_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_FGR_Created_Notification_to_SDH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_IDU_Serial_Number</name>
        <label>Assign ODU Serial Number</label>
        <locationX>2556</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ODUSerailNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Components.SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_SDE_From_CP_Account</name>
        <label>Assign SDE From Case</label>
        <locationX>2204</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>SDE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Case.SDE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SDEActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Case.SDE__r.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FGR_Record_With_Status_Rejected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlueStar</name>
        <choiceText>BlueStar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BlueStar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Blue_Star</name>
        <choiceText>Non Blue Star</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Blue Star</stringValue>
        </value>
    </choices>
    <choices>
        <name>otherDamage</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>trasitDamage</name>
        <choiceText>Transit Damage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TransitDamage</stringValue>
        </value>
    </choices>
    <choices>
        <name>val</name>
        <choiceText>val</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>val</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Brand_Check</name>
        <label>Brand Check</label>
        <locationX>778</locationX>
        <locationY>3578</locationY>
        <defaultConnector>
            <targetReference>get_Department</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlueStar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Information_from_SAP</targetReference>
            </connector>
            <label>BSL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AIBH</name>
        <label>Check AIBH</label>
        <locationX>1414</locationX>
        <locationY>6440</locationY>
        <defaultConnector>
            <targetReference>AIBH_Not_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecipient_AIBH</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRBG_Approval</targetReference>
            </connector>
            <label>AIBH Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approval_Conditionas_For_35_33</name>
        <label>Check  Approval Conditionas  For 35/33</label>
        <locationX>1095</locationX>
        <locationY>6116</locationY>
        <defaultConnector>
            <targetReference>Check_Defect_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.FGR_Approved_Reject_For_CRBF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.FGR_Approved_Reject_For_CRBF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Return_Request</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceAgeing</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DivisionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRBG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.FGR_Approved_Reject_For_CRBF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.FGR_Approved_Reject_For_CRBF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RejectScreen</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Approval_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Is_Approval_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Sent_To_AIDH_Screen</targetReference>
            </connector>
            <label>Approval Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Asset_Present</name>
        <label>Check Asset Present</label>
        <locationX>822</locationX>
        <locationY>2870</locationY>
        <defaultConnector>
            <targetReference>FGR_without_Asset_Allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Present</defaultConnectorLabel>
        <rules>
            <name>Present0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.AssetId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_From_SAP</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Condition_for_CPSD_Division</name>
        <label>Check Condition for CPSD Division</label>
        <locationX>2431</locationX>
        <locationY>5900</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FGR_Not_Eligible_For_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Room_AC_NAMO_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductFamily</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AC - Room Air Conditioner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Invoice_Ageing_and_Department</targetReference>
            </connector>
            <label>Room AC &amp; NAMO Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Defect_Type</name>
        <label>Check Defect Type</label>
        <locationX>1612</locationX>
        <locationY>6224</locationY>
        <defaultConnector>
            <targetReference>Capture_Return_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Transit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TransitDamage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Damage_Type_Screen</targetReference>
            </connector>
            <label>Transit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Division</name>
        <label>Check  Division</label>
        <locationX>2877</locationX>
        <locationY>5792</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Invoice_Ageing_and_Department</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Division</defaultConnectorLabel>
        <rules>
            <name>CPSD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DivisionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CPSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Condition_for_CPSD_Division</targetReference>
            </connector>
            <label>CPSD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_duplicate_FGR</name>
        <label>Check duplicate FGR</label>
        <locationX>1595</locationX>
        <locationY>5276</locationY>
        <defaultConnector>
            <targetReference>Add_SDH_and_AIBH_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_FGR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Duplicate_FGR_error</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FGR_Status</name>
        <label>Check FGR Status</label>
        <locationX>1595</locationX>
        <locationY>4652</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>FGR_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FGR_Record_With_Status_Rejected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_FGR_Record_Other</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_serial_number_list</targetReference>
            </connector>
            <label>FGR Rejected</label>
        </rules>
        <rules>
            <name>FGR_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FGR_Record_With_Status_Canceled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_serial_number_list</targetReference>
            </connector>
            <label>FGR Cancelled</label>
        </rules>
        <rules>
            <name>FGR_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FGR_Record_With_Status_Closed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Screen</targetReference>
            </connector>
            <label>FGR Closed</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FGR_Record_Other</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Screen</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>No_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Is_FGR_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_serial_number_list</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IDU</name>
        <label>Check IDU</label>
        <locationX>2424</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_IDU_Serial_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IDU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Components.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IDU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Components.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IDU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Components.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ODUSerailNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IDU_Serial_Number</targetReference>
            </connector>
            <label>IDU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_Ageing_and_Department</name>
        <label>Check Invoice  Ageing and Department</label>
        <locationX>1804</locationX>
        <locationY>6008</locationY>
        <defaultConnector>
            <targetReference>Capture_Return_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X33_35_Above_90_Days_Non_NAMO</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>SalesDepartment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesDepartment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>35</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceAgeing</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Account.Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Approval_Conditionas_For_35_33</targetReference>
            </connector>
            <label>33/35 Above 90(Days)-Non-NAMO</label>
        </rules>
        <rules>
            <name>X33_30_Above_180_Days_NAMO</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>SalesDepartment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>33</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesDepartment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>30</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceAgeing</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FGR_Not_Eligible_For_Claim</targetReference>
            </connector>
            <label>33/30 Above 180(Days)-NAMO</label>
        </rules>
        <rules>
            <name>X51_Above_180_Days_NAMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesDepartment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>51</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceAgeing</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>FGR_Not_Eligible_For_Claim</targetReference>
            </connector>
            <label>51 Above 180(Days)-NAMO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_Date_from_SAP</name>
        <label>Check Invoice Date from SAP</label>
        <locationX>822</locationX>
        <locationY>4544</locationY>
        <defaultConnector>
            <targetReference>Check_FGR_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>(6 AND (1 OR 2 OR 3 OR 4 ))  OR (5 AND (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>SAPInvoiceDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAPInvoiceDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAPInvoiceNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAPInvoiceNumber</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NonTransitDamage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TransitDamage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvoiceDateNotPresentScreen</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Location_Type</name>
        <label>Check Location Type</label>
        <locationX>1804</locationX>
        <locationY>7640</locationY>
        <defaultConnector>
            <targetReference>Create_Return_Order_For_Location_Dealer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dealar</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Order</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_model_and_serial</name>
        <label>check model and serial</label>
        <locationX>822</locationX>
        <locationY>4244</locationY>
        <defaultConnector>
            <targetReference>Check_Invoice_Date_from_SAP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkModel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAPModelNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAPInvoiceNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mesg_screen</targetReference>
            </connector>
            <label>checkModel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MR_Status</name>
        <label>Check MR Status</label>
        <locationX>2204</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>MR_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MR_Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MR_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sale_department_Record_Id</targetReference>
            </connector>
            <label>MR Not Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Non_Dispatch_MR</name>
        <label>Check Non- Dispatch MR</label>
        <locationX>1804</locationX>
        <locationY>8840</locationY>
        <defaultConnector>
            <targetReference>Get_ContentDocumnet_Recors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Non_Dispatch_MR_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Non_Dispatch_MR_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MR_Status</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SDE</name>
        <label>Check SDE</label>
        <locationX>2204</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Assign_SDE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Present_On_CP_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.CP__r.SDE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SDE_From_CP_Account</targetReference>
            </connector>
            <label>SDE Present On CP  Account</label>
        </rules>
        <rules>
            <name>SDE_Present_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Case.SDE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_SDE_From_CP_Account</targetReference>
            </connector>
            <label>SDE Present on Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SDE_Present_Or_Not</name>
        <label>Check SDE Present Or Not</label>
        <locationX>1320</locationX>
        <locationY>7856</locationY>
        <defaultConnector>
            <targetReference>Check_SDH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDEActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SDE_to_List</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SDH</name>
        <label>Check SDH</label>
        <locationX>1518</locationX>
        <locationY>7964</locationY>
        <defaultConnector>
            <targetReference>FetchedFromSAP0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDH_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDHActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SDH_to_List</targetReference>
            </connector>
            <label>SDH Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SDH0</name>
        <label>Check SDH</label>
        <locationX>2877</locationX>
        <locationY>5492</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Add_SDH_and_AIBH_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>SDH_Present_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Case.SDH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SDH</targetReference>
            </connector>
            <label>SDH Present on Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ST_Status</name>
        <label>Check ST Status</label>
        <locationX>3027</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Other_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Work_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Component_Record_Type</targetReference>
            </connector>
            <label>Work In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Type</name>
        <label>Check  Work Type</label>
        <locationX>3571</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>FGR_Request_Based_On_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Installation_Breackdown</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Work_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Installation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.Work_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Breakdown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.WorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Stock Defective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ST_Status</targetReference>
            </connector>
            <label>Installation/Breackdown</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Location_Type</name>
        <label>Check Location Type</label>
        <locationX>1804</locationX>
        <locationY>9956</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Navigate_To_FGR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dealar</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_To_FGR</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_SDE_Present_Or_Not</name>
        <label>Check SDE Present Or Not</label>
        <locationX>2288</locationX>
        <locationY>7856</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_SDH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDEActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_SDE_to_List</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_SDH</name>
        <label>Check SDH</label>
        <locationX>2486</locationX>
        <locationY>7964</locationY>
        <defaultConnector>
            <targetReference>FetchedFromSAP0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SDH_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDHActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_SDH_to_List</targetReference>
            </connector>
            <label>SDH Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Location_Type</name>
        <label>Check Location Type</label>
        <locationX>2024</locationX>
        <locationY>9356</locationY>
        <defaultConnector>
            <targetReference>ContentDocLink_Instance_Dealar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dealar</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContentDocLink_Instance_Custtomer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fetch_From_SAP</name>
        <label>Fetch From SAP</label>
        <locationX>822</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_FGR_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Transit_Damage</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TransitDamage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoicedateFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceNumberFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoicedateFormula</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoicedateFormula</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Information_from_SAP</targetReference>
            </connector>
            <label>Yes Transit Damage</label>
        </rules>
        <rules>
            <name>Yes_Non_Transit_Damage</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NonTransitDamage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Check</targetReference>
            </connector>
            <label>Yes Non Transit Damage</label>
        </rules>
    </decisions>
    <decisions>
        <name>FetchedFromSAP0</name>
        <label>FetchedFromSAP</label>
        <locationX>1804</locationX>
        <locationY>8540</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FetchedFromSAP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCustomerInvoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Service_Ticket</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FGR_without_Asset_Allowed</name>
        <label>FGR without Asset Allowed?</label>
        <locationX>954</locationX>
        <locationY>2978</locationY>
        <defaultConnector>
            <targetReference>Show_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Data.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stock_Defective</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TransitDamage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_From_SAP</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>damageTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Damage_Type__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>damageValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Damage_Type__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>departSales</name>
        <collectionReference>get_Department</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Department__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EquipmentValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Equipment_Type__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>failureValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Failure_Observed_At__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>fgrReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FGR_Reason__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>locationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_Type__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MainDefectValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Main_Defect__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecommendSalesValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recommend_Sales_Return__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>resonForRturn</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_For_Return_Replacement__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>returnMaterialCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Return_Material_Category__c</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SaleDepartment</name>
        <dataType>String</dataType>
        <displayField>Department_Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sale_department_Record_Id.Id</elementReference>
            </value>
        </filters>
        <object>Department__c</object>
        <outputAssignments>
            <assignToReference>CustomSaleDepartment</assignToReference>
            <field>Department_Number__c</field>
        </outputAssignments>
        <valueField>Department_Number__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>state</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShipFromStateCode</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AIBH</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Work_Order_Data.Asset.Serviceable_Division__r.AIBH__c}),{!Get_Work_Order_Data.Case.Servicable_Division__r.AIBH__c},{!Get_Work_Order_Data.Asset.Serviceable_Division__r.AIBH__c})</expression>
    </formulas>
    <formulas>
        <name>AIDH</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Work_Order_Data.Asset.Serviceable_Division__r.AIDH__c}),{!Get_Work_Order_Data.Case.Servicable_Division__r.AIDH__c},{!Get_Work_Order_Data.Asset.Serviceable_Division__r.AIDH__c})</expression>
    </formulas>
    <formulas>
        <name>Branch</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Work_Order_Data.Asset.Branch__c}), {!Get_Work_Order_Data.Case.Branch__c}, {!Get_Work_Order_Data.Asset.Branch__c})</expression>
    </formulas>
    <formulas>
        <name>BSLInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Work_Order_Data.Asset.Invoice_Date__c}), IF(ISBLANK({!Get_Work_Order_Data.Invoice_Date__c}),{!SAPInvoiceDate} , {!Get_Work_Order_Data.Invoice_Date__c}),{!Get_Work_Order_Data.Asset.Invoice_Date__c})</expression>
    </formulas>
    <formulas>
        <name>BSLInvoiceNumber</name>
        <dataType>String</dataType>
        <expression>    IF(
        ISBLANK({!Get_Work_Order_Data.Asset.Invoice_Number__c}),
        IF(
            ISBLANK({!Get_Work_Order_Data.Invoice_Number__c}),
          {!SAPInvoiceNumber},
            {!Get_Work_Order_Data.Invoice_Number__c}
        ),
        {!Get_Work_Order_Data.Asset.Invoice_Number__c}
    )</expression>
    </formulas>
    <formulas>
        <name>DepartmentId</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Get_Work_Order_Data.Case.Service_Division__c}),
    IF(
        ISBLANK({!Get_Work_Order_Data.Asset.Service_Department_L__c}),
        {!Get_Work_Order_Data.Asset.Product2.Product_Family__r.Service_Department_No__r.Id},
        {!Get_Work_Order_Data.Asset.Service_Department_L__c}
    ),
    {!Get_Work_Order_Data.Case.Service_Division__c}
)</expression>
    </formulas>
    <formulas>
        <name>DivisionName</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Get_Work_Order_Data.Case.Servicable_Division__r.Name}),
    IF(
        ISBLANK({!Get_Work_Order_Data.Asset.Serviceable_Division__r.Name}),
        {!Get_Work_Order_Data.Asset.Product2.Product_Family__r.Service_Department_No__r.Division__r.Name},
        {!Get_Work_Order_Data.Asset.Serviceable_Division__r.Name}
    ),
    {!Get_Work_Order_Data.Case.Servicable_Division__r.Name}
)</expression>
    </formulas>
    <formulas>
        <name>FetchedFromSAP</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!SAPInvoiceDate})</expression>
    </formulas>
    <formulas>
        <name>InvoiceAgeing</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!InvoicedateFormula}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>InvoicedateFormula</name>
        <dataType>Date</dataType>
        <expression>IF({!ISCustomerInvoiceFinal} ,{!Customer_invoice_Date1} , IF(ISBLANK({!Get_Work_Order_Data.Asset.Invoice_Date__c}), IF(ISBLANK({!Get_Work_Order_Data.Invoice_Date__c}),{!SAPInvoiceDate} , {!Get_Work_Order_Data.Invoice_Date__c}),{!Get_Work_Order_Data.Asset.Invoice_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>InvoiceLabel</name>
        <dataType>String</dataType>
        <expression>IF({!ISCustomerInvoiceFinal}, &apos;Customer Invoice Date &apos;, &apos;SAP Invoice Date&apos;)</expression>
    </formulas>
    <formulas>
        <name>InvoiceNumberFormula</name>
        <dataType>String</dataType>
        <expression>     IF({!ISCustomerInvoiceFinal} ,{!Customer_Invoice_Number} ,   IF(
        ISBLANK({!Get_Work_Order_Data.Asset.Invoice_Number__c}),
        IF(
            ISBLANK({!Get_Work_Order_Data.Invoice_Number__c}),
          {!SAPInvoiceNumber},
            {!Get_Work_Order_Data.Invoice_Number__c}
        ),
        {!Get_Work_Order_Data.Asset.Invoice_Number__c}
    )
)</expression>
    </formulas>
    <formulas>
        <name>IsAssetSerialAvailable</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Work_Order_Data.AssetId}))</expression>
    </formulas>
    <formulas>
        <name>ISCustomerInvoiceFinal</name>
        <dataType>Boolean</dataType>
        <expression>{!DefectTypeFinal.topValue} = &quot;Non Transit Damage&quot;</expression>
    </formulas>
    <formulas>
        <name>ModelNumberFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Brand} = {!Non_Blue_Star}, 
    {!Model_Number},
    IF(
        ISBLANK({!Get_Work_Order_Data.Asset.Model_Number__c}),
        IF(
            ISBLANK({!Get_Work_Order_Data.FGR_Model_Number__c}),
            {!SAPModelNumber},
            {!Get_Work_Order_Data.FGR_Model_Number__c}
        ),
        {!Get_Work_Order_Data.Asset.Model_Number__c}
    )
)</expression>
    </formulas>
    <formulas>
        <name>NonTransitDamage</name>
        <dataType>String</dataType>
        <expression>&quot;Non Transit Damage&quot;</expression>
    </formulas>
    <formulas>
        <name>ProductFamily</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Work_Order_Data.Asset.Product_Family__r.Name}), {!Get_Work_Order_Data.Case.Product_Sub_Family_temp__r.Parent_Product_Family__r.Name},{!Get_Work_Order_Data.Asset.Product_Family__r.Name})</expression>
    </formulas>
    <formulas>
        <name>SalesDepartment</name>
        <dataType>String</dataType>
        <expression>IF({!Brand}= {!Non_Blue_Star} ,{!Sales_Department} , (IF(ISBLANK({!Get_Work_Order_Data.Asset.Sales_Department_L__r.Department_Number__c}),IF(ISBLANK({!Get_Work_Order_Data.Sale_Department_Number__c}),{!SAPSaleDepartment} ,{!Get_Work_Order_Data.Sale_Department_Number__c} ), {!Get_Work_Order_Data.Asset.Sales_Department_L__r.Department_Number__c})))</expression>
    </formulas>
    <formulas>
        <name>SerialNumberFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Brand}={!Non_Blue_Star} ,{!Serial_Number},(IF(ISBLANK({!Get_Work_Order_Data.Asset.SerialNumber}),IF(ISBLANK({!Get_Work_Order_Data.FGR_Serial_Number__c}),{!SAPSerialNumber},{!Get_Work_Order_Data.FGR_Serial_Number__c}),{!Get_Work_Order_Data.Asset.SerialNumber})))</expression>
    </formulas>
    <formulas>
        <name>ServiceAM</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Work_Order_Data.Case.AM__c}), {!Get_Branch_Department_Record.Service_AM__c}, {!Get_Work_Order_Data.Case.AM__c})</expression>
    </formulas>
    <formulas>
        <name>ServiceDepartmentNumber</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Get_Work_Order_Data.Case.Service_Division__r.Department_Number__c}),
    IF(
        ISBLANK({!Get_Work_Order_Data.Asset.Service_Department_L__r.Department_Number__c}),
        {!Get_Work_Order_Data.Asset.Product2.Product_Family__r.Service_Department_No__r.Department_Number__c},
        {!Get_Work_Order_Data.Asset.Service_Department_L__r.Department_Number__c}
    ),
    {!Get_Work_Order_Data.Case.Service_Division__r.Department_Number__c}
)</expression>
    </formulas>
    <formulas>
        <name>ServiceRM</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Work_Order_Data.Case.RM__c}), {!Get_Branch_Department_Record.Service_RM__c}, {!Get_Work_Order_Data.Case.RM__c})</expression>
    </formulas>
    <formulas>
        <name>SubmissionComments</name>
        <dataType>String</dataType>
        <expression>&quot;Request submitted for &quot;+{!DefectTypeFinal.topValue}</expression>
    </formulas>
    <formulas>
        <name>test</name>
        <dataType>String</dataType>
        <expression>{!DefectTypeFinal.topValue}</expression>
    </formulas>
    <formulas>
        <name>TransitDamage</name>
        <dataType>String</dataType>
        <expression>&quot;Transit Damage&quot;</expression>
    </formulas>
    <interviewLabel>Capture {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FGR Return Request</label>
    <loops>
        <name>Loop_Over_Components</name>
        <label>Loop Over Components</label>
        <locationX>2204</locationX>
        <locationY>674</locationY>
        <collectionReference>Fetch_IDU</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_serial_Number_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_FGR_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Content_Document</name>
        <label>Loop Over Content Document</label>
        <locationX>1804</locationX>
        <locationY>9248</locationY>
        <collectionReference>Get_ContentDocumnet_Recors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Check_Location_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ContentDocumentLink_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLink_Records</name>
        <label>Create ContentDocumentLink Records</label>
        <locationX>1804</locationX>
        <locationY>9848</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Location_Type</targetReference>
        </connector>
        <inputReference>varContentDocLinkCollector</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Order</name>
        <label>Create Return Order</label>
        <locationX>1320</locationX>
        <locationY>7748</locationY>
        <connector>
            <targetReference>Check_SDE_Present_Or_Not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AIBH__c</field>
            <value>
                <elementReference>AIBH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIDH__c</field>
            <value>
                <elementReference>AIDH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIH__c</field>
            <value>
                <elementReference>Get_Branch_Department_Record.AISDH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Work_Order_Data.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BSL_Invoice_Date__c</field>
            <value>
                <elementReference>BSLInvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CFS__c</field>
            <value>
                <elementReference>Get_Branch_Department_Record.CFS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Name__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureApprovalSentDatTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Work_Order_Data.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Code__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.Case.Account.Customer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.Case.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Phone__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.Case.Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Damage_Type__c</field>
            <value>
                <elementReference>DefectTypeFinal.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Type_General__c</field>
            <value>
                <elementReference>fgrPickComp.outputEquipTy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Approval_Status__c</field>
            <value>
                <stringValue>Approval Pending From SDE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Reason__c</field>
            <value>
                <elementReference>DefectTypeFinal.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_Observed_At__c</field>
            <value>
                <elementReference>Failure_Observed_At</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDU_Serial_Number__c</field>
            <value>
                <elementReference>IDUSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>InvoicedateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>InvoiceNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Type__c</field>
            <value>
                <elementReference>Location_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Defect_General__c</field>
            <value>
                <elementReference>fgrPickComp.outputMainDft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Number__c</field>
            <value>
                <elementReference>ModelNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ODU_Serial_Number__c</field>
            <value>
                <elementReference>ODUSerailNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Serial_Number__c</field>
            <value>
                <elementReference>SerialNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_FGR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Invoice_Number__c</field>
            <value>
                <elementReference>BSLInvoiceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDE__c</field>
            <value>
                <elementReference>SDE_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_AM__c</field>
            <value>
                <elementReference>Get_Branch_Department_Record.Sales_AM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_RM__c</field>
            <value>
                <elementReference>Get_Branch_Department_Record.Sales_RM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_AM__c</field>
            <value>
                <elementReference>ServiceAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_RM__c</field>
            <value>
                <elementReference>ServiceRM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromCity</field>
            <value>
                <elementReference>Get_Work_Order_Data.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromCountry</field>
            <value>
                <elementReference>Get_Work_Order_Data.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromPostalCode</field>
            <value>
                <elementReference>Get_Work_Order_Data.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromState</field>
            <value>
                <elementReference>Get_Work_Order_Data.Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromStreet</field>
            <value>
                <elementReference>Get_Work_Order_Data.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Approval From SDE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Defect_1_General__c</field>
            <value>
                <elementReference>fgrPickComp.outputsubDft1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Defect_2_General__c</field>
            <value>
                <elementReference>fgrPickComp.outputsubDft2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Order_For_Location_Dealer</name>
        <label>Create Return Order For Location Dealer</label>
        <locationX>2288</locationX>
        <locationY>7748</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_SDE_Present_Or_Not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_DisplayError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AIBH__c</field>
            <value>
                <elementReference>AIBH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIDH__c</field>
            <value>
                <elementReference>AIDH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIH__c</field>
            <value>
                <elementReference>Get_Branch_Department_Record.AISDH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Work_Order_Data.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BSL_Invoice_Date__c</field>
            <value>
                <elementReference>BSLInvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CFS__c</field>
            <value>
                <elementReference>Get_Branch_Department_Record.CFS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Name__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaptureApprovalSentDatTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Work_Order_Data.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Code__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.Case.Account.Customer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.Case.Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Phone__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.Case.Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Damage_Type__c</field>
            <value>
                <elementReference>DefectTypeFinal.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Type_General__c</field>
            <value>
                <elementReference>fgrPickComp.outputEquipTy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Approval_Status__c</field>
            <value>
                <stringValue>Approval Pending From SDE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Reason__c</field>
            <value>
                <elementReference>DefectTypeFinal.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_Observed_At__c</field>
            <value>
                <elementReference>Failure_Observed_At</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDU_Serial_Number__c</field>
            <value>
                <elementReference>IDUSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>InvoicedateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>InvoiceNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Type__c</field>
            <value>
                <elementReference>Location_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Defect_General__c</field>
            <value>
                <elementReference>fgrPickComp.outputMainDft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Number__c</field>
            <value>
                <elementReference>ModelNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ODU_Serial_Number__c</field>
            <value>
                <elementReference>ODUSerailNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>Get_Work_Order_Data.Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Serial_Number__c</field>
            <value>
                <elementReference>SerialNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_FGR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Invoice_Number__c</field>
            <value>
                <elementReference>BSLInvoiceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDE__c</field>
            <value>
                <elementReference>SDE_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_AM__c</field>
            <value>
                <elementReference>Get_Branch_Department_Record.Sales_AM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_RM__c</field>
            <value>
                <elementReference>Get_Branch_Department_Record.Sales_RM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_AM__c</field>
            <value>
                <elementReference>ServiceAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_RM__c</field>
            <value>
                <elementReference>ServiceRM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromCity</field>
            <value>
                <elementReference>Get_Work_Order_Data.CP__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromCountry</field>
            <value>
                <elementReference>Get_Work_Order_Data.CP__r.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromPostalCode</field>
            <value>
                <elementReference>Get_Work_Order_Data.CP__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromState</field>
            <value>
                <elementReference>Get_Work_Order_Data.CP__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromStreet</field>
            <value>
                <elementReference>Get_Work_Order_Data.CP__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting Approval From SDE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Defect_1_General__c</field>
            <value>
                <elementReference>fgrPickComp.outputsubDft1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Defect_2_General__c</field>
            <value>
                <elementReference>fgrPickComp.outputsubDft2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_IDU</name>
        <label>Fetch  IDUODU</label>
        <locationX>2204</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Component_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Data.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branch_Department_Record</name>
        <label>Get Branch Department Record</label>
        <locationX>2204</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Branch</elementReference>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Component_Record_Type</name>
        <label>Get Component Record Type</label>
        <locationX>2204</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_IDU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumnet_Recors</name>
        <label>Get ContentDocumnet Records</label>
        <locationX>1804</locationX>
        <locationY>9140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varContentDocIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>1804</locationX>
        <locationY>7532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Location_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FGR_SDE_Input_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Department</name>
        <label>get Department</label>
        <locationX>866</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NonBSL_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sale_department_Record_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Department__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dispatch_MR_Record</name>
        <label>Get Dispatch MR Record</label>
        <locationX>2204</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MR_records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Duplicate_FGR</name>
        <label>Get Duplicate FGR</label>
        <locationX>1595</locationX>
        <locationY>5168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_duplicate_FGR</targetReference>
        </connector>
        <filterLogic>1 AND 8 AND 9 AND ( (2 AND 3) OR ( 4 AND 5 ) OR ( 6 AND 7) )</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FGR_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Serial_Number__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SerialNumberList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Serial_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IDU_Serial_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IDU_Serial_Number__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SerialNumberList</elementReference>
            </value>
        </filters>
        <filters>
            <field>ODU_Serial_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ODU_Serial_Number__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SerialNumberList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FGR_Record_Other</name>
        <label>Get FGR Record-Other</label>
        <locationX>2204</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Dispatch_MR_Record</targetReference>
        </connector>
        <filterLogic>(2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 1</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval From SDE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval From AM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval From RM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval From AIH/AIDH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finish Good Received</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FGR_Record_Type</name>
        <label>Get FGR Record Type</label>
        <locationX>2204</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Branch_Department_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FGR</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReturnOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FGR_Record_With_Status_Canceled</name>
        <label>Get FGR Record With Status Canceled</label>
        <locationX>2204</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FGR_Record_With_Status_Closed</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FGR_Record_With_Status_Closed</name>
        <label>Get FGR Record With Status Closed</label>
        <locationX>2204</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FGR_Record_Other</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finish Good Delivered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FGR_Record_With_Status_Rejected</name>
        <label>Get  FGR Record With Status Rejected</label>
        <locationX>2204</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FGR_Record_With_Status_Canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MR_records</name>
        <label>Get MR records</label>
        <locationX>2204</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MR_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Product_Consumed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Dispatch_MR_Record</name>
        <label>Get Non Dispatch MR Record</label>
        <locationX>2204</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dispatch_MR_Record</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sale_department_Record_Id</name>
        <label>Get Sale department Record Id</label>
        <locationX>822</locationX>
        <locationY>2654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInvoiceInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Department__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Data</name>
        <label>Get Work Order Data</label>
        <locationX>3571</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Service_Ticket</name>
        <label>Update Service Ticket</label>
        <locationX>1672</locationX>
        <locationY>8648</locationY>
        <connector>
            <targetReference>Check_Non_Dispatch_MR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FGR_Model_Number__c</field>
            <value>
                <elementReference>ModelNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Serial_Number__c</field>
            <value>
                <elementReference>SerialNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>InvoicedateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>InvoiceNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_FGR_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Department_Number__c</field>
            <value>
                <elementReference>SalesDepartment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>FGR</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Sent_WO</name>
        <label>Update Approval Sent -WO</label>
        <locationX>1282</locationX>
        <locationY>6656</locationY>
        <connector>
            <targetReference>Approval_Sent_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Defect_Type_Selected_FGR__c</field>
            <value>
                <elementReference>DefectTypeFinal.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Model_Number__c</field>
            <value>
                <elementReference>SAPModelNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Serial_Number__c</field>
            <value>
                <elementReference>SAPSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>InvoicedateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>InvoiceNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Approval_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Department_Number__c</field>
            <value>
                <elementReference>SalesDepartment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MR_Status</name>
        <label>Update MR Status</label>
        <locationX>1672</locationX>
        <locationY>8948</locationY>
        <connector>
            <targetReference>Get_ContentDocumnet_Recors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Non_Dispatch_MR_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Ticket</name>
        <label>Update Service Ticket</label>
        <locationX>1936</locationX>
        <locationY>8648</locationY>
        <connector>
            <targetReference>Check_Non_Dispatch_MR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_FGR_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>FGR</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AIBH_Not_Present</name>
        <label>AIBH Not Present</label>
        <locationX>1546</locationX>
        <locationY>6548</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AIDH_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 12, 12);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(253, 15, 15);&quot;&gt;AIBH is not present for CRBG division   , so we can&apos;t send the approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Sent_Screen</name>
        <label>Approval Sent Screen</label>
        <locationX>1282</locationX>
        <locationY>6764</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>approvalSentMesssage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Shne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; color: rgb(17, 169, 15);&quot;&gt;A request to create an FGR for an invoice dated over 90 days has been sent for approval to AIBH.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Sent_To_AIDH_Screen</name>
        <label>Approval Sent To AIDH Screen</label>
        <locationX>1018</locationX>
        <locationY>6224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>aprrtovalSentMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(253, 30, 42);&quot;&gt;Approval request already sent to AIBH&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Return_Request</name>
        <label>Capture Return Request</label>
        <locationX>1804</locationX>
        <locationY>7316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_ContentDocumeIds</targetReference>
        </connector>
        <fields>
            <name>ApprovalMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(234, 9, 9);&quot;&gt;Note: Approval will be sent based on the defect type.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FGR_Details</name>
            <fieldText>FGR Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FGR_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Failure_Observed_At</name>
                    <choiceReferences>failureValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Defect Observed At</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FGR_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Type</name>
                    <choiceReferences>locationType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pick Up Place</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FGR_Details_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DefectDetails</name>
            <fieldText>DefectDetails</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DefectDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fgrPickComp</name>
                    <extensionName>c:fgrDefectComp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product_Asset_Details</name>
            <fieldText>Product/ Asset Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Asset_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InvoiceTest</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SAP Invoice Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!BSLInvoiceNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CustomerInvoiceNumberDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Invoice Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!InvoiceNumberFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>NonTransitDamage</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Asset_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InvoiceDate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SAP Invoice Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!BSLInvoiceDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CustomerInvoieDateDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Invoice Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!InvoicedateFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>NonTransitDamage</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Asset_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModelNo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Model Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ModelNumberFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Asset_Details_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>serialNumber</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Product Serial Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!SerialNumberFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Details</name>
            <fieldText>Customer &amp; CP Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CpName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CP&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerEmail1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Email&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;{!Get_Work_Order_Data.Case.Contact_Email__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CpEmail</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CP Email&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.Email__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerPhone1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Phone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.Case.Contact_Phone__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CpType</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CP Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.CP_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Details_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerCode1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer Code&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.Case.Account.Customer_ID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CpCode</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CP Code&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.CP_Code__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Address_Details</name>
            <fieldText>Customer Address Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Address_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Street&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.Account.ShippingStreet}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CustomerCountry</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Country&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_Work_Order_Data.Account.ShippingCountry}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Address_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;City&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.Account.ShippingCity}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Address_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StateProvince</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;State/Province&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.Account.ShippingState}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Address_Details_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerPincode</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pincode&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.Account.ShippingPostalCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>CP_Address_De</name>
            <fieldText>CP Address Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CP_Address_De_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StreetD</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Street&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.ShippingStreet}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CP_Country</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Country&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.ShippingCountry}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CP_Address_De_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CityD</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;City&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.ShippingCity}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CP_Address_De_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StateD</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;State/Province&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.ShippingState}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CP_Address_De_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CP_Pincode</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pincode&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Order_Data.CP__r.ShippingPostalCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <fieldText>File Upload Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>File_Upload_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UploadFile</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Defect</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.jpeg,.pdf,.png,.tiff,.mp4,.mov,.mkv</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 28, 28); font-family: Shne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please upload the file&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!UploadFile.contentDocIds}) &gt;2</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>fileName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(38, 13, 163);&quot;&gt;{!UploadFile.fileNames}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>File_Upload_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InvoiceFile</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoice</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.jpeg,.pdf,.png,.tiff</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 28, 28); font-family: Shne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please upload the file&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!InvoiceFile.contentDocIds}) &gt;2</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>InvoiceFileName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(38, 13, 163);&quot;&gt;{!InvoiceFile.fileNames}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>File_Upload_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SerialFile</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Serial</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.jpeg,.pdf,.png,.tiff,.mp4,.mov,.mkv</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 28, 28); font-family: Shne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please upload the file&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!SerialFile.contentDocIds}) &gt;2</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>SerialFileName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(38, 13, 163);&quot;&gt;{!SerialFile.fileNames}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closed_Screen</name>
        <label>Closed Screen</label>
        <locationX>1419</locationX>
        <locationY>4760</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClosedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 3, 3); font-size: 14px;&quot;&gt;FGR request already Closed. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_DisplayError</name>
        <label>Copy 1 of DisplayError</label>
        <locationX>2794</locationX>
        <locationY>7856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DisplayErr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Created_Screen</name>
        <label>Created Screen</label>
        <locationX>1683</locationX>
        <locationY>4760</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>creteadMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(237, 3, 3);&quot;&gt;FGR request in active stage &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Damage_Type_Screen</name>
        <label>Damage Type Screen</label>
        <locationX>1414</locationX>
        <locationY>6332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_AIBH</targetReference>
        </connector>
        <fields>
            <name>messageApprovalForTransit</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 21, 21); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Invoice Date is over 90 days. If you want to create a FGR please click on submit button to get an approval from AIBH.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TransitDamage</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayError</name>
        <label>DisplayError</label>
        <locationX>1826</locationX>
        <locationY>7856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FGR_Not_Eligible_For_Claim</name>
        <label>FGR Not Eligible For Claim</label>
        <locationX>1986</locationX>
        <locationY>6116</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotEligibleScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 6, 6);&quot;&gt; The FGR claim not eligible&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FGR_Request_Based_On_Work_Type</name>
        <label>FGR Request Based On Work Type</label>
        <locationX>4114</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>workTypeErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 21, 21);&quot;&gt;You can create an FGR  when the type is  Installation or Breakdown. &lt;/span&gt;&lt;span style=&quot;color: rgb(254, 9, 9);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Information_from_SAP</name>
        <label>Get Information from SAP</label>
        <locationX>822</locationX>
        <locationY>4136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_model_and_serial</targetReference>
        </connector>
        <fields>
            <name>FetchFromSAP</name>
            <extensionName>c:getFGRAssetInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>modelNumber</name>
                <value>
                    <elementReference>Get_Work_Order_Data.Asset.Model_Number__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serialNumber</name>
                <value>
                    <elementReference>Get_Work_Order_Data.Asset.SerialNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableSerial</name>
                <value>
                    <elementReference>IsAssetSerialAvailable</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SAPSaleDepartment</assignToReference>
                <name>department</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SAPInvoiceDate</assignToReference>
                <name>invoiceDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SAPInvoiceNumber</assignToReference>
                <name>invoiceNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SAPModelNumber</assignToReference>
                <name>modelNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SAPSerialNumber</assignToReference>
                <name>serialNumber</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetInvoiceInfo</name>
        <label>GetInvoiceInfo</label>
        <locationX>822</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Asset_Present</targetReference>
        </connector>
        <fields>
            <name>GetInvoiceInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GetInvoiceInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetInvoiceInfo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DefectTypeFinal</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>ReturnOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Damage_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>FGR_Reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Defect Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Customer_invoice_Date1</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Work_Order_Data.Asset.InstallDate</elementReference>
                    </defaultValue>
                    <fieldText>Customer invoice Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Invoice date can not be in future.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Customer_invoice_Date1}  &lt;={!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>NonTransitDamage</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Customer_Invoice_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Customer Invoice Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>NonTransitDamage</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand</name>
                    <choiceReferences>BlueStar</choiceReferences>
                    <choiceReferences>Non_Blue_Star</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DefectTypeFinal.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>NonTransitDamage</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetInvoiceInfo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InvoiceDateNotPresentScreen</name>
        <label>InvoiceDateNotPresentScreen</label>
        <locationX>50</locationX>
        <locationY>4652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvoiceDateNull_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(247, 16, 16);&quot;&gt; FGR Creation failed: The invoice date or the  invoice number  is missing in SAP. Please verify that the correct model and serial number are entered. If the issue persists, contact your admin for assistance. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>mesg_screen</name>
        <label>mesg screen</label>
        <locationX>690</locationX>
        <locationY>4352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Invoice_Date_from_SAP</targetReference>
        </connector>
        <fields>
            <name>BSLModel</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(241, 13, 13);&quot;&gt;Model and Serial Number not found if you still want to proceed please select Non BSL brand.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MR_Created</name>
        <label>MR Created</label>
        <locationX>3586</locationX>
        <locationY>2654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MR_Created_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 8, 8);&quot;&gt;You can&apos;t create FGR because an MR has already been raised.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NonBSL_details</name>
        <label>NonBSL details</label>
        <locationX>866</locationX>
        <locationY>3794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_FGR_Status</targetReference>
        </connector>
        <fields>
            <name>NonBSL_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NonBSL_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NonBSL_details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Model_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Model Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Serial_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Serial Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sales_Department</name>
                    <choiceReferences>departSales</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sales Department</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NonBSL_details_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Status</name>
        <label>Other Status</label>
        <locationX>3850</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>statusErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 21, 21);&quot;&gt;You can create an FGR when the status is Work started &lt;/span&gt;&lt;span style=&quot;color: rgb(254, 9, 9);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RejectScreen</name>
        <label>RejectScreen</label>
        <locationX>754</locationX>
        <locationY>6224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RejectMessahe</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Shne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; color: rgb(240, 28, 28);&quot;&gt;Your request to create an FGR for the invoice above 90 days has been rejected by AIDH. If you need further assistance, please contact your supervisor or administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Duplicate_FGR_error</name>
        <label>Show Duplicate FGR error</label>
        <locationX>314</locationX>
        <locationY>5384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Get_Duplicate_FGR.FGR_Number__c} with this serial number already present in the system.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>1042</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;FGR creation without asset is allowed for NON Transit Damage and its allowed for Stock Defective service ticket only. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3445</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varNotificationSDE</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Status :  Submitted
Defect Type : {!DefectTypeFinal.topValue}
FGR Reason : {!DefectTypeFinal.middleValue}</text>
    </textTemplates>
    <variables>
        <name>ContentDocLinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentversionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>contentVersionIds_Defect</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentVersionIds_Invoice</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentVersionIds_Serial</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomSaleDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Division</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Division__c</objectType>
    </variables>
    <variables>
        <name>FileUrlCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_URL__c</objectType>
    </variables>
    <variables>
        <name>fileUrlRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_URL__c</objectType>
    </variables>
    <variables>
        <name>IDUSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCustomerInvoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ODUSerailNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReturnOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>SAPInvoiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPInvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPModelNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPSaleDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDEActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDH_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDHActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SerialNumberList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocLinkCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varDefectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>DefectTypeFinal.topValue</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecipient_AIBH</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSDE_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSDH_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
