HVAC Backup 2/flows/Final_Update_of_CPQ_Quote_Sales_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Opportunity</name>
        <label>Navigate to Opportunity</label>
        <locationX>1436</locationX>
        <locationY>1706</locationY>
        <actionName>c:NavigateToNewRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Copy_3_of_Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Contract_and_CLI</name>
        <label>Update Contract and CLI</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <actionName>SyncQuoteLineQueueable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assigning_CPQ_Quote_Opportunity_Id</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityIds</name>
            <value>
                <elementReference>Get_CPQ_Quote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SyncQuoteLineQueueable</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assigning_CPQ_Quote_Opportunity_Id</name>
        <label>Assigning CPQ Quote Opportunity Id</label>
        <locationX>1502</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CPQ_Quote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Validating_Data_before_creating_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Sales_Quote_Opportunity_Id</name>
        <label>Assigning Sales Quote Opportunity Id</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Quote.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validating_Data_before_creating_Service_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_For_Error_Message</name>
        <label>Checking For Error Message</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Sales_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Message_Coming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorInData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Contract_Data_Missing</targetReference>
            </connector>
            <label>Error Message Coming</label>
        </rules>
    </decisions>
    <decisions>
        <name>checking_record_Id</name>
        <label>checking record Id</label>
        <locationX>1436</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>No_record_Id_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Quote_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Quote</targetReference>
            </connector>
            <label>Sales Quote Record</label>
        </rules>
        <rules>
            <name>CPQ_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CPQ_Quote</targetReference>
            </connector>
            <label>CPQ Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Checking_For_Error_Message</name>
        <label>Copy 1 of Checking For Error Message</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Update_CPQ_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Message_Coming_From_CPQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorInData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Service_Contract_Data_Missing</targetReference>
            </connector>
            <label>Error Message Coming From CPQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>If</name>
        <label>If Draft Contract</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assigning_CPQ_Quote_Opportunity_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPQ_Quote.SBQQ__Opportunity2__r.Is_Draft_Contract_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_and_CLI</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Final Update of CPQ_Quote_Sales_Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Update of CPQ_Quote_Sales_Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CPQ_Quote</name>
        <label>Get CPQ Quote</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Quote</name>
        <label>Get Sales Quote</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_Sales_Quote_Opportunity_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Related_Opportunity</name>
        <label>Copy 1 of Update Related Opportunity</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SubStatus__c</field>
            <value>
                <stringValue>Pending Activation - CBO</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CPQ_Quote</name>
        <label>Update CPQ Quote</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_CPQ_Quote_Status_As_Accepted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CPQ_Quote_Status_As_Accepted</name>
        <label>Update CPQ Quote Status As Accepted</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Update_Related_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Final_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Opportunity</name>
        <label>Update Related Opportunity</label>
        <locationX>1634</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SubStatus__c</field>
            <value>
                <stringValue>Pending Activation - CBO</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Quote</name>
        <label>Update Sales Quote</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Sales_Quote_Status_As_Accepted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Quote_Status_As_Accepted</name>
        <label>Update Sales Quote Status As Accepted</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Related_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Final_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Copy 1 of Error Screen</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_ErrorScreenMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ErrorScreenMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Service_Contract_Data_Missing</name>
        <label>Copy 1 of Service Contract Data Missing</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CPQ_Missing_Data</name>
            <fieldText>&lt;p&gt;Please check for the following missing data-&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Sap_Contact_Id_Missing}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BillToSAPCustIdErrorMessagefromSubFlow}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!ShipToSAPCustIdErrorMessagefromSubFlow}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!No_Component_Found_Error}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!PO_Num_or_PO_date_blank_error}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Plant_Warehouse_Code_Blank_Error}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!invalid_CPQ_credit_days}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!PO_details_missing_error}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Copy_1_of_Error_Screen</name>
        <label>Copy 2 of Copy 1 of Error Screen</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_ErrorScreenMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error_Screen</name>
        <label>Copy 2 of Error Screen</label>
        <locationX>2162</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_ErrorScreenMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Copy_1_of_Error_Screen</name>
        <label>Copy 3 of Copy 1 of Error Screen</label>
        <locationX>2954</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Copy_1_of_ErrorScreenMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Error_Screen</name>
        <label>Copy 3 of Error Screen</label>
        <locationX>1898</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_ErrorScreenMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreenMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_record_Id_Screen</name>
        <label>No record Id Screen</label>
        <locationX>2690</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NorecordId</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No record available.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Contract_Data_Missing</name>
        <label>Service Contract Data Missing</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sales_Missing_data</name>
            <fieldText>&lt;p&gt;Please check for the following missing data -&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BillToSAPCustIdErrorMessagefromSubFlow}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!ShipToSAPCustIdErrorMessagefromSubFlow}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!No_Sales_Quote_Component_Error}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!PO_Num_or_PO_date_blank_error}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Plant_Warehouse_Code_Blank_Error}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Sales_Invalid_Credit_Days_Error}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!PO_details_missing_error}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Sap_Contact_Id_Missing}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1436</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SuccessUpdateMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(37, 240, 1);&quot;&gt;Details updated Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checking_record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Validating_Data_before_creating_Service_Contract</name>
        <label>Validating Data before creating Service Contract</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Copy_1_of_Checking_For_Error_Message</targetReference>
        </connector>
        <flowName>Validating_Data_before_creating_Service_Contract</flowName>
        <inputAssignments>
            <name>cpqQuoteId</name>
            <value>
                <elementReference>Get_CPQ_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cpqQuoteRecord</name>
            <value>
                <elementReference>Get_CPQ_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BillToSAPCustIdErrorMessagefromSubFlow</assignToReference>
            <name>Bill_To_Error_Message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ErrorInData</assignToReference>
            <name>ErrorFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>invalid_CPQ_credit_days</assignToReference>
            <name>invalid_CPQ_credit_days</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>No_Component_Found_Error</assignToReference>
            <name>No_Component_Found_Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Plant_Warehouse_Code_Blank_Error</assignToReference>
            <name>Plant_Warehouse_Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PO_details_missing_error</assignToReference>
            <name>PO_details_Error_Variable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PO_Num_or_PO_date_blank_error</assignToReference>
            <name>PO_Number_Blank_Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sap_Contact_Id_Missing</assignToReference>
            <name>Sap_Contact_Id_Missing</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShipToSAPCustIdErrorMessagefromSubFlow</assignToReference>
            <name>Ship_To_Error_Message</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validating_Data_before_creating_Service_Contract</name>
        <label>Validating Data before creating Service Contract</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Checking_For_Error_Message</targetReference>
        </connector>
        <flowName>Validating_Data_before_creating_Service_Contract</flowName>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>salesQuoteId</name>
            <value>
                <elementReference>Get_Sales_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>salesQuoteRecord</name>
            <value>
                <elementReference>Get_Sales_Quote</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BillToSAPCustIdErrorMessagefromSubFlow</assignToReference>
            <name>Bill_To_Error_Message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ErrorInData</assignToReference>
            <name>ErrorFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>No_Component_Found_Error</assignToReference>
            <name>No_Component_Found_Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>No_Sales_Quote_Component_Error</assignToReference>
            <name>No_Sales_Component_Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Plant_Warehouse_Code_Blank_Error</assignToReference>
            <name>Plant_Warehouse_Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PO_details_missing_error</assignToReference>
            <name>PO_details_Error_Variable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PO_Num_or_PO_date_blank_error</assignToReference>
            <name>PO_Number_Blank_Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sales_Invalid_Credit_Days_Error</assignToReference>
            <name>Sales_Invalid_Credit_Days_Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sap_Contact_Id_Missing</assignToReference>
            <name>Sap_Contact_Id_Missing</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShipToSAPCustIdErrorMessagefromSubFlow</assignToReference>
            <name>Ship_To_Error_Message</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BillToSAPCustIdErrorMessagefromSubFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorInData</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invalid_CPQ_credit_days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>No_Component_Found_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>No_Sales_Quote_Component_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Plant_Warehouse_Code_Blank_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PO_details_missing_error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PO_Num_or_PO_date_blank_error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sales_Invalid_Credit_Days_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sap_Contact_Id_Missing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShipToSAPCustIdErrorMessagefromSubFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
