HVAC Backup 2/flows/Get_details_from_parent_NAMO_to_Child_NAMO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_child_record</name>
        <label>Navigate to child record</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>c:NavigateToNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>NewlyCreatedAccount.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignAccountName</name>
        <label>AssignAccountName</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>NewlyCreatedAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Namo_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValue</name>
        <label>AssignValue</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CloneParent.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_details_of_NAMO_Account.ShippingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneParent.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_details_of_NAMO_Account.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneParent.GST_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_details_of_NAMO_Account.GST_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Active</name>
        <choiceText>Active</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bulk_Upload</name>
        <choiceText>Bulk Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bulk Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Care</name>
        <choiceText>Customer Care</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Care</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed</name>
        <choiceText>Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InActive</name>
        <choiceText>InActive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InActive</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kilometers</name>
        <choiceText>Kilometers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kilometers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Meters</name>
        <choiceText>Meters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meters</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miles</name>
        <choiceText>Miles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miles</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_Application</name>
        <choiceText>Mobile Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>OEM</name>
        <choiceText>OEM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OEM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partner</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partner_Integration</name>
        <choiceText>Partner Integration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner Integration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>PEP_Customer</name>
        <choiceText>PEP Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PEP Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Social</name>
        <choiceText>Social</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verified</name>
        <choiceText>Verified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verified</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIP</name>
        <choiceText>VIP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>Whatsapp</name>
        <choiceText>Whatsapp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Whatsapp</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_address</name>
        <label>Check address</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address.pincode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Child_Account</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Category_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cellphone_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cell_Phone_Not_Allowed__c</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Account_Id_Store_F</name>
        <dataType>String</dataType>
        <expression>{!Get_details_of_NAMO_Account.Id}</expression>
    </formulas>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(  {!recordId}  ),&apos;&apos;, {!Get_details_of_NAMO_Account.Name} )+ IF(ISBLANK({!NewlyCreatedAccount.ShippingState}),&apos;&apos;,&apos; - &apos;+{!NewlyCreatedAccount.ShippingState}  )+ IF(ISBLANK({!NewlyCreatedAccount.ShippingCity}),&apos;&apos;,&apos; - &apos;+{!NewlyCreatedAccount.ShippingCity} ) + IF(ISBLANK({!NewlyCreatedAccount.Namo_Branch__c}),&apos;&apos;,&apos; - &apos;+{!NewlyCreatedAccount.Namo_Branch__c}) +  IF(ISBLANK( {!CloneParent.SOL_Store_ID__c} ),&apos;&apos;,&apos; - &apos;+{!CloneParent.SOL_Store_ID__c})</expression>
    </formulas>
    <interviewLabel>Get details from parent NAMO to Child NAMO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get details from parent NAMO to Child NAMO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Child_Account</name>
        <label>Create a Child Account</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>NewlyCreatedAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Address.pincode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Address.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_House_Flat_BlockNo__c</field>
            <value>
                <elementReference>Address.flat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Locality__c</field>
            <value>
                <elementReference>Address.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Sector__c</field>
            <value>
                <elementReference>Address.sector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Sublocality__c</field>
            <value>
                <elementReference>Address.sublocality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>EmailAddress.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GST_Number__c</field>
            <value>
                <elementReference>CloneParent.GST_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Namo_Branch__c</field>
            <value>
                <elementReference>NAMO_Branch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notice__c</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.Notice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Number__c</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.PAN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Verified__c</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.PAN_Verified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Sub.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOL_Store_ID__c</field>
            <value>
                <elementReference>CloneParent.SOL_Store_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Phone_No__c</field>
            <value>
                <elementReference>Secondary_Phone_No.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Address.pincode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Address.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_House_Flat_BlockNo__c</field>
            <value>
                <elementReference>Address.flat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Locality__c</field>
            <value>
                <elementReference>Address.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Sector__c</field>
            <value>
                <elementReference>Address.sector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Sublocality__c</field>
            <value>
                <elementReference>Address.sublocality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Segment__c</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.Sub_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAN_Number__c</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.TAN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAN_Verified__c</field>
            <value>
                <elementReference>Get_details_of_NAMO_Account.TAN_Verified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_details_of_NAMO_Account</name>
        <label>Get details of NAMO Account</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>NewlyCreatedAccount</name>
        <label>NewlyCreatedAccount</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAccountName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_a_Child_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Namo_Account_Name</name>
        <label>Update Namo Account Name</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Account_Created_Screen</targetReference>
        </connector>
        <inputReference>NewlyCreatedAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Created_Screen</name>
        <label>Account Created Screen</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigate_to_child_record</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Account Created Sucessfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Shipping_Address</targetReference>
        </connector>
        <fields>
            <name>Account_Information_Sub</name>
            <fieldText>Account Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Information_Sub_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ParentAccount</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68);&quot;&gt;Parent Account: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;{!Get_details_of_NAMO_Account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Information_Sub_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Segment_0</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68);&quot;&gt;Segment: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;{!Get_details_of_NAMO_Account.Industry}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_Segment</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68);&quot;&gt;Sub Segment: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;{!Get_details_of_NAMO_Account.Sub_Segment__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Information_Sub_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace13</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NAMO_Branch</name>
                    <dataType>String</dataType>
                    <fieldText>Branch</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CloneParent.SOL_Store_ID__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_details_of_NAMO_Account.Group__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>NAMO</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Information_0</name>
            <fieldText>Business Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Information_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace5</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PAN</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68);&quot;&gt;PAN Number: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;{!Get_details_of_NAMO_Account.PAN_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Information_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace6</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TANNumber</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68);&quot;&gt;TAN Number: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;{!Get_details_of_NAMO_Account.TAN_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Information_0_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace7</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CloneParent.GST_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_Information</name>
            <fieldText>Contact Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace8</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Landline</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Landline</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace9</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EmailAddress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Website_Sub</name>
                    <dataType>String</dataType>
                    <fieldText>Website</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmptySpace10</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Phone_Sub</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^[6-9]\d{9}$</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Secondary_Phone_No</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Secondary Phone No.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Shipping_Address</name>
        <label>Add Shipping Address</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_address</targetReference>
        </connector>
        <fields>
            <name>addressMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please save the address then click on next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>c:autolaunchAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>calledFromFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Account couldn&apos;t be created because of the following error : &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_details_of_NAMO_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CloneParent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>dp_segment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dp_sub_segment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
