HVAC Backup 2/flows/Milestone_Breach_Notification_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_For_Milestone</name>
        <label>Notification For Milestone</label>
        <locationX>598</locationX>
        <locationY>456</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Milestone Breach</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignedIdtoList</name>
        <label>assignedIdtoList</label>
        <locationX>533</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>UserIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopForUserList.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_For_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignemntToUserIdList</name>
        <label>AssignemntToUserIdList</label>
        <locationX>137</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>emailIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CP__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CP__r.SDE__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fetchUserIdByEmail</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Milestone_Breach__c}) +  &apos; has been breached for Ticket  Number &apos; + {!$Record.CaseNumber}+&apos; kindly take this at a priority&apos;</expression>
    </formulas>
    <interviewLabel>Milestone Breach Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Milestone Breach Notification Flow</label>
    <loops>
        <name>loopForUserList</name>
        <label>loopForUserList</label>
        <locationX>306</locationX>
        <locationY>572</locationY>
        <collectionReference>fetchUserIdByEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignedIdtoList</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fetchUserIdByEmail</name>
        <label>fetchUserIdByEmail</label>
        <locationX>321</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopForUserList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>In</operator>
            <value>
                <elementReference>emailIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>486</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignemntToUserIdList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Breach_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone_Breach__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Milestone_Breach__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
