HVAC Backup 2/flows/Opportunity_Contract_Creation_with_Outstanding_approval_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_from_AM</name>
        <label>Approval from AM</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>Approver</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Contract_Booking_Approval_process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AICH_Id</name>
        <label>AICH Id</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Approver</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.All_India_Commericial_Head__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_from_AM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AM_Id</name>
        <label>AM Id</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Approver</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Area_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_from_AM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RM_Id</name>
        <label>RM Id</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Approver</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Regional_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_from_AM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Outstanding_Since</name>
        <label>Check Outstanding Since</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>X30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formulatocalculatedays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AM_Id</targetReference>
            </connector>
            <label>30 days</label>
        </rules>
        <rules>
            <name>X60_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formulatocalculatedays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RM_Id</targetReference>
            </connector>
            <label>60 days</label>
        </rules>
        <rules>
            <name>X90_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formulatocalculatedays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AICH_Id</targetReference>
            </connector>
            <label>90 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outstanding_Amount_Available</name>
        <label>AMC Opportunity &amp; Outstanding Amount Available</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Outstanding_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Outstanding_Since</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formulatocalculatedays</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!$Record.Account.Outstanding_Since__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity - Contract Creation with Outstanding approval flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Contract Creation with Outstanding approval flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outstanding_Amount_Available</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Approver</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
