HVAC Backup 2/flows/Opportunity_Merge.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Opp_Id</name>
        <label>Add Opp Id</label>
        <locationX>440</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>deleteOppId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Parent.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Opp_Id</name>
        <label>Assign Current Opp Id</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Assign_Parent.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Delete_Opp_Id_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Id_Set</name>
        <label>Create Id Set</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>oppIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Opporunities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opporunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Delete_Opp_Id_Set</name>
        <label>Check Delete Opp Id Set</label>
        <locationX>352</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Add_Opp_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteOppId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Assign_Parent.OpportunityId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent</targetReference>
            </connector>
            <label>If Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Merge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Merge</label>
    <loops>
        <name>Assign_Parent</name>
        <label>Assign Parent</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>selectedOppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Opp_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Opporunities</name>
        <label>Iterate Opporunities</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>get_other_open_opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Id_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_opp_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_opp_products</name>
        <label>get opp products</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>oppIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_other_open_opportunities</name>
        <label>get other open opportunities</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opporunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>getCurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentOpportunity</name>
        <label>getCurrentOpportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_other_open_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <inputReference>selectedOppProducts</inputReference>
    </recordUpdates>
    <screens>
        <name>Select_Opportunity_Products</name>
        <label>Select Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Parent</targetReference>
        </connector>
        <fields>
            <name>oppItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>AMC Opportunity Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_opp_products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Asset__c&quot;,&quot;guid&quot;:&quot;column-487f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;OpportunityId&quot;,&quot;guid&quot;:&quot;column-1abc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOppProducts</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>deleteOppId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
