HVAC Backup 2/flows/PMS_Reschedule_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Increase_add_by_1</name>
        <label>Increase add by 1</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CountReScheduleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_ReScheduled_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseCountBy1</name>
        <label>IncreaseCountBy1</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CountScheduleRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountAllScheduledRecords</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_ReScheduled_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter ReScheduled Records</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Filter_ReScheduled_Records_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Getting_PMS_Scheduled_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_ReScheduled_Records_0.Is_Rescheduled__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_ReScheduled_Records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>ComparingPMSReschedulePercentage</name>
        <label>ComparingPMSReschedulePercentage</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetRescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMSRechedulePercentage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DivisionPMSReschedulePercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>GetRescheduled</label>
        </rules>
    </decisions>
    <description>reschedule date validation fix</description>
    <environments>Default</environments>
    <formulas>
        <name>DivisionPMSReschedulePercentage</name>
        <dataType>Number</dataType>
        <expression>{!GetRecord.Asset.Product_Family__r.Division_Lookup__r.CP_PMS_Reschedule_Percentage__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PMSRechedulePercentage</name>
        <dataType>Number</dataType>
        <expression>(({!CountReScheduleRecords}+1)/{!CountScheduleRecords}) * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quarter_PMS_Reschedule_Date</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(MONTH({!PMS_Reschedule_Date}) &gt;= 1, MONTH({!PMS_Reschedule_Date}) &lt;= 3),
    &apos;Q1&apos;,
    IF(
        AND(MONTH({!PMS_Reschedule_Date}) &gt;= 4, MONTH({!PMS_Reschedule_Date}) &lt;= 6),
        &apos;Q2&apos;,
        IF(
            AND(MONTH({!PMS_Reschedule_Date}) &gt;= 7, MONTH({!PMS_Reschedule_Date}) &lt;= 9),
            &apos;Q3&apos;,
            IF(
                AND(MONTH({!PMS_Reschedule_Date}) &gt;= 10, MONTH({!PMS_Reschedule_Date}) &lt;= 12),
                &apos;Q4&apos;,
                &apos;&apos;
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>Year_PMS_Reschedule_Date</name>
        <dataType>Number</dataType>
        <expression>YEAR({!PMS_Reschedule_Date})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PMS Reschedule Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMS Reschedule Date</label>
    <loops>
        <name>Count_ReScheduled_Records</name>
        <label>Count ReScheduled Records</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>Filter_ReScheduled_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_add_by_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ComparingPMSReschedulePercentage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CountAllScheduledRecords</name>
        <label>CountAllScheduledRecords</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Getting_PMS_Scheduled_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IncreaseCountBy1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_ReScheduled_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecord</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reschedule_PMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will fetch the records whose PMS is only schedule.</description>
        <name>Getting_PMS_Scheduled_Records</name>
        <label>Getting PMS Scheduled Records</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountAllScheduledRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PMS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quarter_PMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quarter_PMS_Reschedule_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecord.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year_PMS_Maintenance_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year_PMS_Reschedule_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Rescheduled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PMS_Maintenance_Date__c</field>
            <value>
                <elementReference>PMS_Reschedule_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PMS_Reschedule_Date__c</field>
            <value>
                <elementReference>PMS_Reschedule_Date</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Display_Error_Text</name>
        <label>Display Error Text</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;Cannot be rescheduled because it  crossed&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&amp;nbsp;&lt;/span&gt;percentage of tickets that are rescheduled for that CP in the same quarter.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reschedule_PMS</name>
        <label>Reschedule PMS</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Getting_PMS_Scheduled_Records</targetReference>
        </connector>
        <fields>
            <name>PMS_Reschedule_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetRecord.PMS_Reschedule_Date__c</elementReference>
            </defaultValue>
            <fieldText>PMS Reschedule Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Reschedule Date should be in same quarter.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    {!PMS_Reschedule_Date} &gt;= DATEVALUE({!GetRecord.CreatedDate}),
    {!PMS_Reschedule_Date} &lt;= ADDMONTHS(DATEVALUE({!GetRecord.CreatedDate}), 3)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Schedule_PMS_Date</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgba(9, 30, 66, 0.06);&quot;&gt;Scheduled PMS Date&amp;nbsp;is {!GetRecord.StartDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountReScheduleRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountScheduleRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Rescheduled_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_ReScheduled_Records_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
