HVAC Backup 2/flows/PMS_Cancellation_NAMO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Send_Notification_To_Case_Owner</name>
        <label>Send Notification To Case Owner</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Copy_1_of_Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ReceipintIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubjectCP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SubjectCP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PMS_Cancellation_Approval_PMS</name>
        <label>PMS Cancellation Approval-PMS</label>
        <locationX>5077</locationX>
        <locationY>3818</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Sent_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Work_Order_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varIdKAM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PMS_Ticket_Cancelation_For_NAMO</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_To_Case_Owner</name>
        <label>Send Notification To Case Owner</label>
        <locationX>3174</locationX>
        <locationY>2378</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>RequestSubmitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ReceipintIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>subjectCCO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyCCO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Service_Ticket_B2B_cancellation_Approval</name>
        <label>Service Ticket B2B cancellation Approval</label>
        <locationX>5605</locationX>
        <locationY>3818</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Copy_1_of_Approval_Sent_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Work_Order_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varSdeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Service_Ticke_Cancelation2_For_B2B</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Approver_Id</name>
        <label>Add Approver Id</label>
        <locationX>5473</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>varIdKAM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_KM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIdRM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSdeId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Asset.SDE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_NAMO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count</name>
        <label>Assign count</label>
        <locationX>5473</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>AssignedPMS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ALL_PMS_Assigned_to_CP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelledPMS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_Get_ALL_PMS_Assigned_to_CP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Servicable_Division</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_Name</name>
        <label>Assign Owner Name</label>
        <locationX>861</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Details.CP__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CBO_CCO_Cancellation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_RecipeintIds</name>
        <label>Assign RecipeintIds</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ReceipintIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Cancellation_Requested_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecipeintIds</name>
        <label>Assign RecipeintIds</label>
        <locationX>3174</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>ReceipintIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Owner_CCO</name>
        <label>Case Owner CCO?</label>
        <locationX>3306</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>RequestSubmitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Case.Owner:User.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecipeintIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CBO_CCO_Cancellation</name>
        <label>CBO/CCO Cancellation</label>
        <locationX>861</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_ST_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CBO_CCO</name>
            <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CBO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Capture_Cancelation_Reason</targetReference>
            </connector>
            <label>CBO/CCO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_5_criteria</name>
        <label>Check 5 % criteria</label>
        <locationX>4714</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_RM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Above 5 %</defaultConnectorLabel>
        <rules>
            <name>Below_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMSCriteria</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PMSCriteriaPercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Cancel_ST_For_UPSD</targetReference>
            </connector>
            <label>Below 5 %</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_5_criteria0</name>
        <label>Check 5 % criteria</label>
        <locationX>4274</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Get_RM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Above 5 %</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Below_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMSCriteria</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PMSCriteriaPercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Cancel_ST_For_UPSD</targetReference>
            </connector>
            <label>Below 5 %</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_RMR_OR_FGR</name>
        <label>Check Active RMR OR FGR</label>
        <locationX>2548</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Pending_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_FGR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_FGR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_FGR_Screen</targetReference>
            </connector>
            <label>Active FGR</label>
        </rules>
        <rules>
            <name>Active_RMR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_RMR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_RMR_Screen</targetReference>
            </connector>
            <label>Active RMR</label>
        </rules>
        <rules>
            <name>Active_MR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_MR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_MR_Screen</targetReference>
            </connector>
            <label>Active MR</label>
        </rules>
        <rules>
            <name>Active_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Appointment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Active_Appointment_Screen</targetReference>
            </connector>
            <label>Active Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Asset_Present_Or_Not</name>
        <label>Check Asset Present Or Not</label>
        <locationX>4367</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Get_Branch_Division_Record_Based_On_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_present_On_ST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Branch_Division_Record</targetReference>
            </connector>
            <label>Asset present On ST</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_case_status</name>
        <label>Check case status</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipient_available</targetReference>
            </connector>
            <label>Is Canceled?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Type0</name>
        <label>Check Customer Type</label>
        <locationX>4494</locationX>
        <locationY>2270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Residential0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Cancel_ST_For_UPSD</targetReference>
            </connector>
            <label>Residential</label>
        </rules>
        <rules>
            <name>NAMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_5_criteria0</targetReference>
            </connector>
            <label>NAMO</label>
        </rules>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_5_criteria</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_KAM_Present_Or_Not</name>
        <label>Check KAM Present Or Not</label>
        <locationX>5209</locationX>
        <locationY>3602</locationY>
        <defaultConnector>
            <targetReference>KAM_not_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Account.KAM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancelation_Details</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NAMO</name>
        <label>Check NAMO</label>
        <locationX>5473</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Check_RM_Present_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAMO0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_KAM_Present_Or_Not</targetReference>
            </connector>
            <label>NAMO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RM_Present_Or_Not</name>
        <label>Check RM Present Or Not</label>
        <locationX>5737</locationX>
        <locationY>3602</locationY>
        <defaultConnector>
            <targetReference>RM_not_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Branch_Division_Record.Service_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Branch_Division_Record_Based_On_Product.Service_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Cancelation_Details</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ST_Status</name>
        <label>Check ST Status</label>
        <locationX>1541</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_MR_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ST_Inactive_Stage</targetReference>
            </connector>
            <label>Completed/ Rejected</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_ST_Canceled_Screen</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Cancellation_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Already_ST_Canceled_Screen</targetReference>
            </connector>
            <label>Cancellation Requested</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ST_Inactive_Stage</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Customer_Type</name>
        <label>Check Customer Type</label>
        <locationX>6452</locationX>
        <locationY>2378</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Residential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_5_criteria</targetReference>
            </connector>
            <label>Residential</label>
        </rules>
        <rules>
            <name>Copy_1_of_NAMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Account.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Check_5_criteria</targetReference>
            </connector>
            <label>NAMO</label>
        </rules>
        <rules>
            <name>Copy_1_of_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Check_5_criteria</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Pending_Approval</name>
        <label>Check Pending Approval</label>
        <locationX>3506</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Check_Asset_Present_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.FGR_Approved_Reject_For_CRBF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Approval_Pending_Screen</targetReference>
            </connector>
            <label>Pending?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Servicable_Division</name>
        <label>Servicable Division</label>
        <locationX>5473</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>Get_CBO_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CPSD</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_UPSD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServicableDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServicableDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRBG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer_Type0</targetReference>
            </connector>
            <label>UPSD</label>
        </rules>
        <rules>
            <name>null_Division</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServicableDivision</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServicableDivision</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Division_not_Present</targetReference>
            </connector>
            <label>null Division</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_5_criteria</name>
        <label>Check 5 % criteria</label>
        <locationX>5770</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_RM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Above 5 %</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Below_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMSCriteria</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PMSCriteriaPercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_ST</targetReference>
            </connector>
            <label>Below 5 %</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Check_5_criteria</name>
        <label>Check 5 % criteria</label>
        <locationX>6738</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_RM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Above 5 %</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Below_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMSCriteria</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PMSCriteriaPercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Update_ST</targetReference>
            </connector>
            <label>Below 5 %</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Check_5_criteria</name>
        <label>Check 5 % criteria</label>
        <locationX>6298</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Get_RM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Above 5 %</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Below_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMSCriteria</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PMSCriteriaPercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Update_ST</targetReference>
            </connector>
            <label>Below 5 %</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMS</name>
        <label>PMS?</label>
        <locationX>4367</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Get_PMS_WorkTypeID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PMS</defaultConnectorLabel>
        <rules>
            <name>NON_PMS</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Servicable_Division</targetReference>
            </connector>
            <label>NON PMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipient_available</name>
        <label>Recipient available</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>SuccessMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Cancellation_Requested_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Cancellation_Requested_By__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_RecipeintIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Servicable_Division</name>
        <label>Servicable Division</label>
        <locationX>3262</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Division_not_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>UPSD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServicableDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServicableDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRBG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_ST_For_UPSD</targetReference>
            </connector>
            <label>UPSD</label>
        </rules>
        <rules>
            <name>CPSD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServicableDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CCO_Queue</targetReference>
            </connector>
            <label>CPSD</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>cancellationReasonValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cancellation_Reason__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CustomerType</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Work_Order_Details.Account.RecordType.DeveloperName} = &apos;Commercial_Customer&apos;, &apos;Commercial Customer&apos;,&apos;Residential Customer&apos;)</expression>
    </formulas>
    <formulas>
        <name>firstDateOfMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}), 1)</expression>
    </formulas>
    <formulas>
        <name>LastDateOfMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}) + 1, 1) - 1</expression>
    </formulas>
    <formulas>
        <name>NotificationBodyCCO</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!OwnerName}),  &quot; Cancellation has been requested for the service ticket &quot;+{!Get_Work_Order_Details.Ticket_Number_Read_Only__c},  {!OwnerName} +&quot; has requested cancellation for the service ticket &quot;+{!Get_Work_Order_Details.Ticket_Number_Read_Only__c})</expression>
    </formulas>
    <formulas>
        <name>PMSCriteria</name>
        <dataType>Number</dataType>
        <expression>(({!CancelledPMS} + 1) / {!AssignedPMS} ) * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PMSCriteriaPercentage</name>
        <dataType>Number</dataType>
        <expression>5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ServicableDivision</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Work_Order_Details.Case.Servicable_Division__r.Name})), {!Get_Work_Order_Details.Case.Servicable_Division__r.Name}, {!Get_Work_Order_Details.Asset.Serviceable_Division__r.Name})</expression>
    </formulas>
    <formulas>
        <name>subjectCCO</name>
        <dataType>String</dataType>
        <expression>&quot;Cancel Request for Service Ticket : &quot; + {!Get_Work_Order_Details.Ticket_Number_Read_Only__c}</expression>
    </formulas>
    <formulas>
        <name>SubjectCP</name>
        <dataType>String</dataType>
        <expression>&quot;Service Ticket  &quot; + {!Get_Work_Order_Details.Ticket_Number_Read_Only__c}+&quot; has been cancelled.&quot;</expression>
    </formulas>
    <interviewLabel>PMS Cancelation- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Ticket Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_ALL_PMS_Assigned_to_CP</name>
        <label>Get ALL PMS Cancellation</label>
        <locationX>5473</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PMS_WorkTypeID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.CP__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>firstDateOfMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastDateOfMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Requested_By__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.CP__r.CP_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Send_Notification_To_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ST_Cancel_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_FGR</name>
        <label>Get Active FGR</label>
        <locationX>2548</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_RMR</targetReference>
        </connector>
        <filterLogic>1 AND (2 AND 3 AND 5 AND 6) AND 4</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FGR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finish Good Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_MR</name>
        <label>Get Active MR</label>
        <locationX>2548</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_RMR_OR_FGR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MR_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_RMR</name>
        <label>Get Active RMR</label>
        <locationX>2548</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_MR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>RMR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ALL_PMS_Assigned_to_CP</name>
        <label>Get ALL PMS Assigned to CP</label>
        <locationX>5473</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_ALL_PMS_Assigned_to_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.CP__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>firstDateOfMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastDateOfMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PMS_WorkTypeID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branch_Division_Record</name>
        <label>Get Branch Division Record</label>
        <locationX>4235</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Cancelation_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Asset.Branch__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Asset.Service_Department_L__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branch_Division_Record_Based_On_Product</name>
        <label>Get Branch Division Record- Based On Product</label>
        <locationX>4499</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Cancelation_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Case.Branch__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Case.Service_Division__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CBO_Queue</name>
        <label>Get CBO Queue</label>
        <locationX>6452</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Customer_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CBO_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CCO_Queue</name>
        <label>Get CCO Queue</label>
        <locationX>3306</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCO_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>3174</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_To_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ST_Cancel_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_KM</name>
        <label>Get KM</label>
        <locationX>5473</locationX>
        <locationY>3278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Approver_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Account.KAM__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MR_Record_Type</name>
        <label>Get MR Record Type</label>
        <locationX>2548</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_FGR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductRequest</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Material_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PMS_WorkTypeID</name>
        <label>Get PMS WorkTypeID</label>
        <locationX>5473</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ALL_PMS_Assigned_to_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RM</name>
        <label>Get RM</label>
        <locationX>5473</locationX>
        <locationY>3170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_KM</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Branch_Division_Record.Service_RM__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Branch_Division_Record_Based_On_Product.Service_RM__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Details</name>
        <label>Get Work Order Details</label>
        <locationX>861</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Cancelation_Details</name>
        <label>Copy 1 of Update Cancelation Details</label>
        <locationX>5605</locationX>
        <locationY>3710</locationY>
        <connector>
            <targetReference>Service_Ticket_B2B_cancellation_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Comments__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Approved_Reject_For_CRBF__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RM_User__c</field>
            <value>
                <elementReference>Get_RM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancellation Requested</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_ST</name>
        <label>Update ST</label>
        <locationX>5638</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>Copy_1_of_RequestSubmitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Comments__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CBO_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancellation Requested</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cancelation_Details</name>
        <label>Update Cancelation Details</label>
        <locationX>5077</locationX>
        <locationY>3710</locationY>
        <connector>
            <targetReference>PMS_Cancellation_Approval_PMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Comments__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Approved_Reject_For_CRBF__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancellation Requested</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Recipient_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Comment__c</field>
            <value>
                <elementReference>Copy_1_of_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>Get_Work_Order_Details.Cancellation_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Ticket_Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Ticket_Status</name>
        <label>Update Service Ticket Status</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Check_case_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Comments__c</field>
            <value>
                <elementReference>Copy_1_of_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ST</name>
        <label>Update ST</label>
        <locationX>3306</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Case_Owner_CCO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Comments__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CCO_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancellation Requested</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_Appointment_Screen</name>
        <label>Active Appointment Screen</label>
        <locationX>2382</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Active_Appointment_Messg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 19, 19);&quot;&gt;Cancellation not allowed: A Service Appointment is either created or currently active in stage. Please resolve the Service Appointment status before proceeding with the ticket cancellation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Active_FGR_Screen</name>
        <label>Active FGR Screen</label>
        <locationX>1590</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Active_FGR_Messg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 19, 19);&quot;&gt;Cancellation not allowed: A FGR is either created or currently active in stage. Please resolve the FGR status before proceeding with the ticket cancellation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Active_MR_Screen</name>
        <label>Active MR Screen</label>
        <locationX>2118</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Active_MR_Messg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 19, 19);&quot;&gt;Cancellation not allowed: A MR is either created or currently active in stage. Please resolve the MR  status before proceeding with the ticket cancellation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Active_RMR_Screen</name>
        <label>Active RMR Screen</label>
        <locationX>1854</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Active_RMR_Messg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 19, 19);&quot;&gt;Cancellation not allowed: A RMR is either created or currently active in stage. Please resolve the RMR status before proceeding with the ticket cancellation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Already_ST_Canceled_Screen</name>
        <label>Already ST Canceled Screen</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyCancelMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt;Service ticket already canceled &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Sent_Screen</name>
        <label>Approval Sent Screen</label>
        <locationX>5077</locationX>
        <locationY>3926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>approvalMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(16, 112, 31); font-family: Shne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Approval for PMS ticket cancellation has been sent to KAM for review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancel_ST_For_UPSD</name>
        <label>Cancel ST For UPSD</label>
        <locationX>2910</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ST_Cancel</name>
            <extensionName>c:otpCancelationForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancellationReason</name>
                <value>
                    <elementReference>Cancellation_Reason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comment</name>
                <value>
                    <elementReference>Comment</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Cancelation_Reason</name>
        <label>Capture Cancelation Reason</label>
        <locationX>4367</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PMS</targetReference>
        </connector>
        <fields>
            <name>Capture_Cancelation_Reason_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Cancelation_Reason_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cancellation_Reason</name>
                    <choiceReferences>cancellationReasonValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cancellation Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comment</name>
                    <fieldText>Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Cancelation_Reason_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Already_ST_Canceled_Screen</name>
        <label>Copy 1 of Already ST Canceled Screen</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_AlreadyCancelMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Cancellation is already requested on this service ticket.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Approval_Pending_Screen</name>
        <label>Approval Pending Screen</label>
        <locationX>2646</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_approvalPendingMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(247, 19, 19);&quot;&gt;Service Ticket approval in Pending Stage. Please approve/reject or recall the approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Approval_Sent_Screen</name>
        <label>Copy 1 of Approval Sent Screen</label>
        <locationX>5605</locationX>
        <locationY>3926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_approvalMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Shne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; color: rgb(16, 112, 31);&quot;&gt;Approval for ticket cancellation has been sent to SDE for review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Capture_Cancelation_Reason</name>
        <label>Copy 1 of Capture Cancelation Reason</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Service_Ticket_Status</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Capture_Cancelation_Reason_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Capture_Cancelation_Reason_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CacellationReasonCBO</name>
                    <fieldText>&lt;p&gt;Cancellation Reason&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Work_Order_Details.Cancellation_Reason__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Comment</name>
                    <fieldText>Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Capture_Cancelation_Reason_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Division_not_Present</name>
        <label>Copy 1 of Division not Present</label>
        <locationX>5374</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(182, 29, 69);&quot;&gt;Division not present. Please tag division on Asset/Case first.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_RequestSubmitted</name>
        <label>RequestSubmitted</label>
        <locationX>5638</locationX>
        <locationY>2702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_RequestSucc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(44, 131, 86);&quot;&gt;Cancellation request has been submitted.&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(42, 154, 35);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_ST_Inactive_Stage</name>
        <label>Copy 1 of ST Inactive Stage</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_StInactiveStageMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 18, 18);&quot;&gt;You can&apos;t cancel the service ticket when the status is Pending. If any approval is pending then please approve/reject/recall.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Division_not_Present</name>
        <label>Division not Present</label>
        <locationX>3614</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(182, 29, 69);&quot;&gt;Division not present. Please tag division on Asset/Case first.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KAM_not_present</name>
        <label>KAM not present</label>
        <locationX>5341</locationX>
        <locationY>3710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>KAM_not_present_messg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: ui-sans-serif, -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, Helvetica, &amp;quot;Apple Color Emoji&amp;quot;, Arial, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(244, 8, 8);&quot;&gt;The KAM is not present for the tagged account, so we can&apos;t send approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequestSubmitted</name>
        <label>RequestSubmitted</label>
        <locationX>3306</locationX>
        <locationY>2570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RequestSucc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(44, 131, 86);&quot;&gt;Cancellation request has been submitted.&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(42, 154, 35);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RM_not_present</name>
        <label>RM not present</label>
        <locationX>5869</locationX>
        <locationY>3710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_KAM_not_present_messg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: ui-sans-serif, -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, Helvetica, &amp;quot;Apple Color Emoji&amp;quot;, Arial, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(244, 8, 8);&quot;&gt;The RM is not present for the tagged account, so we can&apos;t send approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ST_Inactive_Stage</name>
        <label>ST Inactive Stage</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StInactiveStageMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 18, 18);&quot;&gt;You can&apos;t cancel the service ticket when the status is Completed, Rejected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cancelMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Shne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; color: rgb(33, 154, 59);&quot;&gt;Service ticket successfully canceled&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>735</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedPMS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CancelledPMS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceipintIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIdKAM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIdKM1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdRM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSdeId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
