HVAC Backup 2/flows/Quote_Line_Migration_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_pricebook</name>
        <label>Assign pricebook</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>pricebookentry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chec_pricebook_entry</name>
        <label>Chec pricebook entry</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>create_pricebook_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriceBook_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Record</targetReference>
            </connector>
            <label>if found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote Line Migration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Migration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_pricebook_entry</name>
        <label>create pricebook entry</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignRecordIdToReference>pricebookentryid</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_pricebook</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Quote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PriceBook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAP_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook_Entry</name>
        <label>Get PriceBook Entry</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chec_pricebook_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.Product2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>pricebookentryid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Number_Backend__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Record</name>
        <label>Update Current Record</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Downloading_value__c</field>
            <value>
                <elementReference>Get_Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId__c</field>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <elementReference>pricebookentryid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <object>Quote_Line_Migration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>pricebookentry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pricebookentryid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
