HVAC Backup 2/flows/Record_Triggered_Finalise_Sales_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asset_assignemnt</name>
        <label>Asset assignemnt</label>
        <locationX>402</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>assetInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.Asset__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetInstance.Conversion_Opportunity_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetInstance.Conversion_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_a_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_a_collection</name>
        <label>Assign to a collection</label>
        <locationX>402</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItemInstance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_quote_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityLineItemAssignemnt</name>
        <label>OpportunityLineItemAssignemnt</label>
        <locationX>402</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.Net_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.Last_Year_Price_for_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.Last_Year_Price_for_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.Standard_Price_for_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_quote_lines.Standard_Price_for_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItemInstance.Downloading_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>downloadingValueFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_assignemnt</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_by_pass</name>
        <label>check by pass</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>by_pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.By_Pass_QLI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>by pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NOT AMC</defaultConnectorLabel>
        <rules>
            <name>AMC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_by_pass</targetReference>
            </connector>
            <label>AMC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Opportunity_LineItems</name>
        <label>Checking Opportunity LineItems</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_LineItems_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opportunity_Line_Items</targetReference>
            </connector>
            <label>Opportunity LineItems Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>downloadingValueFormula</name>
        <dataType>Number</dataType>
        <expression>if( AND({!Loop_over_quote_lines.Revised_Download_Value__c}!=null, {!Loop_over_quote_lines.Revised_Download_Value__c}&gt;0 ),{!Loop_over_quote_lines.Revised_Download_Value__c},{!Loop_over_quote_lines.Standard_Downloading_Value__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Record Triggered Finalise Sales Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Finalise Sales Quote</label>
    <loops>
        <name>Loop_over_quote_lines</name>
        <label>Loop over quote lines</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpportunityLineItemAssignemnt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OpportunityLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OpportunityLineItems</name>
        <label>Create OpportunityLineItems</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <inputReference>OpportunityLineItems</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Opportunity_Line_Items</name>
        <label>Delete Opportunity Line Items</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Quote_Lines</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Opportunity_LineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>314</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_quote_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>1835</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_to_customer__c</field>
            <value>
                <elementReference>$Record.Invoice_to_customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Party__c</field>
            <value>
                <elementReference>$Record.Ship_to_Party__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Finalised__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assetInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineItemInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
