HVAC Backup 2/flows/Service_Ticket_Travel_Amount_Assignment_on_work_started.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignTravelAllowance</name>
        <label>AssignTravelAllowance</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Travel_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTravelAllowanceRecord.Rate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ServiceTicketPincode_Division</name>
        <label>ServiceTicketPincode/Division</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContainsPincode_Division</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.Service_Department_L__r.Department_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTravelAllowanceRecord</targetReference>
            </connector>
            <label>ContainsPincode/Division</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Ticket - Travel Amount Assignment on work started {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Ticket - Travel Amount Assignment on work started</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTravelAllowanceRecord</name>
        <label>getTravelAllowanceRecord</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTravelAllowance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.Service_Department_L__r.Department_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pincode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP__r.CP_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Travel_Allowance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ServiceTicketPincode_Division</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
