HVAC Backup 2/flows/Service_Territory_creation_with_Account_creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>check_if_Test_Running</name>
        <label>check if Test Running</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_test_class_not_running</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.By_Pass_Validation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_type_name</targetReference>
            </connector>
            <label>if test class not running</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Channel_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_type_name.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operating_Hours</targetReference>
            </connector>
            <label>Is Channel Partner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>locationName</name>
        <dataType>String</dataType>
        <expression>{!$Record.CP_Code__c}&amp; &quot; - &quot;&amp;{!$Record.BillingPostalCode} + &apos; Warehouse&apos;</expression>
    </formulas>
    <formulas>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <expression>{!$Record.CP_Code__c}&amp; &quot; - &quot;&amp;{!$Record.BillingPostalCode}</expression>
    </formulas>
    <interviewLabel>Service Territory creation with Account creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Territory creation with Account creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CP_Location</name>
        <label>Create CP Location</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Channel_Partner_Assigned__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsInventoryLocation</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMobile</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>locationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse_Type__c</field>
            <value>
                <stringValue>CP</stringValue>
            </value>
        </inputAssignments>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Territory</name>
        <label>Create Service Territory</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Create_CP_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>Channel_Partner_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceTerritoryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingHoursId</field>
            <value>
                <elementReference>Operating_Hours.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_record_type_name</name>
        <label>Get record type name</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Channel Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Operating_Hours</name>
        <label>Operating Hours</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blue Star Operating Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_if_Test_Running</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
