HVAC Backup 2/flows/Service_Ticket_Assign_Work_Type_on_Service_Ticket.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Work_Type</name>
        <label>Assign Work Type</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.Product_Family__r.Work_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_WT</name>
        <label>Assign WT</label>
        <locationX>2250</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_Work_Types.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_WT</name>
        <label>Copy 1 of Assign WT</label>
        <locationX>1986</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_Work_Types.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Work_Type</name>
        <label>Copy 2 of Assign Work Type</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.Product_Sub_Family__r.Work_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_WT</name>
        <label>Copy 2 of Assign WT</label>
        <locationX>1722</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Types.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Work_Type</name>
        <label>Copy 3 of Assign Work Type</label>
        <locationX>1502</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Work_Type</name>
        <label>Copy 4 of Assign Work Type</label>
        <locationX>754</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWorkType.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Work_Type</name>
        <label>Copy 5 of Assign Work Type</label>
        <locationX>1018</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_getWorkType.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_6of_Assign_Work_Type</name>
        <label>Copy 6 of Assign Work Type</label>
        <locationX>1282</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_3_of_getWorkType.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_the_product_family_and_sub_family</name>
        <label>Check the product family and sub family</label>
        <locationX>2118</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scroll_chiller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset.Product_Sub_Family__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Scroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Types</targetReference>
            </connector>
            <label>Scroll chiller</label>
        </rules>
        <rules>
            <name>Screw_Chiller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset.Product_Sub_Family__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Screw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Work_Types</targetReference>
            </connector>
            <label>Screw Chiller</label>
        </rules>
        <rules>
            <name>VRFV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset.Product_Family__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VRF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Work_Types</targetReference>
            </connector>
            <label>VRF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Family_SubFamily</name>
        <label>Family/SubFamily?</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset.Product_Sub_Family__r.Work_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Work_Type</targetReference>
            </connector>
            <label>Sub Family</label>
        </rules>
        <rules>
            <name>Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset.Product_Family__r.Work_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Type</targetReference>
            </connector>
            <label>Family</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMS_Regular_Service_Installation_Record_Type</name>
        <label>PMS/Regular Service/Installation Record Type</label>
        <locationX>1502</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PMS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Family_SubFamily</targetReference>
            </connector>
            <label>PMS</label>
        </rules>
        <rules>
            <name>Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductServiceDepartment52_RAD_43_WPD</targetReference>
            </connector>
            <label>Installation</label>
        </rules>
        <rules>
            <name>Commissioning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Commissioning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_product_family_and_sub_family</targetReference>
            </connector>
            <label>Commissioning</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductServiceDepartment52_RAD_43_WPD</name>
        <label>ProductServiceDepartment52-RAD/43-WPD</label>
        <locationX>1150</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X52_RAD</name>
            <conditionLogic>(2 AND 1) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case.Product.Product_Family__r.Service_Department_No__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>52-RAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Product_Sub_Family_temp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Product_Sub_Family_temp__r.Parent_Product_Family__r.Service_Department_No__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>52-RAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkType</targetReference>
            </connector>
            <label>52-RAD</label>
        </rules>
        <rules>
            <name>X43_WPD</name>
            <conditionLogic>(2 AND 1) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case.Product.Product_Family__r.Service_Department_No__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>43-WPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Product_Sub_Family_temp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Product_Sub_Family_temp__r.Parent_Product_Family__r.Service_Department_No__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>43-WPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_getWorkType</targetReference>
            </connector>
            <label>43-WPD</label>
        </rules>
        <rules>
            <name>Ducted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ducted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_getWorkType</targetReference>
            </connector>
            <label>Ducted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Ticket - Assign Work Type on Service Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Ticket - Assign Work Type on Service Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Work_Types</name>
        <label>Copy 1 of Get Work Types</label>
        <locationX>1986</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_WT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Commissioning - Screw Chiller</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Work_Types</name>
        <label>Copy 2 of Get Work Types</label>
        <locationX>2250</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Commissioning - VRF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_getWorkType</name>
        <label>Copy 2 of getWorkType</label>
        <locationX>1018</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_5_of_Assign_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation-43-WPD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_getWorkType</name>
        <label>Copy 3 of getWorkType</label>
        <locationX>1282</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_6of_Assign_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Installation-Ducted and Package Units</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Id</name>
        <label>Get Work Type Id</label>
        <locationX>1502</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Assign_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Types</name>
        <label>Get Work Types</label>
        <locationX>1722</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assign_WT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Commissioning - Scroll Chiller</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkType</name>
        <label>getWorkType</label>
        <locationX>754</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Assign_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation-52-RAD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PMS_Regular_Service_Installation_Record_Type</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
