HVAC Backup 2/flows/Show_Aged_Machine_Warning_On_Opportunity_Stage_Quotation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Get_Aged_Machine_Names</name>
        <label>Get Aged Machine Names</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AgedMachine</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>For_All_Aged_Machine.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_All_Aged_Machine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Asset_Ids</name>
        <label>Get Asset Ids</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AssetIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_All_Products.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_All_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_there_is_aged_machine</name>
        <label>If there is aged machine</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>No_Machine_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>if true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Show Aged Machine Warning On Opportunity Stage Quotation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Aged Machine Warning On Opportunity Stage Quotation</label>
    <loops>
        <name>For_All_Aged_Machine</name>
        <label>For All Aged Machine</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Aged_Machine_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_there_is_aged_machine</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_All_Products</name>
        <label>For All Products</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>OpportunityLineCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Asset_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_All_Aged_Machine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AssetIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Age_Of_Machine__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Id</name>
        <label>Get Opportunity Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_All_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OpportunityLineCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset__c</queriedFields>
    </recordLookups>
    <screens>
        <name>No_Machine_Found</name>
        <label>No Machine Found</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;No Aged Machine Found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 13.3333px; background-color: rgb(255, 255, 255);&quot;&gt;There are &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!counter} Aged machines,&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 13.3333px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 13.3333px;&quot;&gt;Go with Labour AMC instead of RPC.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgedMachine</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
