HVAC Backup 2/flows/Technician_Onboarding_Screen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_new_Record</name>
        <label>Navigate to new Record</label>
        <locationX>578</locationX>
        <locationY>2762</locationY>
        <actionName>c:NavigateToNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>NewRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Sde</name>
        <label>Submit to Sde</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Navigate_to_new_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SDE_Not_present</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>NewRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_to_sde_for_technicianonboarding</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_comma</name>
        <label>assign comma</label>
        <locationX>798</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>deptText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_dept_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_ids</name>
        <label>assign to ids</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>deptText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_dept_ids.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_comma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordIds</name>
        <label>recordId</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uploadImage_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A</name>
        <choiceText>A+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A+</stringValue>
        </value>
    </choices>
    <choices>
        <name>AB</name>
        <choiceText>AB+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AB+</stringValue>
        </value>
    </choices>
    <choices>
        <name>ABNeg</name>
        <choiceText>AB-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AB-</stringValue>
        </value>
    </choices>
    <choices>
        <name>ANeg</name>
        <choiceText>A-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A-</stringValue>
        </value>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bengali</name>
        <choiceText>Bengali</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bengali</stringValue>
        </value>
    </choices>
    <choices>
        <name>BNeg</name>
        <choiceText>B-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B-</stringValue>
        </value>
    </choices>
    <choices>
        <name>Breakdown</name>
        <choiceText>Breakdown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Breakdown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Commissioning</name>
        <choiceText>Commissioning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commissioning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contractual</name>
        <choiceText>Contractual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Demo</name>
        <choiceText>Demo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gujarati</name>
        <choiceText>Gujarati</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gujarati</stringValue>
        </value>
    </choices>
    <choices>
        <name>Helper</name>
        <choiceText>Helper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Helper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hindi</name>
        <choiceText>Hindi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindi</stringValue>
        </value>
    </choices>
    <choices>
        <name>InReview</name>
        <choiceText>In Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Installation</name>
        <choiceText>Installation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Installation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Junior</name>
        <choiceText>Junior</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Junior</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kannada</name>
        <choiceText>Kannada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kannada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Malayalam</name>
        <choiceText>Malayalam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Malayalam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marathi</name>
        <choiceText>Marathi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marathi</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoKYC</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>O</name>
        <choiceText>O+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>O+</stringValue>
        </value>
    </choices>
    <choices>
        <name>Odia</name>
        <choiceText>Odia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Odia</stringValue>
        </value>
    </choices>
    <choices>
        <name>ONeg</name>
        <choiceText>O-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>O-</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>PDI</name>
        <choiceText>PDI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PDI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>PMS</name>
        <choiceText>PMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Punjabi</name>
        <choiceText>Punjabi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Punjabi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regular</name>
        <choiceText>Regular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </choices>
    <choices>
        <name>Regular_Service</name>
        <choiceText>Regular Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Senior</name>
        <choiceText>Senior</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Senior</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisor</name>
        <choiceText>Supervisor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supervisor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tamil</name>
        <choiceText>Tamil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tamil</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telugu</name>
        <choiceText>Telugu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telugu</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urdu</name>
        <choiceText>Urdu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urdu</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesKYC</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YespE</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>comma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>age_check</name>
        <label>age check</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>datemessgae</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>agevalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgeNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>calculatedate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_dept_ids_is_not_null</targetReference>
            </connector>
            <label>age</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Duplicate_Error</name>
        <label>check if Duplicate Error</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_2_of_Copy_1_of_Error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Duplicate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_message</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
        <rules>
            <name>Addhar_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>numeric Aadhar number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Error_message</targetReference>
            </connector>
            <label>Addhar valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SDE</name>
        <label>Check SDE</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Technician_On_Boarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_SDE_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Current_User.Account.SDE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Current_User.Account.SDE__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_SDE_Not_present</targetReference>
            </connector>
            <label>IS SDE Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkID</name>
        <label>check Id</label>
        <locationX>842</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>messgae</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Sde</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_if_Duplicate_Error</name>
        <label>Copy 1 of check if Duplicate Error</label>
        <locationX>2030</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Duplicate Aadhar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Error_message</targetReference>
            </connector>
            <label>Copy 1 of Duplicate</label>
        </rules>
        <rules>
            <name>aadhar_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>numeric Aadhar number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Error_message</targetReference>
            </connector>
            <label>aadhar Valid</label>
        </rules>
        <rules>
            <name>phoneCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Phone number </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Error_message</targetReference>
            </connector>
            <label>phoneCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_dept_ids_is_not_null</name>
        <label>if dept ids is not null</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>get_existing_contact_if_any</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectDepartment.recordIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectDepartment.recordIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_department</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>previous_contact</name>
        <label>previous contact</label>
        <locationX>842</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Technician_Contact_under_Dealer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_existing_contact_if_any</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_existing_contact_if_any</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Technician_Contact_under_Dealer</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Department</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Department__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>departmentIds</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Department__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>calculatedate</name>
        <dataType>Boolean</dataType>
        <expression>YEAR( TODAY() ) - YEAR( {!Date_of_Birth})&gt;18</expression>
    </formulas>
    <interviewLabel>Technician Onboarding Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technician Registration Form</label>
    <loops>
        <name>loop_through_dept_ids</name>
        <label>loop through dept ids</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <collectionReference>get_department</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_to_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_existing_contact_if_any</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Technician_Contact_under_Dealer</name>
        <label>Copy 1 of Create  Technician Contact under Dealer</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>NewRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>recordIds</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_check_if_Duplicate_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Aadhar_Number__c</field>
            <value>
                <elementReference>Aadhar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Current_User.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>EPIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Joining__c</field>
            <value>
                <elementReference>Date_of_Joining</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>deptText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driving_License_Number__c</field>
            <value>
                <elementReference>Driving_License_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Type__c</field>
            <value>
                <elementReference>Employment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience__c</field>
            <value>
                <elementReference>Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenderIdentity</field>
            <value>
                <elementReference>GenderPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMEI__c</field>
            <value>
                <elementReference>IMEI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KYC__c</field>
            <value>
                <elementReference>KYC1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language_Prefe__c</field>
            <value>
                <elementReference>Language_Preference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>techAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>techAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>techAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>techAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Insurance__c</field>
            <value>
                <elementReference>Medical_Insurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PF_Number__c</field>
            <value>
                <elementReference>PF_NUmber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Employer__c</field>
            <value>
                <elementReference>Previous_Employers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Organisation__c</field>
            <value>
                <elementReference>Previous_Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualification__c</field>
            <value>
                <elementReference>Qualification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Record_type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Technician</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDE__c</field>
            <value>
                <elementReference>get_Current_User.Account.SDE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skills__c</field>
            <value>
                <elementReference>Skill_Set</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Category__c</field>
            <value>
                <elementReference>Technician_Category</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Technician_Contact_under_Dealer</name>
        <label>Create  Technician Contact under Dealer</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>NewRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>recordIds</targetReference>
        </connector>
        <faultConnector>
            <targetReference>check_if_Duplicate_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Aadhar_Number__c</field>
            <value>
                <elementReference>Aadhar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Current_User.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>EPIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Joining__c</field>
            <value>
                <elementReference>Date_of_Joining</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>deptText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driving_License_Number__c</field>
            <value>
                <elementReference>Driving_License_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Type__c</field>
            <value>
                <elementReference>Employment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Contact__c</field>
            <value>
                <elementReference>get_existing_contact_if_any.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience__c</field>
            <value>
                <elementReference>Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenderIdentity</field>
            <value>
                <elementReference>GenderPL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMEI__c</field>
            <value>
                <elementReference>IMEI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRehired__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KYC__c</field>
            <value>
                <elementReference>KYC1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language_Prefe__c</field>
            <value>
                <elementReference>Language_Preference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>techAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>techAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>techAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>techAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Insurance__c</field>
            <value>
                <elementReference>Medical_Insurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PF_Number__c</field>
            <value>
                <elementReference>PF_NUmber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Employer__c</field>
            <value>
                <elementReference>Previous_Employers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Organisation__c</field>
            <value>
                <elementReference>Previous_Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualification__c</field>
            <value>
                <elementReference>Qualification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Record_type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Technician</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDE__c</field>
            <value>
                <elementReference>get_Current_User.Account.SDE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skills__c</field>
            <value>
                <elementReference>Skill_Set</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Category__c</field>
            <value>
                <elementReference>Technician_Category</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>get_Current_User</name>
        <label>get  Contact from Current User</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SDE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_department</name>
        <label>get department</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_dept_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectDepartment.recordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Department__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_existing_contact_if_any</name>
        <label>get existing contact if any</label>
        <locationX>842</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>previous_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aadhar_Number_Virtual__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Aadhar_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Record_type_Id</name>
        <label>get Record type Id</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TechnicianContact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_records</name>
        <label>get records</label>
        <locationX>842</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Error_message</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 2 of Copy 1 of Error message</label>
        <locationX>2162</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 14, 14);&quot;&gt;Duplicate phone number detected. Please enter a different number.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Error_message</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Copy 1 of Error message</label>
        <locationX>1898</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 20, 20);&quot;&gt;Failed to create Technician record due to an invalid Aadhar number. Please provide a valid 12-digit numeric Aadhar.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Error_message</name>
        <label>Copy 1 of Copy 1 of Error message</label>
        <locationX>1634</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 18, 18); font-size: 14px;&quot;&gt;Technician record creation failed: Duplicate Aadhar number detected&lt;/strong&gt;&lt;strong style=&quot;color: rgb(215, 27, 27);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Error_message</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Error message</label>
        <locationX>2426</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_2_of_Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(247, 19, 19);&quot;&gt;Technician record creation failed. Please review all details and try again, or contact the admin for assistance. {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_message</name>
        <label>Copy 1 of Error message</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 20, 20); background-color: rgb(255, 255, 255);&quot;&gt;Failed to create Technician record due to an invalid Aadhar number. Please provide a valid 12-digit numeric Aadhar.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Copy_1_of_Copy_2_of_Copy_1_of_Error_message</name>
        <label>Copy 2 of Copy 1 of Copy 2 of Copy 1 of Error message</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_Copy_2_of_Copy_1_of_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 19, 19); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Technician record creation failed. Please review all details and try again, or contact the admin for assistance.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Copy_1_of_Error_message</name>
        <label>Copy 2 of Copy 1 of Error message</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 20, 20); background-color: rgb(255, 255, 255);&quot;&gt;Failed to create Technician record due to an invalid Aadhar number. Please provide a valid 12-digit numeric Aadhar.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_SDE_Not_present</name>
        <label>Copy 2 of SDE Not present</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_SDEBlank</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 11, 11);&quot;&gt;Note&lt;/strong&gt;&lt;strong&gt;: SDE not mentioned in your Portal Account,&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please Contact your SDE and inform.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>datemessgae</name>
        <label>datemessgae</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dateMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(247, 10, 10);&quot;&gt;Error:  Age should not be less than 18.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>messgae</name>
        <label>messgae</label>
        <locationX>1106</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>mess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(189, 26, 26);&quot;&gt;Please upload file to complete onboard process&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SDE_Not_present</name>
        <label>SDE Not present</label>
        <locationX>842</locationX>
        <locationY>2762</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SDEBlank</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 11, 11);&quot;&gt;Note&lt;/strong&gt;&lt;strong&gt;: SDE not mentioned in your Portal Account,&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please Contact your SDE and inform.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Technician_On_Boarding</name>
        <label>Technician Registration Form</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>age_check</targetReference>
        </connector>
        <fields>
            <name>Personal_Information</name>
            <fieldText>Personal Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^[\d]{10,10}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AgeNumber</name>
                    <dataType>Number</dataType>
                    <fieldText>Age</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter valid age it should be above 18 years&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!AgeNumber} &gt; 18</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid date of birth&lt;/p&gt;</errorMessage>
                        <formulaExpression>YEAR(TODAY() ) - YEAR ({!Date_of_Birth}) &gt;= 18</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Experience</name>
                    <dataType>String</dataType>
                    <fieldText>Experience</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Previous_Employers</name>
                    <choiceReferences>YespE</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Previous Employer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Previous_Organisation</name>
                    <dataType>String</dataType>
                    <fieldText>Previous Organisation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Previous_Employers</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>YespE</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Language_Preference</name>
                    <choiceReferences>Bengali</choiceReferences>
                    <choiceReferences>Hindi</choiceReferences>
                    <choiceReferences>English</choiceReferences>
                    <choiceReferences>Kannada</choiceReferences>
                    <choiceReferences>Malayalam</choiceReferences>
                    <choiceReferences>Marathi</choiceReferences>
                    <choiceReferences>Tamil</choiceReferences>
                    <choiceReferences>Telugu</choiceReferences>
                    <choiceReferences>Urdu</choiceReferences>
                    <choiceReferences>Odia</choiceReferences>
                    <choiceReferences>Punjabi</choiceReferences>
                    <choiceReferences>Gujarati</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Language Preference</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>techAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>street</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>city</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>state</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>postalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Search Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GenderPL</name>
                    <choiceReferences>Female</choiceReferences>
                    <choiceReferences>Male</choiceReferences>
                    <choiceReferences>Others</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Blood_Group_pl</name>
                    <choiceReferences>A</choiceReferences>
                    <choiceReferences>ANeg</choiceReferences>
                    <choiceReferences>B</choiceReferences>
                    <choiceReferences>BNeg</choiceReferences>
                    <choiceReferences>O</choiceReferences>
                    <choiceReferences>ONeg</choiceReferences>
                    <choiceReferences>AB</choiceReferences>
                    <choiceReferences>ABNeg</choiceReferences>
                    <choiceReferences>Others</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Blood Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Qualification</name>
                    <dataType>String</dataType>
                    <fieldText>Qualification</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Technician_Category</name>
                    <choiceReferences>Supervisor</choiceReferences>
                    <choiceReferences>Helper</choiceReferences>
                    <choiceReferences>Senior</choiceReferences>
                    <choiceReferences>Junior</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Technician Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Skill_Set</name>
                    <choiceReferences>Breakdown</choiceReferences>
                    <choiceReferences>Installation</choiceReferences>
                    <choiceReferences>Regular_Service</choiceReferences>
                    <choiceReferences>PMS</choiceReferences>
                    <choiceReferences>PDI</choiceReferences>
                    <choiceReferences>Demo</choiceReferences>
                    <choiceReferences>Commissioning</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Skill Set</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SelectDepartment</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Department_lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Department</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordIds</name>
                        <value>
                            <elementReference>SelectDepartment.recordIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_of_Joining</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Joining</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Employment_Type</name>
                    <choiceReferences>Contractual</choiceReferences>
                    <choiceReferences>Regular</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Employment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IMEI</name>
                    <dataType>String</dataType>
                    <fieldText>IMEI</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Identity_Certificate</name>
            <fieldText>Identity  Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Identity_Certificate_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Driving_License_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Driving License Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Driving_License_Expiry_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Driving License Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PF_NUmber</name>
                    <dataType>String</dataType>
                    <fieldText>PF Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Medical_Insurance</name>
                    <dataType>String</dataType>
                    <fieldText>Medical Insurance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Identity_Certificate_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Aadhar_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Aadhar Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>KYC1</name>
                    <choiceReferences>YesKYC</choiceReferences>
                    <choiceReferences>NoKYC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>KYC</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EPIC</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>uploadImage_Screen</name>
        <label>uploadImage Screen</label>
        <locationX>842</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_records</targetReference>
        </connector>
        <fields>
            <name>uploadImage_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>uploadImage_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Uploadmessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(61, 107, 199); font-size: 14px;&quot;&gt;Upload the Image and necessary Document to complete the on boarding process&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ImagesUpload</name>
            <extensionName>c:callImageContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>uploadImage_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>uploadImage_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Record_type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new Technician has on boarded for dealer {!get_Current_User.Account.Name} Please check&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Technician Onboarded&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Depart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </variables>
    <variables>
        <name>depIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>deptText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HoverDOc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Upload Qualification and Experience Certificate</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NUmberDoc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberDriving</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>postalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
