HVAC Backup 2/flows/Technician_Termination_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_contact_ID</name>
        <label>Assign contact ID</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_Contact_ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_Contact_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_IDs</name>
        <label>Assign selected IDs</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_selected_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_selected_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedContactID</name>
        <label>selectedContactID</label>
        <locationX>138</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>selectedContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_contact_id.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_contact_id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_user_selected</name>
        <label>check user selected?</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>techselect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectUsers.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectUsers.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_selected_User</targetReference>
            </connector>
            <label>user selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>collChoice</name>
        <collectionReference>get_Technician_User</collectionReference>
        <dataType>String</dataType>
        <displayField>Username</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Technician Termination flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technician Termination flow</label>
    <loops>
        <name>Loop_for_contact_id</name>
        <label>Loop for contact id</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <collectionReference>get_selected_Ids_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>selectedContactID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_selected_contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_for_Contact_ids</name>
        <label>loop for Contact ids</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <collectionReference>get_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contact_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Technician_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_for_selected_User</name>
        <label>loop for selected User</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>selectUsers.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_selected_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_selected_Ids_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Technician_Record_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record_of_current_user.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_of_current_user</name>
        <label>Get Contact Record of current user</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_current_user_account.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_current_user_account</name>
        <label>get current user account</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record_of_current_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Records</name>
        <label>get Records</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_for_Contact_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Technician_Record_types.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_selected_contact</name>
        <label>get selected contact</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Termination_reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_selected_Ids_record</name>
        <label>get selected Ids record</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_contact_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Technician_Record_types</name>
        <label>Get Technician Record types</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TechnicianContact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Technician_User</name>
        <label>get Technician</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Technician_Termination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>deactivate_Service_resource</name>
        <label>deactivate Service resource</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>MessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Termination_reason</name>
        <label>update Termination reason</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>deactivate_Service_resource</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_MessScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedContactIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aadhar_Number_Virtual__c</field>
            <value>
                <elementReference>get_selected_contact.Aadhar_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aadhar_Number__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Reason__c</field>
            <value>
                <elementReference>Reason_for_Termination</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_MessScreen</name>
        <label>Copy 1 of MessScreen</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(231, 82, 62);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MessScreen</name>
        <label>MessScreen</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(67, 225, 62);&quot;&gt;Technician Terminated Successfully.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Technician_Termination</name>
        <label>Technician Termination</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_user_selected</targetReference>
        </connector>
        <fields>
            <name>selectUsers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_Technician_User</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1e08&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-dc2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Reason_for_Termination</name>
            <dataType>String</dataType>
            <fieldText>Reason for Termination</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>techselect</name>
        <label>techselect</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>nouser</name>
            <fieldText>&lt;p&gt;Please select Technician&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_current_user_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
