HVAC Backup 2/flows/Update_Download_Value_for_Contract_line_items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_CP_Value</name>
        <label>assign CP Value</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>CPDownload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDownloadValue.CP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalDV</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculatedownloadValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_download</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_std_price_of_asset</name>
        <label>Assign std price of asset</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>assetPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountedPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDownloadValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_std_price_of_asset</name>
        <label>Copy 1 of Assign std price of asset</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>assetPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Standard_Price_for_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDownloadValue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_discount</name>
        <label>check discount</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>getDownloadValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>discount_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Net_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Standard_Downloading_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_std_price_of_asset</targetReference>
            </connector>
            <label>discount update</label>
        </rules>
        <rules>
            <name>Initial_DV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Standard_Downloading_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_std_price_of_asset</targetReference>
            </connector>
            <label>Initial DV</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_get_record_not_null</name>
        <label>if get record not null</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDownloadValue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CP_Value</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculatedownloadValue</name>
        <dataType>Number</dataType>
        <expression>({!getDownloadValue.CP__c}/100)*{!$Record.Net_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DiscountedPrice</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CP__c}*{!$Record.Net_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Download Value for Contract line items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Download Value for Contract line items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_triggering</name>
        <label>get triggering</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDownloadValue</name>
        <label>getDownloadValue</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_get_record_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Combined_String__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Combined_String__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Downloading_Matrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_download</name>
        <label>update download</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>CP__c</field>
            <value>
                <elementReference>getDownloadValue.CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard_Downloading_Value__c</field>
            <value>
                <elementReference>finalDV</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_triggering</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 5 ) OR (1 AND 3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Standard_Downloading_Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Standard_Downloading_Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Net_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CONTRACT_MANPOWER</stringValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assetPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CPDownload</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>diTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>finalDV</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
