HVAC Backup 2/flows/Update_Address_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Asset_Address_Update_Failed</name>
        <label>Asset Address Update Failed</label>
        <locationX>930</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Status_Rejected</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>get_org_wide_email_address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Asset Address Update Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Asset_temp</name>
        <label>Assign Asset temp</label>
        <locationX>754</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>AssetTemp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.House_Flat_BlockNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.Shipping_House_Flat_BlockNo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.Shipping_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Sub_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.Shipping_Sublocality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Sector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.Shipping_Sector__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_New_Account__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Asset_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_to_list</name>
        <label>Assign Asset to list</label>
        <locationX>754</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>930</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_org_wide_email_address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Update_Asset_Customer</name>
        <label>Copy 1 of Update Asset/Customer</label>
        <locationX>930</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Asset_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assets_and_Child_Assets</targetReference>
            </connector>
            <label>Copy 1 of Asset Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Asset_Customer</name>
        <label>Update Asset/Customer</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Customer Address</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Body</name>
        <dataType>String</dataType>
        <expression>&quot;Address update failed on the Asset :&quot; + {!$Record.Asset__r.Name}+&quot;. Please look into the errors: &quot; + {!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>Update Address Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Address Details</label>
    <loops>
        <name>Loop_Over_Assets</name>
        <label>Loop Over Assets</label>
        <locationX>666</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Assets_and_Child_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_temp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assets_and_Child_Assets</name>
        <label>Get Assets and Child Assets</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RootAssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_org_wide_email_address</name>
        <label>get org wide email address</label>
        <locationX>930</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Address_Update_Failed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Sender_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.New_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.New_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.New_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.New_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.New_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_House_Flat_BlockNo__c</field>
            <value>
                <elementReference>$Record.House_Flat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Locality__c</field>
            <value>
                <elementReference>$Record.New_Locality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Sector__c</field>
            <value>
                <elementReference>$Record.New_Sector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Sublocality__c</field>
            <value>
                <elementReference>$Record.New_Sub_Locality__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>666</locationX>
        <locationY>900</locationY>
        <faultConnector>
            <targetReference>Assign_Email</targetReference>
        </faultConnector>
        <inputReference>AssetList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Rejected</name>
        <label>Update Status Rejected</label>
        <locationX>930</locationX>
        <locationY>1332</locationY>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Asset_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Update_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Copy_1_of_Update_Asset_Customer</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
