HVAC Backup 2/flows/Update_Rates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Charges</name>
        <label>Assign Charges</label>
        <locationX>1546</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ST.Visiting_Charges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Rates.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Charges_1</name>
        <label>Assign Charges</label>
        <locationX>1810</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ST.Installation_Charges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Rates.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>1942</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ST.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Charges</name>
        <label>Assign Charges</label>
        <locationX>2074</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ST.Breakdown_Charges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Rates.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Rates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Charges</name>
        <label>Check Charges</label>
        <locationX>1942</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Rates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Rates.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visiting Charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Charges</targetReference>
            </connector>
            <label>Visiting</label>
        </rules>
        <rules>
            <name>Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Rates.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installation Charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Charges_1</targetReference>
            </connector>
            <label>Installation</label>
        </rules>
        <rules>
            <name>Breakdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Rates.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Breakdown Charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Charges</targetReference>
            </connector>
            <label>Breakdown</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Charges_already_present</name>
        <label>Check Charges already present</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visiting_Charges__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Installation_Charges__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Breakdown_Charges__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_ST</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Obligation</name>
        <label>Check Obligation</label>
        <locationX>1051</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Ticket_Obligation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Charges_already_present</targetReference>
            </connector>
            <label>Warranty</label>
        </rules>
        <rules>
            <name>NIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Ticket_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rates0</targetReference>
            </connector>
            <label>NIC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Rates_Present</name>
        <label>Check Rates Present</label>
        <locationX>1260</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Not present</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rates0</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ST</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Recordtype</name>
        <label>Check WO Recordtype</label>
        <locationX>418</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Obligation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>commissioning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Commissioning</stringValue>
                </rightValue>
            </conditions>
            <label>commissioning</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCommissioningRecordType</name>
        <label>checkCommissioningRecordType</label>
        <locationX>1458</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notCommissioning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Commissioning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Rates_Present</targetReference>
            </connector>
            <label>notCommissioning</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>familyCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.AssetId}),{!$Record.Product_Sub_Family_temp__r.Parent_Product_Family__r.Code__c},{!$Record.Asset.Product_Family__r.Code__c})</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>subFamilyCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.AssetId}),{!$Record.Product_Sub_Family_temp__r.Code__c},{!$Record.Asset.Product_Sub_Family__r.Code__c})</expression>
    </formulas>
    <interviewLabel>Update Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Rates on Asset Change</label>
    <loops>
        <name>Loop_Over_Rates</name>
        <label>Loop Over Rates</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Rates0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkCommissioningRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Rates0</name>
        <label>Get Rates</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>familyCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Family_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subFamilyCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rate_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_ST</name>
        <label>Copy 1 of Update ST</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Breakdown_Charges__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Charges__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visiting_Charges__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ST</name>
        <label>Update ST</label>
        <locationX>1128</locationX>
        <locationY>1463</locationY>
        <inputReference>ST</inputReference>
    </recordUpdates>
    <start>
        <locationX>292</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_WO_Recordtype</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; NOT(ISBLANK({!$Record.AssetId}))) || (ISCHANGED({!$Record.Service_Ticket_Obligation__c}) &amp;&amp; NOT(ISBLANK({!$Record.AssetId})))</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ST</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
