HVAC Backup 2/flows/Update_RMR_Section_In_MR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update RMR Section In MR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update RMR Section In MR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Request_Record</name>
        <label>Get Product Request Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_RMR_Section</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RMR_Section</name>
        <label>Update RMR Section</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dispatch_Date__c</field>
            <value>
                <elementReference>$Record.Dispatch_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_No_AWB__c</field>
            <value>
                <elementReference>$Record.Docket_No_AWB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material_Status__c</field>
            <value>
                <elementReference>$Record.Material_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMR_No__c</field>
            <value>
                <elementReference>$Record.ReturnOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Material_Status__c</field>
            <value>
                <elementReference>$Record.Return_Material_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_RMR_Number__c</field>
            <value>
                <elementReference>$Record.SAP_RMR_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Request_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RMR_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
