HVAC Backup 2/flows/Update_Division_On_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Asset_Changed</name>
        <label>Asset Changed?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>( 1 AND 2  ) OR ( 3 AND 2 )</conditionLogic>
            <conditions>
                <leftValueReference>ISNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Product_Family_Change</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>ISNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Sub_Family_temp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Sub_Family_temp__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Case</targetReference>
            </connector>
            <label>Product Family  Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Division On Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Division On Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Case</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Servicable_Division__c</field>
            <value>
                <elementReference>$Record.Product_Sub_Family_temp__r.Parent_Product_Family__r.Service_Department_No__r.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Division__c</field>
            <value>
                <elementReference>$Record.Product_Sub_Family_temp__r.Parent_Product_Family__r.Service_Department_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Sales_Division__c</field>
            <value>
                <elementReference>Get_Asset.Sales_Department_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servicable_Division__c</field>
            <value>
                <elementReference>Get_Asset.Serviceable_Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Division__c</field>
            <value>
                <elementReference>Get_Asset.Service_Department_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asset_Changed</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
