HVAC Backup 2/flows/VRF_Commissioning_FSL_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_woli_to_list</name>
        <label>assign woli to list</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>WOLI_List_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>woliItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_woli_lst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_woli_variables</name>
        <label>Assign woli variables</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Voltage_R_Y__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voltage_R_Y_V</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Voltage_Y_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voltage_Y_B_V</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Voltage_B_R__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voltage_B_R_V</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Voltage_E_N__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voltage_E_N_V</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Comp_1_Amps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compressor_1_Amps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Comp_2_Amps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compressor_2_Amps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Inverter_1_U__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inverter_1_U_A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Inverter_1_V__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inverter_1_V_A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Inverter_1_W__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inverter_1_W_A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Inverter_2_U__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inverter_2_U_A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Inverter_2_V__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inverter_2_V_A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.ODU_Inverter_2_W__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inverter_2_W_A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woliItem.MCB_Rating_Amps_VRF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MCB_Rating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_woli_to_list</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>helptext</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter the qty</stringValue>
        </value>
    </constants>
    <description>woli and wo details save</description>
    <environments>Default</environments>
    <interviewLabel>VRF Commissioning FSL Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VRF Commissioning FSL Flow</label>
    <loops>
        <name>loop_through_woli_lst</name>
        <label>loop through woli lst</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>woliItem</assignNextValueToReference>
        <collectionReference>woliLst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Voltage_and_MCB_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_woli</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_woli_lst</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ODU</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>woliLst</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AHU__c</field>
            <value>
                <elementReference>AHU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compact_cassette__c</field>
            <value>
                <elementReference>Compact_cassette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concealed__c</field>
            <value>
                <elementReference>Concealed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ductable__c</field>
            <value>
                <elementReference>DuctaDuctableble</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_wall__c</field>
            <value>
                <elementReference>High_wall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Large_Cassette__c</field>
            <value>
                <elementReference>Large_LargeCassetteCassette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_Two_Way_Cassette__c</field>
            <value>
                <elementReference>One_Two_Way_Cassette</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others__c</field>
            <value>
                <elementReference>Others</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package__c</field>
            <value>
                <elementReference>Package</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TFA_HRV__c</field>
            <value>
                <elementReference>TFA_HRV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VRF_Discharge_PSI__c</field>
            <value>
                <elementReference>Discharge_PSI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VRF_Suction_PSI__c</field>
            <value>
                <elementReference>Suction_PSI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verticool__c</field>
            <value>
                <elementReference>Verticool</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_woli</name>
        <label>Update woli</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
        <inputReference>WOLI_List_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Indoor_parameters</name>
        <label>Indoor parameters</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Operating_Details</targetReference>
        </connector>
        <fields>
            <name>indoorparamheader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Indoor Parameters&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>High_wall</name>
            <dataType>Number</dataType>
            <fieldText>High wall</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Compact_cassette</name>
            <dataType>Number</dataType>
            <fieldText>Compact cassette</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Large_LargeCassetteCassette</name>
            <dataType>Number</dataType>
            <fieldText>Large Cassette</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Concealed</name>
            <dataType>Number</dataType>
            <fieldText>Concealed</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DuctaDuctableble</name>
            <dataType>Number</dataType>
            <fieldText>Ductable</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Package</name>
            <dataType>Number</dataType>
            <fieldText>Package</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>AHU</name>
            <dataType>Number</dataType>
            <fieldText>AHU</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>One_Two_Way_Cassette</name>
            <dataType>Number</dataType>
            <fieldText>One / Two Way Cassette</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>TFA_HRV</name>
            <dataType>Number</dataType>
            <fieldText>TFA / HRV</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Verticool</name>
            <dataType>Number</dataType>
            <fieldText>Verticool</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Others</name>
            <dataType>Number</dataType>
            <fieldText>Others</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!helptext}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invertor_and_Comp_Details</name>
        <label>Invertor and Comp Details</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_woli_variables</targetReference>
        </connector>
        <fields>
            <name>inverterheader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Inverter and Compressor Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inverter_1_U_A</name>
            <dataType>Number</dataType>
            <fieldText>Inverter 1 U(A)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Inverter_1_V_A</name>
            <dataType>Number</dataType>
            <fieldText>Inverter 1 V(A)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Inverter_1_W_A</name>
            <dataType>Number</dataType>
            <fieldText>Inverter 1 W(A)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Inverter_2_U_A</name>
            <dataType>Number</dataType>
            <fieldText>Inverter 2 U(A)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Inverter_2_V_A</name>
            <dataType>Number</dataType>
            <fieldText>Inverter 2 V(A)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Inverter_2_W_A</name>
            <dataType>Number</dataType>
            <fieldText>Inverter 2 W(A)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Compressor_1_Amps</name>
            <dataType>Number</dataType>
            <fieldText>Compressor 1(Amps)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Compressor_2_Amps</name>
            <dataType>Number</dataType>
            <fieldText>Compressor 2(Amps)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operating_Details</name>
        <label>Operating Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <fields>
            <name>operatingdetailsheader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Operating pressure at Full Load&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Suction_PSI</name>
            <dataType>Number</dataType>
            <fieldText>Suction(PSI)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Discharge_PSI</name>
            <dataType>Number</dataType>
            <fieldText>Discharge(PSI)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Observations_at_the_time_of_commissioning</name>
            <fieldText>Observations at the time of commissioning</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Snag_points_to_be_completed_by_the_installation_team</name>
            <fieldText>Snag points to be completed by the installation team</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Any_other_observation</name>
            <fieldText>Any other observation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Voltage_and_MCB_Details</name>
        <label>Voltage and MCB Details</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invertor_and_Comp_Details</targetReference>
        </connector>
        <fields>
            <name>voltageDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Voltages and MCB Rating - ODU &lt;/u&gt;{!woliItem.Serial_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Voltage_R_Y_V</name>
            <dataType>Number</dataType>
            <fieldText>Voltage R-Y(V)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Voltage_Y_B_V</name>
            <dataType>Number</dataType>
            <fieldText>Voltage Y-B(V)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Voltage_B_R_V</name>
            <dataType>Number</dataType>
            <fieldText>Voltage B-R(V)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Voltage_E_N_V</name>
            <dataType>Number</dataType>
            <fieldText>Voltage E-N(V)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MCB_Rating</name>
            <dataType>Number</dataType>
            <fieldText>MCB Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Indoor_parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLI_List_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>woliItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>woliLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
